In [22]:
#  Import and read
import pandas as pd 
import numpy as np
import json
# Sue Mottet 2-11-2022

# geoJSONifier Function 1

In [4]:
def df_to_geojson(df, properties, lat='LAT', lon='LONG'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

# 2017 Monarch Watch Recovery Data

In [25]:
watch2017_df = pd.read_csv("ft-Monarch Watch 2017 Season Domestic Recoveries - ft-Monarch Watch 2017 Season Domestic Recoveries.csv")
watch2017_df.head()

,TAG,DATE,CITY,STATE/PROV,ZIP/POST,COUNTRY,LAT,LONG,FIRST,NOTES
0,XAT710,8/1/2017,SOUTHWEST HARBOR,ME,4679,USA,44.279865,-68.330071,KHRIS,feeding on 'gay feather' on the coast!
1,XCN101,8/8/2017,KETTERING,OH,45409,USA,39.724144,-84.183354,MARGARET,Son and his best friend found near nature reserve
2,XUC556,8/9/2017,WYOMING,MI,49509,USA,42.883860,-85.706160,PHIL,NaN
3,WPU203,8/11/2017,EAST LANSING,MI,48824,USA,42.653979,-84.492032,OREN,"Children's garden MSU. Have good photos, can s..."
4,XEL625,8/12/2017,FISH CREEK,WI,54212,USA,45.105511,-87.217607,PUM,"Found at nature center, peninsula state park"

In [26]:
watch2017_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854 entries, 0 to 853
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TAG         854 non-null    object
 1   DATE        854 non-null    object
 2   CITY        854 non-null    object
 3   STATE/PROV  854 non-null    object
 4   ZIP/POST    851 non-null    object
 5   COUNTRY     854 non-null    object
 6   LAT         854 non-null    float64
 7   LONG        854 non-null    float64
 8   FIRST       824 non-null    object
 9   NOTES       681 non-null    object
dtypes: float64(2), object(8)
memory usage: 66.8+ KB

In [27]:
watch2017_df.describe()

              LAT        LONG
count  854.000000  854.000000
mean    37.894983  -84.983631
std      5.051397    8.752351
min     26.219063 -105.098843
25%     32.933618  -93.482675
50%     38.974050  -84.207166
75%     42.020752  -76.620148
max     49.904029  -65.517610

In [28]:
watch2017_df.columns.tolist()

['TAG',
 'DATE',
 'CITY',
 'STATE/PROV',
 'ZIP/POST',
 'COUNTRY',
 'LAT',
 'LONG',
 'FIRST',
 'NOTES']

In [29]:
watch2017_df.shape

(854, 10)

In [30]:
# Determine the number of unique values in each column.
for col in watch2017_df:
  print(watch2017_df[col].unique())

['XAT710' 'XCN101' 'XUC556' 'WPU203' 'XEL625' 'XBJ177' 'XAT723' 'XET633'
 'XAM225' 'XAT722' 'XEL109' 'XAM224' 'XCW577' 'XLM251' 'XEJ434' 'SBJ045'
 'XHB353' 'XLY705' 'XAU009' 'XMB000' 'XHT775' 'XER142' 'XAA080' 'XJS277'
 'WSB685' 'XHN560' 'XHB355' 'XEL648' 'XET401' 'XCN054' 'WSB760' 'XNP653'
 'XAT755' 'XCU809' 'XAJ699' 'XBJ646' 'WNG093' 'XBJ800' 'XHA000' 'XCS827'
 'XEL703' 'XPC162' 'XLM343' 'XCR931' 'XJZ283' 'XAP810' 'XBS848' 'XHB027'
 'XCR885' 'XCS656' 'XLB836' 'XLE925' 'XPC209' 'XMX454' 'XRP869' 'XGZ518'
 'XMT628' 'WPU021' 'XMX498' 'XMN050' 'XRS387' 'WJY101' 'XJX650' 'XPP823'
 'XBA077' 'XJW556' 'XAL286' 'XPP438' 'HBB798' 'XAT364' 'XNP966' 'XER635'
 'WBG682' 'XAS453' 'XAX084' 'XBR131' 'XJR954' 'XAL093' 'XCH281' 'XJZ702'
 'XMA117' 'XLB867' 'XHT204' 'XJW932' 'XSB810' 'KRE878' 'XRN699' 'XMU078'
 'XLW157' 'XHA053' 'XRR084' 'XCT882' 'XMX211' 'XHB273' 'XLB879' 'WSB425'
 'XRJ496' 'XJX582' 'SPP878' 'XAL436' 'XEN378' 'XLJ383' 'XLP522' 'XRR248'
 'XAJ211' 'XLM393' 'XEC996' 'XEE063' 'XUC605' 'XLG841' 'XAT830' 'XHG798'
 'XGR802' 'XBT463' 'XRR152' 'XNY547' 'XAA761' 'XTB916' 'XAL948' 'XML173'
 'XCE591' 'XSU684' 'XBT546' 'XPG878' 'XMP906' 'XCH804' 'XUC589' 'XUC465'
 'XUC500' 'XUC553' 'XUC595' 'XUC363' 'XHS462' 'XMA161' 'XUL126' 'XER593'
 'XEE578' 'XRC292' 'XAG328' 'XAL365' 'XAB350' 'XAB671' 'XGS000' 'XRG850'
 'XMN601' 'XPR030' 'XHU864' 'XEY702' 'XEE060' 'XCX618' 'XUC891' 'XAY750'
 'XLB886' 'XMA927' 'XMA928' 'XLG483' 'XPU777' 'XAL562' 'XAB644' 'XRP373'
 'XCG488' 'XTY827' 'XMM566' 'XLJ100' 'XPA634' 'XLY598' 'WPU516' 'XUC626'
 'XAT883' 'XHT245' 'XPU036' 'XRZ181' 'XRR259' 'XUC917' 'XUC692' 'XLB977'
 'XPL526' 'XHT479' 'XUX102' 'XBT614' 'XHA032' 'XHA217' 'XBC890' 'XAT026'
 'XLB969' 'XEJ120' 'XAT738' 'XMB065' 'XRZ399' 'XUS508' 'XHC784' 'XBN255'
 'XRR563' 'XCY888' 'XRR251' 'XRR414' 'XNC903' 'XHR240' 'XCR595' 'XWJ107'
 'XAL785' 'XTR525' 'XLS191' 'XCG490' 'XXM898' 'XLH247' 'XNC906' 'XBB681'
 'XPA471' 'WPU107' 'XUJ208' 'XLC756' 'XHT476' 'XES959' 'XGZ553' 'XAB731'
 'XUE245' 'XUS604' 'XSP833' 'XSM854' 'XSM749' 'XSM870' 'XSM600' 'XSM757'
 'XSM986' 'XSM991' 'XSN070' 'XGS118' 'XGS141' 'XTM379' 'XCR893' 'WCS661'
 'XHJ305' 'XRH995' 'XGA041' 'XEZ561' 'XCN650' 'XCN600' 'XCN654' 'XLY084'
 'XUJ211' 'XLC755' 'XAY863' 'XEL883' 'XJW888' 'XPZ675' 'XWL834' 'XJJ835'
 'XMM632' 'XHA368' 'XPR091' 'XPR130' 'XRR143' 'XWR343' 'XNC907' 'XUH372'
 'XPL058' 'XAT818' 'XAL797' 'XJJ706' 'XBX456' 'XMR973' 'XBA634' 'XNL869'
 'XNY025' 'XUY820' 'XMX073' 'XLC018' 'XAM047' 'XAC649' 'XLL260' 'XBR420'
 'XJX603' 'XAG198' 'XUH355' 'XUH382' 'XCU133' 'XTE017' 'XTE079' 'XAT843'
 'XNB039' 'WNL721' 'XAM177' 'XAB830' 'XBL046' 'XGS168' 'XGX039' 'XLS076'
 'XLX260' 'XLR041' 'XSJ571' 'XUE195' 'XPA892' 'XAG557' 'XSZ132' 'XUN113'
 'SPS826' 'VTC737' 'XMS475' 'XRU687' 'XCP191' 'XGS135' 'XGH483' 'XRE200'
 'XRW160' 'XPL078' 'XUS507' 'SPM375' 'XNJ576' 'XUW807' 'XMM645' 'XBE524'
 'XGT924' 'XGT093' 'XHA606' 'XEN797' 'XMH150' 'XMT323' 'XMT340' 'SPW569'
 'XGY251' 'XUW214' 'XBE531' 'XTM042' 'XTE527' 'XJN260' 'XEW021' 'XUY598'
 'XJZ170' 'XUJ532' 'XNC282' 'XNC295' 'XML622' 'XPU230' 'XHC302' 'XWS328'
 'XGU052' 'XGZ725' 'WAU815' 'XTA820' 'XGH498' 'XUB417' 'XUB486' 'XUJ525'
 'XUJ530' 'XUJ531' 'XUJ545' 'XUJ550' 'XEH787' 'XPH002' 'XRL100' 'XML001'
 'XAR325' 'XMM088' 'XUW026' 'XGL639' 'XSM690' 'XSM720' 'XSM877' 'XPU804'
 'XWH047' 'XGR953' 'XBN981' 'XGW000' 'XGX419' 'XGY018' 'XRY756' 'XMU542'
 'SPM904' 'XUA645' 'XJP361' 'XLY195' 'XAY862' 'XUS239' 'XSL378' 'XMT304'
 'XBR241' 'XGS382' 'XGS200' 'XWR841' 'XHA529' 'XPC469' 'XAT183' 'XUA633'
 'XLG141' 'XBP211' 'XHW862' 'XLP597' 'XCP557' 'XMA560' 'XWR390' 'XSM960'
 'XAW671' 'XUC866' 'XLR348' 'XTE913' 'XMX097' 'XNZ442' 'XGL289' 'XWL537'
 'XHG371' 'XWR613' 'XSL179' 'SPG925' 'XCN196' 'XTG138' 'XGZ879' 'XSJ660'
 'SPR180' 'XPU233' 'XWU226' 'XEA021' 'XUB519' 'XSE082' 'XWL687' 'XHW819'
 'XAY578' 'XGS461' 'XGR444' 'XGR512' 'XGR523' 'XHA554' 'XUN958' 'XHX534'
 'XCR883' 'XAU017' 'XAH291' 'SPH301' 'XJL004' 'XWL602' 'XWH045' 'XGG010'
 'XGG211' 'XBP938' 'XRR042' 'XJW461' 'XTC605' 'XLW723' 'XEC233' 'XWL580'
 'XUP329' 'XAY255' 'XWP915' 'TNA937' 'XAM935' 'XWU086' 'XCZ731' 'XMA362'
 'SPP996' 'XJE939' 'XSS230' 'XTW099' 'XSM993' 'XIM381' 'XMN248' 'XBL977'
 'XTE935' 'XAM496' 'XAT949' 'XAE271' 'XSG003' 'SPM327' 'SAS427' 'XJB990'
 'XJC036' 'XJC197' 'XCB645' 'XGT543' 'XBM294' 'XRH230' 'XCZ044' 'XCY030'
 'XNS467' 'XUA155' 'XPT494' 'XGL880' 'XJJ716' 'XSN028' 'XSM437' 'XWU354'
 'SPR660' 'XJT487' 'XRM807' 'XRS697' 'SPU914' 'XSN700' 'XSG896' 'XLJ281'
 'XLJ282' 'XLJ297' 'XLJ307' 'XLJ308' 'XLJ320' 'XLJ322' 'XLJ324' 'XGL888'
 'XSN063' 'XGX528' 'XGX529' 'XBW504' 'XGU113' 'XGU464' 'XGG215' 'SRA779'
 'XRR603' 'XRR578' 'XRR621' 'XAE045' 'XEZ027' 'XWN209' 'SPY342' 'XBZ726'
 'XTT260' 'XWS345' 'XHL262' 'XGC007' 'XAX120' 'XSW009' 'XBU672' 'XGU979'
 'XBW526' 'XBW587' 'XSW431' 'XGG227' 'XGG230' 'XBG054' 'XTE921' 'XLR604'
 'SPX081' 'XWT413' 'XRW992' 'WLC000' 'XRS327' 'XWJ767' 'XUR441' 'XGG246'
 'SPG934' 'XUE337' 'XNW747' 'XTG030' 'XTX954' 'XTH771' 'XGZ865' 'XCC666'
 'XSN068' 'XGC690' 'SRB587' 'XWC159' 'XCG262' 'XSE409' 'XSE476' 'XWU724'
 'XBG175' 'XUS528' 'XNG438' 'XWE406' 'XPR341' 'SRA047' 'XSE484' 'XSE705'
 'XSE497' 'XSG758' 'XSE479' 'UMJ875' 'XMG542' 'SPH366' 'XUS865' 'XUS989'
 'XJA229' 'XME668' 'XPA571' 'XNG538' 'XSE414' 'XSE770' 'XSE890' 'XWU715'
 'XSZ075' 'XPU819' 'XTX811' 'XSS620' 'RPE836' 'XGX646' 'XGG204' 'WRH636'
 'XHR816' 'WRC412' 'XRS056' 'XJG101' 'XBE323' 'XBR274' 'SPW395' 'XGP483'
 'XBB669' 'WGW917' 'XGM695' 'XGM226' 'SRG753' 'XTJ871' 'XTH688' 'SPY525'
 'XWC625' 'SNL055' 'SNN355' 'XCZ832' 'XJB073' 'XJB292' 'XJB463' 'XGN128'
 'XCY236' 'XRH111' 'XUS523' 'XJB502' 'WAU759' 'XGN051' 'SRG361' 'WNW985'
 'XHA771' 'XCZ847' 'SPH459' 'SPH460' 'SPH472' 'SPH476' 'SPH498' 'XLJ785'
 'XNH792' 'XNH972' 'XUS856' 'XWC888' 'XHY731' 'XHY740' 'XHY743' 'XTZ014'
 'XJA331' 'XTS740' 'SPR877' 'XSC250' 'SPH387' 'SPH407' 'XJB346' 'XTM395'
 'XGB709' 'XGR659' 'XGW423' 'XJN972' 'KMM714' 'SRL138' 'XHN392' 'XSC213'
 'XSC245' 'SPH412' 'SPH518' 'XJG834' 'XNH927' 'XGX759' 'XBG459' 'XGW358'
 'XSC793' 'XGX685' 'UMJ879' 'XSL080' 'XGS997' 'XSC000' 'XSC207' 'XPU265'
 'XSC999' 'XJL042' 'XNH968' 'XCG844' 'XWG423' 'XUP742' 'XNH961' 'XWG287'
 'SRJ880' 'XGP979' 'XGR173' 'XGP978' 'XSH123' 'XBG672' 'XUM345' 'XNH877'
 'XMG777' 'XMG806' 'XHE167' 'XGS945' 'XAL984' 'XJG847' 'XGR316' 'XGM141'
 'XGU270' 'XGU279' 'XWN584' 'XMG333' 'WHA004' 'XSC441' 'SPH838' 'XCB234'
 'XGS511' 'XMG821' 'XLS605' 'XMS804' 'SPH591' 'XTE982' 'XUN136' 'XSG006'
 'XNH785' 'XNH875' 'SNB209' 'SPH579' 'XCB230' 'XGR286' 'XNX118' 'XHY921'
 'SPH832' 'XJP818' 'XJL027' 'XMG280' 'XGR061' 'XGX652' 'SND209' 'XWN675'
 'SPH660' 'SPH689' 'XNH925' 'XJA861' 'XSC468' 'XGR142' 'XLS733' 'XGU719'
 'XGP908' 'XSG226' 'SRM369' 'WLS772' 'SRN443' 'XJB070' 'SPJ062' 'SPJ091'
 'SPJ296' 'SPJ376' 'XJU498' 'XUP941' 'XUP945' 'XUP946' 'SPH609' 'SPJ185'
 'SPJ265' 'XTT827' 'XGS960' 'XSZ429' 'SPH881' 'XTT819' 'XNH954' 'XWG735'
 'XTT793' 'XTT857' 'XUS103' 'XJB301' 'XUP947' 'SPJ485' 'XSC506' 'XJE973'
 'XSC135' 'XPU282' 'XJL055' 'SRN948' 'SRH340' 'XSZ760' 'XTU665' 'SPH887'
 'XLN189' 'XSZ774' 'XPW398' 'SPJ518' 'SRM360' 'XTT756' 'SPJ544' 'XMH875'
 'SPJ581' 'SPS441' 'XJG134' 'XGU202' 'SRL668' 'XLS920' 'MPS187' 'SRN975'
 'XNH271' 'SRN627' 'XUP749' 'XNH262' 'XSZ489' 'XRR633' 'MPR985' 'PPM071'
 'XJE964' 'MPS102' 'SRP242' 'XTE658' 'MPR060' 'MPR404' 'XLR121' 'MPS221'
 'XLT983']
['8/1/2017' '8/8/2017' '8/9/2017' '8/11/2017' '8/12/2017' '8/14/2017'
 '8/16/2017' '8/18/2017' '8/19/2017' '8/20/2017' '8/21/2017' '8/22/2017'
 '8/23/2017' '8/24/2017' '8/25/2017' '8/26/2017' '8/27/2017' '8/28/2017'
 '8/29/2017' '8/30/2017' '8/31/2017' '9/1/2017' '9/2/2017' '9/3/2017'
 '9/4/2017' '9/5/2017' '9/6/2017' '9/7/2017' '9/8/2017' '9/9/2017'
 '9/10/2017' '9/11/2017' '9/12/2017' '9/13/2017' '9/14/2017' '9/15/2017'
 '9/16/2017' '9/17/2017' '9/18/2017' '9/19/2017' '9/20/2017' '9/21/2017'
 '9/22/2017' '9/23/2017' '9/24/2017' '9/25/2017' '9/26/2017' '9/27/2017'
 '9/28/2017' '9/29/2017' '9/30/2017' '10/1/2017' '10/2/2017' '10/3/2017'
 '10/4/2017' '10/5/2017' '10/6/2017' '10/7/2017' '10/8/2017' '10/9/2017'
 '10/10/2017' '10/11/2017' '10/12/2017' '10/13/2017' '10/14/2017'
 '10/15/2017' '10/16/2017' '10/17/2017' '10/18/2017' '10/19/2017'
 '10/20/2017' '10/21/2017' '10/22/2017' '10/23/2017' '10/24/2017'
 '10/25/2017' '10/26/2017' '10/27/2017' '10/28/2017' '10/29/2017'
 '10/30/2017' '10/31/2017' '11/1/2017' '11/2/2017' '11/3/2017' '11/4/2017'
 '11/5/2017' '11/6/2017' '11/7/2017' '11/8/2017' '11/9/2017' '11/10/2017'
 '11/11/2017' '11/12/2017' '11/13/2017' '11/14/2017' '11/15/2017'
 '11/16/2017' '11/17/2017' '11/18/2017' '11/20/2017' '11/21/2017'
 '11/22/2017' '11/23/2017' '11/24/2017' '11/25/2017' '11/26/2017'
 '11/28/2017' '11/29/2017' '12/6/2017' '12/12/2017' '12/14/2017'
 '12/18/2017' '12/19/2017' '12/20/2017' '12/22/2017' '12/23/2017'
 '12/24/2017' '12/25/2017' '12/29/2017' '12/30/2017' '1/4/2018' '1/8/2018'
 '1/10/2018' '1/12/2018' '1/13/2018' '1/15/2018' '1/18/2018']
['SOUTHWEST HARBOR' 'KETTERING' 'WYOMING' 'EAST LANSING' 'FISH CREEK'
 'WHITEHALL' 'PRESCOTT' 'TORONTO' 'LITTLE CHUTE' 'PORT DARLINGTON'
 'ANKENY' 'LONGMEADOW' 'JANESVILLE' 'STRATFORD' 'ROCHESTER' 'OSAGE'
 'CAMDEN' 'MINNEAPOLIS' 'SAINT PAUL' 'ANNAPOLIS' 'MORGANTOWN' 'OXFORD'
 'TRAPPE' 'GRAND RAPIDS' 'DOOR COUNTY' 'MONTGOMERY' 'XENIA' 'LANCASTER'
 'MISHICOT' 'PENINSULA POINT' 'CAPE MAY COURT HOUSE' 'LOVELAND'
 'TULLYTOWN' 'BERLIN' 'WASHINGTON' 'UPPER PROVIDENCE' 'GARDEN CITY'
 'CLINTON TOWNSHIP' 'CAMBRIDGE' 'MONKTON' 'PENNSBURG' 'MILFORD' 'MADISON'
 'STEVENS POINT' 'EDINA' 'GRANDVILLE' 'COLUMBUS' 'INVERHURON' 'PENSACOLA'
 'BEACH HAVEN' 'CANTON' 'IOWA FALLS' 'NILES' 'NORTH RIDGEVILLE' 'ITHACA'
 'THORNTON' 'ROSLINDALE' 'PORTLAND' 'WINNIPEG' 'FORT WORTH' 'HUNTERSVILLE'
 'BRYANTOWN' 'NEWTOWN' 'PARMA' 'SOLON' 'WEST DES MOINES' 'MILWAUKEE'
 'EAGAN' 'CHIPPEWA FALLS' 'FREEHOLD' 'JACOBSBURG' 'CUYAHOGA FALLS'
 'OAK HARBOR' 'EAST HAMPYON' 'TOLEDO' 'WAUKEGAN' 'BEVERLY HILLS' 'BUFFALO'
 'PASADENA' 'LIDO BEACH PRESERVE' 'ROCKY RIVER' 'SPENCER' 'TULSA' 'IRWIN'
 'DUNDAS' 'CHESTER SPRINGS' 'CEDAR RAPIDS' 'GARRETSON' 'SMITHFIELD'
 'STONE HARBOR' 'WOODSTOCK' 'SOMERVILLE' 'SAINT JOHN' 'LEAMINGTON'
 'NIAGARA FALLS' 'WHITBY' 'LEXINGTON' 'OLATHE' 'WESTMINSTER' 'LAFAYETTE'
 'SELINSGROVE' 'NOVELTY' 'WAUWATOSA' 'CARVE' 'MINNETONKA' 'NEWCASTLE'
 'GRANBY' 'WATERLOO' 'CAPE MAY POINT' 'MOUNT HOLLY' 'OCEAN BEACH' 'AVON'
 'CHICAGO' 'MARSHALLTOWN' 'ANN ARBOR' 'SENECA FALLS' 'COON RAPIDS'
 'LEIPZIG' 'HARTFORDCITY' 'SHOREHAM' 'OMAHA' 'DES MOINES' 'IOWA CITY'
 'LIVONIA' 'TALLAHASSEE' 'MANTEO' 'PERRYSBURG' 'CENTERLINE' 'MONONA'
 'SIOUX FALLS' 'BURNSVILLE' 'GLEN BURNIE' 'CLINTON' 'OLD SAYBROOK' 'ERIE'
 'NEWTON' 'NORTHEAST HARBOR' 'SAVAGE' 'SAINT-ANDRE' 'HUMBLE' 'ALEXANDRIA'
 'CENTREVILLE' 'AKRON' 'EARLHAM' 'WHEATON' 'BLOOMINGTON' 'VIRGINIA BEACH'
 'ARLINGTON' 'HACKENSACK' 'MOLINE' 'PRESQUE ISLE STATE PARK'
 'GREAT BARRINGTON' 'WOODBURY' 'STRATHROY' 'ROCKPORT' 'HOUSTON' 'PLAINS'
 'NORFOLK' 'HAMPTON' 'NEWPORT NEWS' 'MOUNT RANIER' 'MONTROSE'
 'WAYNESVILLE' 'LAKEHURST' 'DAVENPORT' 'JOLIET' 'OAK LAWN' 'WATERTOWN'
 'GREEN BAY' 'OLD FORT' 'SPRINGFIELD' 'WILLIAMSBURG' 'BROOKLYN'
 'CROTON FALLS' 'NORTH FALMOUTH' 'HIGHLAND' 'BERNARD' 'BEACH LAKE'
 'NORTH LIBERTY' 'WYANDOTTE' "L'ANCIENNE-LORETTE" 'FOUNTAIN'
 'COCKEYSVILLE' 'OREGON' 'DIMONDALE' 'SACO' 'BOOTHBAY' 'VICTORIA'
 'PORT HOPE' 'SAINTE-JULIE' 'CAPE CHARLES' 'CAPE MAY' 'YORK' 'HUDSON'
 'BROKEN ARROW' 'ST. LOUIS' 'RUSSELLVILLE' 'BOWIE' 'NORTH EAST' 'COLFAX'
 'HARTFORD CITY' 'BAYONNE' 'BELLEVUE' 'MANCHESTER' 'DEERBORN' 'KINGWOOD'
 'CHERITON' 'LAPLATA' 'DURHAM' 'SIMCOE' 'ASHEVILLE' 'WILDWOOD CREST'
 'WILDCREST' 'BEL AIR' 'SOUDERTON' 'FAIR HARBOR' 'RHODES' 'AMES'
 'DEARBORN' 'NEW BRAUNFELS' 'TOWNSEND' 'WEST ISLIP' 'WEST ALLIS'
 'BOLTON LANDING' 'CAMERON' 'CEDAR SPRINGS' 'PORT STANLEY' 'JEKYLL ISLAND'
 'OKLAHOMA CITY' 'WICHITA' 'LOUISVILLE' 'LEXINGTON PARK' 'HUNTINGTOWN'
 'SHEIDAN' 'ROMEO' 'LANSING' 'SARATOGA SPRINGS' 'MIDLAND' 'FT WORTH'
 'PROSPERITY' 'VIENNA' 'VILLAS' 'BROOKLYN HEIGHTS' 'NEW YORK' 'BUCKLAND'
 'OSHKOSH' 'SUFFOLK' 'WEBSTER GROVES' 'MARION' 'STONINGTON POINT'
 'SALISBURY' 'RAPID RIVER' 'NORTH CAPE MAY' 'PHILO' 'MORRIS TOWNSHIP'
 'LYNDHURST' 'LONDON' 'LITTLE ROCK' 'ATHENS' 'HOWELL' 'NEW SHOREHAM'
 'TYLERTOWN' 'WARR ACRES' 'NASHVILLE' 'STILLWATER' 'STRATHMERE'
 'LEAVENWORTH' 'WESTLAND' 'MINOMINEE' 'CRAWFORDVILLE' 'FREDERICKSBURG'
 'KANSAS CITY' 'BOYDS' 'STOCKTON' 'JAMAICA PLAIN' 'PULASKI' 'CHEROKEE'
 'CHINCOTEAGUE' 'WEST CARROLLTON' 'WESTPORT' 'PORT GLASGOW' 'WEST LIBERTY'
 'OKOBOJI' 'HEISLERVILLE' 'WORCESTER TWP' 'NORTH ARLINGTON' 'CHICORA'
 'MONTREAL' 'SAN ANTONIO' 'NORTH CHARLESTON' 'SOUTHLAKE' 'HUNTSVILLE'
 'STEVENS' 'NORTH BRUNSWICK' 'COUNCIL BLUFFS' 'PELLA' 'EDEN'
 'BARTLESVILLE' 'ANNA' 'AFFTON' 'TILGHMAN ISLAND' 'ARNOLD' 'STATE COLLEGE'
 'SANDUSKY' 'ENID' 'KENTON' 'TODDVILLE' 'SHENANDOAH' 'WEST CAPE MAY'
 'HILLSBOROUGH' 'BRANFORD' 'GLEN ELLYN' 'FORT MYERS' 'CIBOLO' 'BLUFFTON'
 "SULLIVAN'S ISLAND" 'DALLAS' 'KIRKWOOD' 'HAYS' 'FAIRFAX' 'THE PLAINS'
 'TOPEKA' 'BEAR' 'KENNETT SQUARE' 'MILMONT PARK' 'WALNUTPORT' 'BAYSIDE'
 'GRAFTON' 'BEDFORD' 'MILLERSVILLE' 'ROSEDALE' 'LINDEN' 'OWENSVILLE'
 'LONG BEACH' 'JAMESTOWN' 'KNOXVILLE' 'INDIANAPOLIS' 'MILL HALL'
 'FORT HOOD' 'BALTIMORE' 'BATON ROUGE' 'EDISTO BEACH' 'CEDAR HILL' 'JENKS'
 'BELMAR' 'WEBSTER' 'SAINT MARKS' 'FAYETTEVILLE' 'BISMARCK' 'CLERMONT'
 'HARRISONBURG' 'PURCELLVILLE' 'CHAMPAIGN' 'SHAKER HEIGHTS' 'ZIRCONIA'
 'LUSBY' 'FOLLY BEACH' 'GRAPEVINE' 'GARLAND' 'BLACKSBURG' 'FIRE ISLAND'
 'NEW ORLEANS' 'PINE KNOLL SHORES' 'LACYGNE' 'DOYLESTOWN' 'DUNDEE'
 'SHERMAN' 'RICHARDSON' 'WILMINGTON' 'THE WOODLANDS' 'AUSTIN' 'FAIRHOPE'
 'GLENN HEIGHTS' 'RED OAK' 'CARY' 'CINCINNATI' 'YAPAHNK' 'BRONX'
 'BURLINGTON' 'GLEN ALLEN' 'WILLIAMSTON' 'HARBINGER' 'COLLEGE STATION'
 'PALM BEACH GARDENS' 'LILLIAN' 'HILTON HEAD' 'KIAWAH ISLAND'
 'APALACHICOLA' 'MISSION' 'WANCHESE' 'CRYSTAL BEACH' 'SEVERNA PARK'
 'MARKSVILLE' 'EDNA' 'CROSSVILLE' 'GALVESTON' 'PANACEA'
 'PANAMA CITY BEACH' 'HEMPHILL' 'GAINESVILLE' 'BELLAIRE' 'NEWPORT'
 'GRANBURY' 'DAPHNE' 'LITTLE GASPARILLA ISLAND' 'PLACIDA' 'FULTON'
 'WEST UNIVERSITY' 'CAPE SANBLAS' 'PORT ST. JOE' 'MT. PLEASANT'
 'LEAGUE CITY' 'LARGO' 'CASSELBERRY' 'HUFFMAN' 'KATY' 'APOPKA' 'CEDAR KEY'
 'JAMES ISLAND' 'FREEPORT' 'CHARELESTON' 'LAKE JACKSON' 'CHARLESTON'
 'MURRELLS INLET' 'VENICE' 'FRIPP ISLAND' 'SUGAR LAND' 'ISLE OF PALMS']
['ME' 'OH' 'MI' 'WI' 'PA' 'ON' 'IA' 'MA' 'CT' 'NY' 'MN' 'NS' 'MD' 'NJ'
 'FL' 'CO' 'MB' 'TX' 'NC' 'IL' 'OK' 'SD' 'VA' 'NB' 'KY' 'KS' 'QC' 'DE'
 'IN' 'NE' 'GA' 'MO' 'TN' 'SC' 'NH' 'AR' 'DC' 'RI' 'MS' 'AL' 'LA']
['4679' '45409' '49509' '48824' '54212' '18052' '54021' 'M4J1K4' '54140'
 'L1C3K3' '50021' '1106' '53545' '6615' '14625' '50461' '4843' '55407'
 '55104' '55106' 'G3A2C7' '19543' '21654' '49504' '14526' '56069' '45385'
 '17603' '54228' 'M6K0A5' '8210' '45140' '19054' '6037' '48094' '19460'
 '48135' '48038' 'N1R3V2' '21111' '18073' '48381' '53704' '54481' '55424'
 '49418' '43214' 'NOG2T0' '32514' '48823' '8008' '44718' '50126' '44446'
 '44039' '14853' '55108' 'M4L2L2' '80241' '2131' '4102' '55417' 'R3N0T7'
 '76102' '28078' '20601' '18940' '44134' '44139' '50265' '53208' '55123'
 '55117' '54729' '7728' '18091' '44221' '43449' '6424' '43609' '60085'
 '48025' '14201' '53714' '21122' '11561' '44116' '51301' 'M2R2R3' '77503'
 '74136' '15642' '43614' 'L9H6H1' '19425' '52402' '57030' '23430' '8247'
 '21163' '43606' '2145' 'E5J1C3' 'N8H3V4' 'N9V2K5' 'L0S1J0' 'L1P0A5'
 '40515' '66062' '21157' '80026' '17870' '44072' '49548' '49507' '49505'
 '53711' '53213' '55314' '55345' 'R3P1R5' 'L1M14' 'M1N1J2' 'J2J1V8'
 'J2G1X2' '8212' '8060' '11770' '44011' '60660' '60626' '50158' '48105'
 '13148' nan '55433' 'M4L1N5' 'J2J0G3' '19901' '43203' '47348' '11786'
 '68144' '50310' '52246' '48154' '55122' '32303' '27954' '43551' '48015'
 '53716' '57103' '55337' '21060' '6413' '6475' '16505' '2465' '57108'
 '4662' '55378' 'E3Y2X1' '77346' '22306' '20120' '44308' '50072' '60189'
 '48109' '55438' 'M4E2P9' '23464' '22204' '7601' '61265' '60187' '1230'
 '55125' 'N7G3H5' 'J2G4W3' '78358' '77433' '31780' '23323' '23324' '23502'
 '23518' '23666' '23606' '20712' '62445' '45068' '43130' '8733' '52803'
 '60435' '60803' '60453' '13601' '54302' '55103' '28762' '65781' '23188'
 '11209' '10519' '2556' '48357' '4612' 'M5V3M8' '23454' '23185' '21787'
 '44312' '18405' '52317' '52732' '48192' '53705' 'G2E4S1' '80817' '21030'
 '43616' '48821' '4072' '4537' '55386' 'L1A2Z5' 'J3E1E7' '23310' '8204'
 '17315' '49247' '48036' 'L1P1X7' '74011' '63117' '45168' '20715' '21901'
 '46035' '7002' '68005' '6042' '48124' '32317' '23316' '20646' '6422'
 '55410' 'N3Y4K3' '28806' '74132' '8260' '21015' '18964' '11706' '6443'
 '50234' '50010' '57105' 'M4J3G5' '78130' '37882' '23455' '11795' '48187'
 '53219' '57104' '12814' 'K0M1G0' 'N0P1E0' 'N5L0A1' '31527' '73102'
 '67203' '40204' '20653' '20639' '64486' '60491' '48910' '12866' '48642'
 '76118' '29127' '22180' '8251' '11201' '10004' '1338' '54902' '23433'
 '63119' '46952' '6378' '3268' '49878' '8024' '61864' '7960' '7071'
 'N6M1B8' '72207' '65807' '20560' '21409' '45701' '7731' '2807' '51351'
 '39667' '73132' '37204' '74078' '63110' '8248' '66048' '68132' '48185'
 '49858' '32327' '78624' '37205' '40217' '66061' '64101' '20841' '52769'
 '2130' '38478' '73728' '67205' '23336' '45449' '2790' 'N0L2C0' '52776'
 '51355' '77030' '20565' '8324' '19490' '7031' '16025' '4660' 'H1M2M9'
 '78212' '29405' '76092' '35649' '17578' '8902' '51501' '50219' '14057'
 '74104' '74003' '23503' '62906' '63123' '21671' '21012' '16801' '44870'
 '27707' '74074' '73702' '73946' '23601' '21672' '22835' '64110' '8844'
 '44303' '6405' '60137' '33905' '78108' '29909' '29482' '75205' '23462'
 '67217' '63122' '67601' '22030' '20198' '66605' '19701' '19348' '19033'
 '18088' '50023' '53217' '53024' '75218' '76021' '73112' '21108' '47401'
 '21237' '7036' '65066' '2835' '37916' '66618' '46234' '17751' '76543'
 '74075' '70809' '29438' '75104' '74033' '7719' '77059' '32355' '75210'
 '74012' '74101' '72703' '74114' '63624' '40165' '22801' '20132' '61820'
 '44122' '77043' '28790' '74137' '20657' '77095' '29439' '76051' '75044'
 '27705' '24061' '70115' '28512' '66040' '18902' '60118' '75092' '74133'
 '75080' '28411' '74077' '21236' '50314' '77382' '78704' '36532' '75154'
 '75025' '27511' '78209' '45230' '11980' '10458' 'L7T4H4' '78215' '77381'
 '78746' '23060' '21811' '27892' '27941' '20013' '78240' '78006' '77845'
 '33418' '70118' '78703' '36549' '29925' '29455' '30320' '78574' '27981'
 '77650' '21146' '77004' '76107' '71351' '77957' '77401' '38572' '77550'
 '32346' '32407' '75948' '32653' '77402' '77339' '78741' '76048' '36526'
 '33946' '78382' '77008' '78205' '77005' '32456' '76132' '78204' '29464'
 '77573' '77345' '33773' '32707' '77336' '77494' '77055' '77063' '32712'
 '77096' '32625' '29412' '77541' '77566' '29466' '29576' '34285' '29920'
 '29403' '77498' '29451']
['USA' 'CAN']
[44.279865   39.724144   42.88386    42.653979   45.105511   40.658588
 44.749536   43.649996   44.283758   43.889674   41.724091   42.052405
 42.689826   41.185034   43.13424    43.286734   44.210169   44.940372
 44.955483   44.957208   44.74268    40.167689   38.686228   42.986465
 43.141702   44.436114   39.691445   40.045868   44.264424   39.11928
 39.267042   40.16834    41.60778    42.73446    40.111368   42.324302
 42.599508   43.363582   39.56994    40.3926     42.574828   43.117217
 44.54298    44.902538   42.896187   40.053773   43.940961   30.524613
 42.745357   39.6468     40.851462   42.512225   41.184692   41.391979
 42.439636   44.982543   39.928789   42.28473    43.663962   44.904554
 49.904029   32.757178   35.41404    38.627621   40.245694   41.387185
 41.392321   41.583232   43.048166   44.801532   45.000144   45.031667
 40.243519   40.828909   41.142424   41.533747   41.56008    41.630611
 42.360907   42.523195   42.89797    43.099135   39.127599   40.585753
 41.467062   43.144591   29.691128   36.060952   40.328956   41.60343
 43.547005   40.089503   42.020752   43.71474    36.984938   39.05188

In [31]:
# Determine the number of unique values in each column.
for col in watch2017_df:
  print(watch2017_df[col].value_counts())

XLC755    3
XLN189    3
XWR343    2
XLJ322    2
XPU265    2
         ..
XUH355    1
XUH382    1
XCU133    1
XTE017    1
XLT983    1
Name: TAG, Length: 801, dtype: int64
9/16/2017     32
10/8/2017     27
10/7/2017     27
10/14/2017    23
9/25/2017     23
              ..
8/22/2017      1
8/12/2017      1
8/11/2017      1
8/9/2017       1
1/18/2018      1
Name: DATE, Length: 128, dtype: int64
SAINT MARKS       37
CAPE MAY          20
SAN ANTONIO       17
STILLWATER        16
CAPE MAY POINT    15
                  ..
SACO               1
DIMONDALE          1
OREGON             1
COCKEYSVILLE       1
ISLE OF PALMS      1
Name: CITY, Length: 428, dtype: int64
TX    119
NJ     67
FL     61
MI     48
VA     46
OH     46
OK     45
WI     41
SC     35
IA     33
MD     32
ON     32
PA     26
NY     26
MN     24
MO     20
IL     18
NC     16
ME     15
KS     11
CT     11
MA     11
LA      9
TN      8
QC      7
SD      6
IN      6
AL      5
KY      4
DC      4
NE      4
CO      3
AR      2
RI      2
MB      2
DE      2
NB      2
GA      2
NH      1
MS      1
NS      1
Name: STATE/PROV, dtype: int64
32355    32
8204     22
8212     14
29439    13
73702     9
         ..
23188     1
65781     1
28762     1
55103     1
29451     1
Name: ZIP/POST, Length: 530, dtype: int64
USA    810
CAN     44
Name: COUNTRY, dtype: int64
30.162617    31
38.971580    22
38.939854    14
32.661442    13
43.649996    10
             ..
41.590216     1
41.029977     1
39.678105     1
37.266334     1
32.795877     1
Name: LAT, Length: 521, dtype: int64
-84.207166    31
-74.927691    22
-74.963948    14
-79.937395    13
-79.376173    10
              ..
-75.115025     1
-81.439236     1
-77.157129     1
-76.709764     1
-79.769665     1
Name: LONG, Length: 521, dtype: int64
DIANE       11
JENNIFER    11
JOHN        10
SUSAN       10
JIM         10
            ..
MADELINE     1
KENDRA       1
BRYAN        1
COLT         1
PATRICK      1
Name: FIRST, Length: 454, dtype: int64
dead                                                                                                                                                       3
PHOTOS AVAILABLE                                                                                                                                           3
Found at Rotary Botanical Gardens                                                                                                                          3
Found at Norfolk Botanical Gardens                                                                                                                         2
Saw this butterfly alive and flying happily about                                                                                                          2
                                                                                                                                                          ..
Cant fly :(                                                                                                                                                1
feeding on milkweed near fishpond, 5:15 PM.                                                                                                                1
My niece found it in her back yard.                                                                                                                        1
Found on a butterfly bush in our back yard.                                                                                                                1
FOUND ON GOLF COURSE, 2 VERY COLD NIGHTS AND IT WASN'T FLYING BUT MOVING SLOWLY, STILL ALIVE TODAY, HOPEFULLY IT WILL WARM UP AND CONTINUE ON IT'S WAY.    1
Name: NOTES, Length: 670, dtype: int64

In [32]:
# Find null values
for column in watch2017_df.columns:
   print(f"Column {column} has {watch2017_df[column].isnull().sum()} null values")

Column TAG has 0 null values
Column DATE has 0 null values
Column CITY has 0 null values
Column STATE/PROV has 0 null values
Column ZIP/POST has 3 null values
Column COUNTRY has 0 null values
Column LAT has 0 null values
Column LONG has 0 null values
Column FIRST has 30 null values
Column NOTES has 173 null values

In [33]:
# Find duplicate entries
print(f"Duplicate entries: {watch2017_df.duplicated().sum()}")

Duplicate entries: 3

In [44]:
watch2017_df.replace(np.nan,'',regex=True)

,TAG,DATE,CITY,STATE/PROV,ZIP/POST,COUNTRY,LAT,LONG,FIRST,NOTES
0,XAT710,8/1/2017,SOUTHWEST HARBOR,ME,4679,USA,44.279865,-68.330071,KHRIS,feeding on 'gay feather' on the coast!
1,XCN101,8/8/2017,KETTERING,OH,45409,USA,39.724144,-84.183354,MARGARET,Son and his best friend found near nature reserve
2,XUC556,8/9/2017,WYOMING,MI,49509,USA,42.883860,-85.706160,PHIL,
3,WPU203,8/11/2017,EAST LANSING,MI,48824,USA,42.653979,-84.492032,OREN,"Children's garden MSU. Have good photos, can s..."
4,XEL625,8/12/2017,FISH CREEK,WI,54212,USA,45.105511,-87.217607,PUM,"Found at nature center, peninsula state park"
...,...,...,...,...,...,...,...,...,...,...
849,XRR633,1/10/2018,CHARLESTON,SC,29403,USA,32.798426,-79.948096,MOLLY,
850,MPR404,1/12/2018,MT. PLEASANT,SC,29464,USA,32.820260,-79.846061,LINDA,Monarch was deceased. Possibly due to freezing...
851,XLR121,1/13/2018,SUGAR LAND,TX,77498,USA,29.615834,-95.552346,FABIOLA,"backyard, on the grass"
852,MPS221,1/15/2018,ISLE OF PALMS,SC,29451,USA,32.795877,-79.769665,PATRICK,
853,XLT983,1/18/2018,EDISTO BEACH,SC,29438,USA,32.569486,-80.310046,JOSEPH,"FOUND ON GOLF COURSE, 2 VERY COLD NIGHTS AND I..."

In [52]:
watch2017_df.drop(['FIRST', 'NOTES'], axis=1, inplace=True)

In [53]:
watch2017_df

,TAG,DATE,CITY,STATE/PROV,ZIP/POST,COUNTRY,LAT,LONG
0,XAT710,8/1/2017,SOUTHWEST HARBOR,ME,4679,USA,44.279865,-68.330071
1,XCN101,8/8/2017,KETTERING,OH,45409,USA,39.724144,-84.183354
2,XUC556,8/9/2017,WYOMING,MI,49509,USA,42.883860,-85.706160
3,WPU203,8/11/2017,EAST LANSING,MI,48824,USA,42.653979,-84.492032
4,XEL625,8/12/2017,FISH CREEK,WI,54212,USA,45.105511,-87.217607
...,...,...,...,...,...,...,...,...
849,XRR633,1/10/2018,CHARLESTON,SC,29403,USA,32.798426,-79.948096
850,MPR404,1/12/2018,MT. PLEASANT,SC,29464,USA,32.820260,-79.846061
851,XLR121,1/13/2018,SUGAR LAND,TX,77498,USA,29.615834,-95.552346
852,MPS221,1/15/2018,ISLE OF PALMS,SC,29451,USA,32.795877,-79.769665
853,XLT983,1/18/2018,EDISTO BEACH,SC,29438,USA,32.569486,-80.310046

In [54]:
watch2017_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [55]:
# Find null values
for column in watch2017_df.columns:
   print(f"Column {column} has {watch2017_df[column].isnull().sum()} null values")

Column TAG has 0 null values
Column DATE has 0 null values
Column CITY has 0 null values
Column STATE/PROV has 0 null values
Column ZIP/POST has 0 null values
Column COUNTRY has 0 null values
Column LAT has 0 null values
Column LONG has 0 null values

# Output geoJSON

In [56]:
str(watch2017_df.columns.tolist())

"['TAG', 'DATE', 'CITY', 'STATE/PROV', 'ZIP/POST', 'COUNTRY', 'LAT', 'LONG']"

In [57]:
cols=['TAG', 'DATE', 'CITY', 'STATE/PROV', 'ZIP/POST', 'COUNTRY', 'LAT', 'LONG']

In [58]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
watch2017_df['LAT'] = watch2017_df['LAT'].astype(float)
watch2017_df['LONG'] = watch2017_df['LONG'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = watch2018_df['street_address'].str.title()

In [59]:
watch2017_df.tail()

,TAG,DATE,CITY,STATE/PROV,ZIP/POST,COUNTRY,LAT,LONG
849,XRR633,1/10/2018,CHARLESTON,SC,29403,USA,32.798426,-79.948096
850,MPR404,1/12/2018,MT. PLEASANT,SC,29464,USA,32.820260,-79.846061
851,XLR121,1/13/2018,SUGAR LAND,TX,77498,USA,29.615834,-95.552346
852,MPS221,1/15/2018,ISLE OF PALMS,SC,29451,USA,32.795877,-79.769665
853,XLT983,1/18/2018,EDISTO BEACH,SC,29438,USA,32.569486,-80.310046

In [60]:
geojson = df_to_geojson(watch2017_df, cols)

In [61]:
file = open("MWatch_Recoveries_2017.json", "w")
json.dump(geojson, file, indent =1)
file.close()

In [18]:
# watch2017_df.to_json(r'watch2017.json')

In [19]:
# watch2017_json = watch2017_df.to_json()
# print(watch2017_json)

# Grab Geocodes

In [20]:
geocode2017_df = watch2017_df.groupby(['ZIP/POST','LAT','LONG']).size().reset_index().rename(columns={0:'count'})
# geocoded_df = pd.DataFrame(geocoded_df)

In [21]:
geocode2017_df.rename(columns={'ZIP/POST':'ZipCode','LAT': 'Latitude', 'LONG': 'Longitude'}, inplace=True)

In [22]:
geocode2017_df

    ZipCode   Latitude  Longitude  count
0     10004  40.704169 -74.012311      1
1     10458  40.859035 -73.890784      3
2     10519  41.345613 -73.660066      1
3      1106  42.052405 -72.567774      2
4     11201  40.695472 -73.992723      1
..      ...        ...        ...    ...
526  N8H3V4  42.050090 -82.599810      3
527  N9V2K5  42.050090 -82.599810      1
528  NOG2T0  43.940961 -79.438990      1
529  R3N0T7  49.904029 -97.164419      1
530  R3P1R5  49.904029 -97.164419      1

[531 rows x 4 columns]

In [260]:
# Find null values
for column in geocode2017_df.columns:
   print(f"Column {column} has {geocode2017_df[column].isnull().sum()} null values")

Column ZipCode has 0 null values
Column Latitude has 0 null values
Column Longitude has 0 null values
Column count has 0 null values

# 2018 Monarch Watch Recovery Data

In [63]:
watch2018_df = pd.read_csv("ft-Monarch Watch 2018 Season Domestic Recoveries - ft-Monarch Watch 2018 Season Domestic Recoveries.csv")
watch2018_df.head()

,Tag,Date,City,State,ZipCode,Country,Latitude,Longitude,First Name,Notes
0,MPT293,11/26/2018,Mount Pleasant,SC,29464,USA,32.847273,-79.820563,William,NaN
1,RJL275,9/3/2018,Lancaster,PA,17602,USA,40.048755,-76.315491,Caitlin,In our garden
2,RJL307,10/1/2018,LANCASTER,PA,17601,USA,40.076553,-76.310680,Pamela,nectaring with 5 others on butterfly bush
3,SGT699,10/5/2018,Manchester,VT,5254,USA,43.163690,-73.072330,Tara,Monarch was at the equinox nursery
4,SNC614,11/17/2018,Folly Beach,SC,29439,USA,32.663043,-79.926970,NaN,Pelican Watch pavilion @ County Park

In [64]:
watch2018_df ['City'] = watch2018_df ['City'].str.upper()
watch2018_df.head()

,Tag,Date,City,State,ZipCode,Country,Latitude,Longitude,First Name,Notes
0,MPT293,11/26/2018,MOUNT PLEASANT,SC,29464,USA,32.847273,-79.820563,William,NaN
1,RJL275,9/3/2018,LANCASTER,PA,17602,USA,40.048755,-76.315491,Caitlin,In our garden
2,RJL307,10/1/2018,LANCASTER,PA,17601,USA,40.076553,-76.310680,Pamela,nectaring with 5 others on butterfly bush
3,SGT699,10/5/2018,MANCHESTER,VT,5254,USA,43.163690,-73.072330,Tara,Monarch was at the equinox nursery
4,SNC614,11/17/2018,FOLLY BEACH,SC,29439,USA,32.663043,-79.926970,NaN,Pelican Watch pavilion @ County Park

In [ ]:
geocode2018_df = watch2018_df.groupby(['ZipCode','Latitude','Longitude']).size().reset_index().rename(columns={0:'count'})
# geocoded_df = pd.DataFrame(geocoded_df)
geocode2018_df

# geoJSONifier Function 2

In [82]:
def df_to_geojson(df, properties, lat='Latitude', lon='Longitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

# Data Exploratory

In [65]:
watch2018_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206 entries, 0 to 1205
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tag         1206 non-null   object
 1   Date        1206 non-null   object
 2   City        1206 non-null   object
 3   State       1206 non-null   object
 4   ZipCode     1204 non-null   object
 5   Country     1206 non-null   object
 6   Latitude    1206 non-null   float64
 7   Longitude   1206 non-null   float64
 8   First Name  1166 non-null   object
 9   Notes       926 non-null    object
dtypes: float64(2), object(8)
memory usage: 94.3+ KB

In [66]:
watch2018_df.describe()

          Latitude    Longitude
count  1206.000000  1206.000000
mean     38.920484   -84.928704
std       4.404751     8.606411
min      24.283333  -102.265146
25%      36.907997   -93.289217
50%      39.557918   -84.208346
75%      42.034867   -76.816848
max      49.884400   -52.886252

In [67]:
watch2018_df.columns.tolist()

['Tag',
 'Date',
 'City',
 'State',
 'ZipCode',
 'Country',
 'Latitude',
 'Longitude',
 'First Name',
 'Notes']

In [68]:
watch2018_df.shape

(1206, 10)

In [69]:
# Determine the number of unique values in each column.
for col in watch2018_df:
  print(watch2018_df[col].unique())

['MPT293' 'RJL275' 'RJL307' ... 'MPU190' 'YTZ158' 'YXG327']
['11/26/2018' '9/3/2018' '10/1/2018' '10/5/2018' '11/17/2018' '9/16/2018'
 '11/3/2018' '9/20/2018' '9/17/2018' '8/22/2018' '8/12/2018' '8/18/2018'
 '9/21/2018' '9/24/2018' '9/22/2018' '9/8/2018' '10/4/2018' '9/29/2018'
 '9/18/2018' '9/2/2018' '8/5/2018' '8/17/2018' '8/2/2018' '8/3/2018'
 '8/1/2018' '8/16/2018' '8/23/2018' '8/30/2018' '9/10/2018' '9/12/2018'
 '9/7/2018' '10/7/2018' '8/11/2018' '10/26/2018' '9/23/2018' '10/6/2018'
 '10/10/2018' '11/11/2018' '9/30/2018' '9/1/2018' '8/26/2018' '8/31/2018'
 '10/19/2018' '8/15/2018' '8/14/2018' '10/13/2018' '9/26/2018' '9/11/2018'
 '8/24/2018' '9/5/2018' '9/28/2018' '8/20/2018' '9/9/2018' '9/4/2018'
 '8/28/2018' '10/16/2018' '9/15/2018' '8/21/2018' '8/10/2018' '8/19/2018'
 '9/14/2018' '10/17/2018' '10/14/2018' '8/25/2018' '8/13/2018' '10/9/2018'
 '9/19/2018' '10/3/2018' '10/15/2018' '10/20/2018' '10/23/2018'
 '10/12/2018' '8/29/2018' '11/14/2018' '9/6/2018' '9/27/2018' '10/11/2018'
 '8/27/2018' '10/28/2018' '11/1/2018' '8/4/2018' '11/16/2018' '9/13/2018'
 '11/6/2018' '10/30/2018' '10/2/2018' '10/22/2018' '10/8/2018' '8/9/2018'
 '10/31/2018' '11/28/2018' '10/24/2018' '11/7/2018' '11/4/2018'
 '10/27/2018' '9/25/2018' '11/13/2018' '10/25/2018' '11/25/2018'
 '10/21/2018' '10/18/2018' '11/8/2018' '11/5/2018' '11/15/2018'
 '10/29/2018' '11/2/2018' '11/23/2018' '12/1/2018' '12/4/2018'
 '11/24/2018' '11/12/2018' '11/20/2018' '10/29/18' '12/7/18' '12/8/18'
 '12/16/18' '12/19/18' '12/20/18' '12/22/18' '12/23/18' '12/24/18'
 '12/27/18' '1/1/19' '1/18/19' '1/25/19' '1/28/19' '1/31/19' '2/8/19'
 '2/11/19' '2/16/19' '3/1/19' '3/7/19' '3/10/19' '3/13/19' '10/7/19'
 '11/7/19']
['MOUNT PLEASANT' 'LANCASTER' 'MANCHESTER' 'FOLLY BEACH' 'CAPE MAY POINT'
 'CHARLESTON' 'TROIS-RIVIÈRES' 'HOLYOKE' 'MILWAUKEE' 'WEST ALLIS' 'TOLEDO'
 'HYDES' 'TOPEKA' 'PAUL SMITHS' 'UNITY' 'ASHEVILLE' 'COMFORT' 'COGAR'
 'NORTH RIDGEVILLE' 'ONANCOCK' 'MILLERSVILLE' 'SAINT PETERS' 'OLATHE'
 'CARY' 'CHERRYHILL' 'CHANDLER' 'WAUWATOSA' 'UPPER MARLBORO'
 'SOUTHWEST HARBOR' 'SCOTT CITY' 'NEW ORLEANS' 'HOPEWELL TOWNSHIP'
 'LOUISVILLE' 'FORT THOMAS' 'SPRINGFIELD' 'RICHMOND' 'WEST LONG BRANCH'
 'FREDERICTON' 'BLUE SEA' 'MYRTLE BEACH' 'ST-JEAN-SUR-RICHELIEU'
 'PHILADELPHIA' 'INGLESIDE' 'BRIGHTON' 'CINCINNATI' 'BOWMANVILLE'
 'TORONTO' 'ANTIGO' 'HAMILTON' 'BEAVERTON' 'CLEVELAND' 'MISSISSAUGA'
 'SCARBOROUGH' 'RICHMOND HILL' 'ECRU' 'WESTFIELD' 'ETOBICOKE'
 'CLINTON TWP' 'FOND DU LAC' 'INDIANOLA' 'PORT ELGIN' 'KINGSVILLE'
 'LONDON' 'STRATFORD' 'SARNIA' 'CONCORDIA' 'GROSSE POINTE' 'ALLEN PARK'
 'WINDSOR' 'NIPISSING' 'DWIGHT' 'THUNDER BAY' 'WINNIPEG' 'BURLINGTON'
 'SHELBY TWP.' 'BELLE RIVER' 'DETROIT' 'MILFORD' 'CONCORD' 'IPSWICH'
 'HARVARD' 'FALMOUTH' 'BRANFORD' 'WOODS HOLE' 'MASHPEE' 'PROVIDENCE'
 'WASHINGTON' 'WARE' 'GREENCASTLE' 'PORTSMOUTH' 'CUMBERLAND'
 'NORTH HAMPTON' 'SARGENTVILLE' 'NORTHEAST HARBOR' 'CAMDEN' 'GALES FERRY'
 'LISBON' 'NEW HAVEN' 'HAMMONASSET BEACH' 'PICKAWAY' 'STROUDSBURG'
 'PLANTSVILLE' 'EAST HAVEN' 'HARWINTON' 'BAY SHORE' 'CLIFTON' 'CRANFORD'
 'FORT LEE' 'KEARNY' 'MOUNT LAUREL' 'BEAL' 'PRINCETON' 'SHIP BOTTOM'
 'HILLSBOROUGH' 'NEWTOWN' 'PISCATAWAY' 'NEW YORK CITY' 'NYC' 'NEW YORK'
 'MANHATTAN' 'FREDERICKSBURG' 'CAPE MAY' 'NEW MARKET' 'CHAPEL HILL'
 'STONE HARBOR' 'SAVANNAH' 'SPRING HILL' 'TABSCOTT' 'GARDEN HILL' 'DALLAS'
 'GLENN HEIGHTS' 'SOUTHOLD' 'MOUNT AIRY' 'DINWIDDIE' 'SENECA FALLS'
 'YOUNGSTOWN' 'ITHICA' 'FORT HOOD' 'JOHNSTOWN' 'ST. CLAIR SHORES' 'ERIE'
 'TOANO' 'STATE COLLEGE' 'PENNSYLVANIA FURNACE' 'LITITZ' 'HARRISBURG'
 'CAMP HILL' 'AMES' 'WRIGHTSVILLE' 'WALDORF' 'STONE HARBOR POINT'
 'WOODBRIDGE' 'HATFIELD' 'DUNDALK' 'WEST NORRITON' 'NEWARK' 'BLUEMONT'
 'HALIFAX' 'GRUNDY CENTER' 'SCOTLAND' 'MONTROSS' 'BOWIE' 'COBB ISLAND'
 'ANNAPOLIS' 'BELLE CENTER' 'MENTOR' 'NORTH PERRY' 'MADISON' 'PERRY'
 'AVON' 'HOT SPRINGS' 'FAIRFIELD' 'HARVEYSBURG' 'CLEVES' 'WOODFIN'
 'ERLANGER' 'NORWOOD' 'ELIDA' 'BROOKLYN PARK' 'FORT WAYNE' 'MARION'
 'CLINTON TOWNSHIP' 'GARDEN CITY' 'ANN ARBOR' 'LIVONIA' 'STERLING HEIGHTS'
 'TROY' 'HIGHLAND' 'NEW HUDSON' 'NAVARRE BEACH' 'ANGOLA' 'KALAMAZOO'
 'STURGEON BAY' 'FORESTVILLE' 'GRAYLING' 'HILBERT' 'EDMOND' 'KNOXVILLE'
 'DES MOINES' 'MEAD' 'MARSHALLTOWN' 'ADEL' 'EARLHAM' 'WEST DES MOINES'
 'URBANDALE' 'CLIVE' 'CEDAR RAPIDS' 'GILMORE CITY' 'BETTENDORF' 'HOUSTON'
 'WATERLOO' 'CEDAR FALLS' 'MOUNT AYR' 'OMAHA' 'OVERLAND PARK' 'FAIRFAX'
 'JUNCTION CITY' 'CLINTON' 'GENESEO' 'HORICON' 'FRANKLIN' 'HAZELHUST'
 'LAKE GENEVA' 'SEVERY' 'ARLINGTON' 'FORT ATKINSON' 'MISHAWAKA'
 'FISH CREEK' 'NILES' 'GREEN BAY' 'SISTER BAY' 'MINNEAPOLIS' 'FARMINGTON'
 'WHITE BEAR TOWNSHIP' 'WEST ST PAUL' 'CHASKA' 'ABILENE' 'SAVAGE'
 'BURNSVILLE' 'GOLDEN VALLEY' 'EXCELSIOR' 'ST PAUL' 'CRYSTAL' 'BRITTON'
 'FRIDLEY' 'BLOOMINGTON' 'BRISTOL BEACH PARK' 'STEWARTVILLE' 'MENNO'
 'SIOUX FALLS' 'WATERTOWN' 'FORT PIERRE' 'CANTON' 'NEW LONDON' 'ANNANDALE'
 'PAWCATUCK' 'OGUNQUIT' 'BEVERLY' 'NORTH CONWAY' 'GORHAM' 'SOUTHPORT'
 'HOWELL' 'FAIRHOPE' 'CHESTER SPRINGS' 'EAST NORTHPORT' 'CHRISTIANA'
 'HOLLY SPRINGS' 'CHATHAM' 'WARWICK' 'COLTON' 'HERSHEY' 'EAST PETERSBURG'
 'NORTHEAST' 'WILMINGTON' 'OXFORD' 'CLARKSVILLE' 'CLERMONT' 'GAHANNA'
 'COLUMBUS' 'OAK HARBOR' 'CURTICE' 'MEDINA' 'PIEDMONT' 'FLORISSANT'
 'BARGERSVILLE' 'FARMINGTON HILLS' 'AUBURN HILLS' 'GRAND HAVEN' 'LAWTON'
 'OSAGE' 'OKLAHOMA CITY' 'FREDERICK' 'HAWARDEN' 'SPIRIT LAKE' 'MANKATO'
 'PLYMOUTH' 'MARENGO' 'BEACH PARK' 'LEBANON' 'WAUSAU' 'GREENVILLE'
 'NEENAH' 'SAINT LOUIS' 'MINNETONKA' 'ST. PAUL' 'BLAINE' 'ROSEMOUNT'
 'ROCHESTER' 'MENAHGA' 'CLEMENTSPORT' 'NIAGARA FALLS' 'WATSONTOWN'
 'BELLEFONTE' 'WELLS' 'FARMVILLE' 'MORAVIAN FALLS' 'DENVILLE' 'RIDGEWOOD'
 'GLEN RIDGE' 'MOREAU' 'HERMITAGE' 'SWAINSBORO' 'INDIANAPOLIS' 'NASHVILLE'
 'HIGHLAND TWP' 'GRAND RAPIDS' 'MACEDONIA' 'SHELBY TWP' 'MACOMB TWP'
 'TAWAS POINT STATE PARK' 'TAWAS' 'OCONOMOWOC' 'GERMANTOWN' 'ST. PETER'
 'NEW BERLIN' 'MUNICIPIO DE VILLAGRAN' 'MANITOWOC' 'COCKEYSVILLE'
 'ELLICOTT CITY' 'COLUMBIA' 'ROANOKE' 'BALTIMORE' 'TIMONIUM' 'MANASSAS'
 'WESTMINSTER' 'KANSAS CITY' 'CHESTERTOWN' 'STAFFORD' 'POINT CLEAR'
 'GREENSBORO' 'CHESAPEAKE CITY' 'BROWNTOWN' 'CHARLOTTESVILLE'
 'CAPE CHARLES' 'BRACEY' 'VIRGINIA BEACH' 'NEWPORT NEWS' 'YORKTOWN'
 'HAMPTON' 'PALMYRA' 'LEWISBURG' 'SENECA' 'MARTINSBURG' 'CHARLES TOWN'
 'ALGONQUIN' 'SCHAUMBURG' 'PARK RIDGE' 'CHICAGO' 'EVANSTON' 'MUNDELEIN'
 'FRANKLIN PARK' 'BROOKFIELD' 'HIGHLANDVILLE' 'OAK PARK' 'JOLIET'
 'DAVENPORT' 'LOVELAND' 'BEAUFORT' 'ST. LOUIS' 'ROCK HILL' 'KIRKWOOD'
 'GLEN CARBON' 'AFFTON' 'WELDON SPRINGS' 'GREENWOOD' 'SANTA CATARINA'
 'PARKVILLE' 'LAWRENCE' 'WICHITA' 'GRETNA' 'WALSH' 'BOYDS' 'CATONSVILLE'
 'POTOMAC' 'CAPE CHARELS' 'FAYETTEVILLE' 'ALEXANDRIA' 'GLENDALE HEIGHTS'
 'TULSA' 'SOUTH BEND' 'NAPERVILLE' 'BRIDGEVIEW' 'BENTON' 'WESTMONT'
 'CHAMPAIGN' 'STONEWALL' 'GREAT RIVER' 'WEST ISLIP' 'VALHALLA' 'MAYVILLE'
 'CURTIS BAY' 'CHANCE' 'FORT WASHINGTON' 'HIGH VIEW' 'WEST CHESTER' 'DC'
 'LOGAN' 'WHITEHOUSE' 'TROTWOOD' 'WINCHESTER' 'RIDGEWAY' 'CLINTON TWSP'
 'LANSING' 'BELLEVUE' 'DALLAS COUNTY' 'GROTON' 'THAWVILLE' 'LISLE' 'ENID'
 'ARNOLD' 'LOTHIAN' 'GLEN BURNIE' 'VA. BEACH' 'NORFOLK' 'JENNY ECKHARDT'
 'PALESTINE' 'HUNTINGTON' 'LEXINGTON' 'TOPEK' 'CROWELL' 'MARQUETTE'
 'ARCADIA' 'ST LOUIS' 'GORE' 'HASTINGS' 'CLAY CENTER' 'BREVARD' 'WILDWOOD'
 'RENNER' 'WASAGA BEACH' 'DARTMOUTH' 'BETHEL PARK' 'EAST EARL' 'AVALON'
 'ASHBURN' 'KENNETT SQUARE' 'EDGEWATER' 'POINT PELEE' 'LEAMINGTON'
 'WYANDOTTE' 'HARRISON CHARTER TOWNSHIP' 'GROSSE POINTE PARK'
 'GROSSE POINTE CITY' 'MACKINAC ISLAND' 'STATE CENTER' 'REEDSVILLE'
 'KEARNEY' 'MADELIA' 'BLUE SPRINGS' 'BERWICK' 'MULLICA HILL' 'PASADENA'
 'TOWACO' 'BABYLON' 'KELLEY ISLAND' 'MARTIN' 'LEWISBERRY' 'KETTERING'
 'WEST LAFAYETTE' 'WARSAW' 'MAQUOKETA' 'JUDA' 'COON RAPIDS' 'EDINA'
 'PALATINE' 'WHEATON' 'DOWNERS GROVE' 'WHEATON,' 'CLIMAX' 'EL DORADO'
 'UNIVERSITY PARK' 'CRALEY' 'GREAT FALLS' 'FRONT ROYAL' 'GROTTOES'
 'ELIZABETH CITY' 'JAMES ISLAND' 'DUNNELLON' 'AWENDAW' 'EAST ISLIP'
 'SANDS POINT' 'LYNDHURST' 'AURORA' 'LAKEWAY' 'HUNTINGTTON' 'ALPHARETTA'
 'CHEVIOT' 'PLUMERVILLE' 'FT THOMAS' 'MARSHALL' 'NEW PALASTINE'
 'RICHFIELF' 'NORMAL' 'MORGANTON' 'MURFREESBORO' 'MEMPHIS' 'VERSAILLES'
 'ELSMERE' 'UNION' 'OLA' 'NORTHPORT' 'CHARLESTOWN' 'WILLIAMSBURG' 'DAYTON'
 'DANVILLE' 'MIDLAND' 'OREGON' 'MONETT' 'WEST CAPE MAY' 'EASTON'
 'CAMBRIDGE' 'GALLATIN' 'CHATTANOOGA' 'COLLEGE STATION' 'AMES, IOWA'
 'BRICK' 'WESTERLY' 'INDIAN HEAD' 'SOMESVILLE' 'CORNWALL ON HUDSON'
 'LOVINGSTON' 'SANFORD' 'BETHESDA' 'POQUOSON' 'CARTHAGE' 'SEAFORD'
 'NEW BRAUNFELS' 'FRUITDALE' 'MAYFIELD VILLAGE' 'NAPPANEE' 'PRAIRIE CITY'
 'PRAIRIE DU CHIEN' 'PIERRE' 'HOWE' 'LONGMEADOW' 'ENFIELD'
 'WATERBURY CENTER' 'CRESTVIEW' 'FAIRVIEW' 'NEW HOLLAND' 'BEDFORD'
 'BLACKSBURG' 'WAYNESBORO' 'KODAK' 'PONCA CITY' 'FERNDALE' 'MILAN'
 'HONEY CREEK' 'KOUNTZE' 'LADY LAKE' 'GULF SHORES' 'MIRAMAR BEACH'
 'PORT ST JOE' 'CRAWFORDVILLE' 'ST. MARKS' 'ST MARKS' 'NAVARRE'
 'CASSELBERRY' 'MAITLAND' 'ORLANDO' 'HUNTSVILLE' 'DARROW' 'BATON ROUGE'
 'LITTLE ROCK' 'BARTLESVILLE' 'BROKEN ARROW' 'STILLWATER' 'OKLAHOMA STATE'
 'BIXBY' 'POTTSBORO' 'SEVEN POINTS' 'LONGVIEW' 'JASPER' 'GRANBURY' 'ACTON'
 'GRAPEVINE' 'DUNCANVILLE' 'COLLEYVILLE' 'SOUTHLAKE' 'FORT WORTH'
 "FARMER'S BRANCH" 'WICHITA FALLS' 'AUSTIN' 'SAN ANTONIO' 'ROUND ROCK'
 'SPRING' 'KLEIN' 'KATY' 'SUGARLAND' 'SUGAR LAND' 'WEBSTER' 'COBOURG'
 'HARRISONBURG' 'SUFFIELD' 'SIDNEY' 'ACME' 'ONEKAMA' 'CEDAR'
 'TRAVERSE CITY' 'NEW CASTLE' 'BROOKLYN' 'HARRISON' 'SWEET BRIAR'
 'FALLS CHURCH' 'BATAVIA' 'ROBINS' 'ROLLING MEADOWS' 'CRESTWOOD'
 'ELLIOTT CITY' 'BELTSVILLE' 'WEST HARTFORD' 'ISELIN' 'BRIDGEWATER'
 'NORTH BRUNSWICK' 'NEW BRUNSWICK' 'BRESSLER' 'STERLING' 'WOOSTER'
 'PERRYSBURG' 'TOWN OF DELAFIELD' 'HOUMA' 'BUFFALO' 'DARNSTOWN'
 'LONG POND' 'BRADENTON' 'INDEPENDENCE' 'FT PAYNE' 'MOUNT VERNON'
 'HARRINGTON' 'ELDERSBURG' 'MORGANTOWN' 'CUBA' 'SALINA' 'LACOMBE'
 'WHEELING' 'GRAMLING' 'DURAND' 'FORT MYERS' 'SULLIVANS ISLAND'
 'MT. PLEASANT' "ST MARK'S" 'ROBSTOWN' 'FRIPP ISLAND' 'LAKELAND' 'REDFORD'
 'HILTON HEAD ISLAND' 'HILTON HEAD' 'PINCKNEY ISLAND NWR' 'CYPRESS']
['SC' 'PA' 'VT' 'NJ' 'QC' 'MA' 'WI' 'OH' 'MD' 'IL' 'NY' 'ME' 'NC' 'TX'
 'OK' 'VA' 'MO' 'KS' 'LA' 'KY' 'NB' 'ON' 'MS' 'IA' 'MI' 'MB' 'CT' 'RI'
 'DC' 'NH' 'WV' 'GA' 'FL' 'DE' 'NS' 'AR' 'IN' 'NE' 'MN' 'SD' 'AL' 'TN'
 'Tamaulipas' 'Nuevo Leon' 'CO']
['29464' '17602' '17601' '5254' '29439' '8212' '29407' 'G8Y5M2' '1040'
 '53208' '53214' '53227' '43614' '21082' '61567' '12970' '4988' '28806'
 '78013' '73059' '44039' '17603' '17345' '23417' '17551' '63376' '66062'
 '60013' '8034' '74834' '53213' '20772' '4679' '67871' '70115' '8540'
 '40213' '41075' '62711' '23233' '7764' 'E3B6L3' 'E6L2A4' 'J0X1C0' '29579'
 'J3B1V9' '19149' 'K0C1M0' 'K0K1H0' '45202' 'L1C1N4' 'MIN1J2' 'M1N1J2'
 '54409' 'L9A3L5' 'L0K1A0' '44102' 'L5M2K8' 'M1J2Z2' 'M1J2S6' 'L4E4T2'
 '38841' 'M6P3V1' '51062' 'M4E2N8' 'L4Z4E4' 'M9C5N3' '48038' 'M5J2G8'
 '54937' 'M4K2H8' 'M4K1W6' 'M6G2S1' '50125' 'N0H2C6' 'N9Y2V7' 'N6C5P1'
 'N6C3V3' 'N5A3R2' 'N5A4G6' 'N6A3X8' 'N7V2J9' '66901' '48236' '48101'
 'N8X1M2' nan 'P0A1H0' 'P7E4H3' 'R3R0B8' 'L7T4H4' '48316' 'M1N3S4'
 'N0R1A0' 'N8N2L9' '48224' '6460' '6013' '1742' '1938' '1451' '2540'
 '6405' '2543' '2649' '2907' '20001' '1082' '17225' '3801' '4021' '3862'
 '4673' '4662' '4847' '4843' '6335' '6351' '6512' '6443' '24976' '18360'
 '6479' '6791' '11706' '7012' '7016' '7024' '7032' '8054' '7723' '8008'
 '8844' '18940' '8854' '10026' '10029' '10028' '10040' '10010' '10024'
 '22405' '8204' '8210' '21774' '27516' '8247' '31405' '34608' '23038'
 '8260' 'L0A1B0' '75225' '75154' '11971' '21771' '23841' '13148' '14174'
 '14850' '76543' '15905' '48081' '16508' '16509' '23168' '16803' '16865'
 '17543' '17112' '17011' '50010' '17368' '20601' '17110' '22193' '19440'
 '21222' '19403' '19711' '20135' 'B3L3B4' 'B3T1J5' 'L4C4W1' '50638'
 'M6K3C1' '21102' 'R3P2N7' '20687' '22520' '20715' '20625' '21401' '43310'
 '44060' '44108' '44081' '44057' '440..' '44138' '71913' '45014' '45032'
 '45002' '28804' '41018' '45220' '45212' '45807' '21225' '46135' '46805'
 '46953' '46952' '48035' '48135' '48108' '48154' '48312' '48036' '48098'
 '48357' '48165' '32566' '46703' '49006' '54235' '48434' '53217' '49738'
 '54129' '73012' '50138' '50310' '68041' '50158' '50003' '50072' '50265'
 '73003' '50322' '50325' '52403' '50541' '52722' '77025' '50702' '50701'
 '50613' '50854' '68107' '66203' '52302' '52228' '66441' '52556' '52732'
 '61254' '53032' '53132' '54531' '53147' '67230' '53911' '53538' '53719'
 '53706' '46544' '54212' '60714' '54301' '54234' '55413' '55024' '55110'
 '55118' '55317' '79606' '55378' '55337' '55306' '55407' '55427' '55331'
 '55108' '55419' '5427' '57430' '55432' '55437' '55804' '55976' '57045'
 '57106' '57108' '57201' '57532' '48188' 'M5V0J8' '6320' '22003' '6379'
 '4090' '1915' '3860' '4038' '6890' '7090' '7731' '7727' '36532' '7940'
 '19425' '11731' '17509' '27540' '7928' '10990' '13625' '17033' '17520'
 '21901' '19809' '19363' '21029' '30527' '43031' '43230' '43235' '43449'
 '43412' '44256' '44708' '73078' '45227' '63031' '46106' '47401' '48336'
 '48326' '49417' '51030' '68132' '50461' '73108' '73542' '51023' '51360'
 '56001' '55446' '52402' '60152' '60099' '65536' '54403' '54942' '54956'
 '63116' '55345' '55116' '55491' '55449' '55068' '55901' '57105' '56464'
 'B0S1E0' 'LOS1J0' 'L2E6S4' '17777' '16823' '27828' '28654' '7834' '7450'
 '7028' '12831' '16148' '30401' '43609' '46236' '37011' '48356' '48370'
 '49548' '49426' '44056' '48317' '48044' '48730' '48763' '53066' '53022'
 '56082' '53151' '54220' '55406' '57103' '21030' '21043' '21044' '24014'
 '21201' '21093' '20111' '21152' '21157' '64110' '43221' '21690' '22554'
 '36564' '27406' '21915' '22610' '22902' '23310' '23919' '23223' '23225'
 '23226' '23454' '23453' '23455' '23601' '23692' '23669' '23602' '22963'
 '24901' '29672' '25403' '25414' '60102' '60194' '60068' '60631' '60202'
 '60060' '60131' '60513' '65669' '60304' '60435' '60647' '52804' '45249'
 '73452' '63013' '63108' '63110' '63131' '63119' '63122' '63021' '62034'
 '63123' '63128' '63304' '64034' '64131' '66354' '64111' '64127' '64152'
 '73116' '66047' '67203' '68028' '81090' '20841' '21228' '21214' '20854'
 '22152' '25840' '22307' '60139' '74104' '52801' '46613' '60540' '60455'
 '71006' '60559' '61822' '71078' '11739' '11795' '10595' '14757' '21226'
 '21821' '19034' '26808' '19382' '20560' '20024' '43138' '43571' '43601'
 '45208' '45426' '47394' '62298' '64481' '48915' '68123' '53121' '50038'
 '57445' '60968' '60193' '60532' '73703' '21012' '20711' '21061' '23452'
 '23451' '23518' '26160' '25701' '40503' '66606' '68137' '79227' '68854'
 '63620' '74435' '66103' '66604' '68901' '68933' '22556' '28712' '63040'
 '65203' '57055' 'L9Z3A8' '2747' '77007' '15102' '17519' '8202' '20147'
 '19348' '21037' '21403' 'N8H3V4' '48192' '48045' '48230' '49757' '50247'
 '53212' '62712' '53716' '54230' '64060' '56062' '63139' '64015' '3901'
 '8062' '21122' '7082' '11704' '43438' '43445' '17339' '45419' '47906'
 '46580' '46254' '48170' '48313' '52601' '68102' '52060' '53703' '53550'
 '55448' '55410' '60067' '60187' '60515' '60189' '67137' '67042' '20782'
 '17312' '22066' '22630' '24441' '27909' '29412' '34431' '29429' '11730'
 '11050' '7071' '47001' '78734' '43606' '62702' '30004' '45056' '41073'
 '45211' '45140' '72127' '47859' '46163' '66083' '53711' '55423' '55904'
 '55906' '61761' '68005' '27278' '28734' '28655' '29615' '37130' '37914'
 '38104' '38112' '40214' '40205' '40222' '40383' '40502' '41091' '72853'
 '11768' '2813' '23188' '41074' '61832' '71901' '48642' '53575' '65708'
 '18104' '21613' '37066' '37405' '38002' '77845' '50011' '5117' '66210'
 '8724' '21224' '46814' '48858' '1105' '2891' '20640' '4660' '12520'
 '22949' '27332' '20817' '20902' '23662' '28327' '23696' '78130' '36539'
 '44094' '46550' '48187' '49058' '50228' '53821' '67432' '57501' '60637'
 '74940' '1106' '6082' '5677' '20112' '32536' '16415' '17557' '24523'
 '24060' '22980' '37764' '37996' '74604' '48220' '48130' '43301' '48640'
 '61264' '60516' '51542' '77085' '77625' '32159' '36542' '32550' '32456'
 '32327' '32355' '32707' '32751' '32806' '32839' '34609' '35805' '70725'
 '70809' '72205' '73125' '73102' '73101' '74006' '74115' '74011' '74114'
 '74137' '74127' '74120' '74077' '74074' '74078' '74075' '74008' '75076'
 '75210' '75143' '75605' '75951' '76048' '76049' '76051' '75138' '76034'
 '76092' '76107' '75235' '76110' '76301' '78733' '78254' '78664' '77005'
 '77030' '77004' '77037' '77079' '77077' '77070' '77084' '77035' '77373'
 '77388' '77389' '77494' '77479' '77598' '67235' '75234' '78209' '78205'
 '78212' '78215' '78208' '78210' '78229' '78216' '78204' '78218' '78624'
 '78704' '78702' 'K9A1C4' '22802' '6078' '48105' '45365' '49610' '76119'
 '49675' '49621' '49686' '48151' '19720' '11234' '15437' '45030' '21701'
 '24595' '22042' '45103' '52405' '52328' '47448' '60008' '63126' '65802'
 '78758' '20705' '6107' '8830' '10002' '21234' '8807' '8901' '17113'
 '20164' '44691' '43551' '53072' '70364' '14222' '20874' '10004' '18334'
 '20002' '34205' '67301' '35968' '52314' '77008' '19952' '21784' '26501'
 '61427' '67401' '70445' '26003' '29348' '48429' '73162' '67205' '32325'
 '33901' '77055' '29482' '78380' '29920' '29438' '33813' '48239' '70118'
 '29926' '29403' '29910' '62923']
['USA' 'CANADA' 'MEX']
[32.847273 40.048755 40.076553 43.16369  32.663043 38.937168 32.79893
 46.34515  42.198291 43.045962 43.016681 43.000926 41.609041 39.481685
 40.33032  44.43867  44.601175 35.570357 29.97155  35.31278  41.377776
 40.043516 40.06315  37.693197 39.99788  38.798819 38.847391 42.204626
 39.906532 35.647953 43.049457 38.816171 44.26667  38.482307 29.938343
 40.343625 38.182609 39.080411 39.750218 37.646432 40.283511 45.94541
 46.20011  33.737697 45.30713  40.037722 45.083333 44.03342  39.109356
 43.911389 43.70011  45.160809 43.25011  44.430833 41.47225  43.5789
 43.87111  34.336606 42.70123  42.580798 43.73392  41.314309 44.433889
 42.03759  42.98339  43.36679  42.97866  39.551634 42.399516 42.256728
 42.30008  46.09678  45.3      42.88038  49.8844   43.38621  42.691667
 42.25     42.401388 41.22232  41.761773 42.46037  42.68571  42.500187
 41.57419  41.284746 41.52925  41.64844  41.811777 38.911936 42.25485
 39.805922 43.074812 43.791675 42.97259  44.313629 44.294073 44.27344
 44.21325  41.42982  41.637164 41.290997 41.27954  37.638456 41.041895
 41.577845 41.77121  40.705138 40.857092 40.654802 40.848745 40.75175
 39.955912 40.250861 39.642897 40.497692 40.263042 40.552925 40.802918
 40.791884 40.776629 40.858692 40.739024 40.798452 38.324017 38.95928
 39.137841 39.3826   35.916222 39.047882 32.065317 28.45467  37.752969
 39.       47.57784  32.851127 32.521152 41.06017  39.407252 37.079304
 42.905264 43.244454 42.402794 31.149208 40.290673 42.493968 42.106395
 42.048568 37.394138 40.80168  40.705896 40.15732  40.344295 40.233721
 42.037879 39.983859 38.603783 40.302238 38.643765 40.286592 39.2666
 40.149717 39.673362 39.082266 44.646    42.369118 39.66121  38.078898
 38.111955 38.982612 38.262037 38.98775  40.491005 41.679291 41.545866
 41.768495 41.781467 41.489381 41.37505  34.448083 39.325714 39.501283
 39.191546 35.633444 39.019684 39.145559 39.155615 40.788662 39.228441
 39.699485 41.10011  40.499959 40.599427 42.551185 42.326437 42.223305
 42.397183 42.545668 42.570256 42.598433 42.661688 42.498145 30.427685
 41.672567 42.292247 44.78333  43.663206 43.157299 44.691777 44.146516
 35.667234 41.295893 41.623438 41.22778  42.036096 41.617591 41.43059
 41.567138 35.674777 41.630449 41.607588 41.972936 42.720638 41.52448
 29.685706 42.458761 42.441117 42.517091 40.716275 41.211348 39.020331
 42.056938 41.912837 39.026465 41.030998 41.899176 41.437746 43.422045
 42.887289 45.74835  42.617877 37.679502 43.336846 42.926467 43.045313
 43.077755 41.615082 45.11038  42.031179 44.480778 45.178293 44.994365
 44.640515 45.073613 44.916077 44.891162 32.303126 44.751113 44.778472
 44.730944 44.935465 45.005499 44.9033   44.980614 44.890914 44.999964

In [70]:
# Find null values
for column in watch2018_df.columns:
   print(f"Column {column} has {watch2018_df[column].isnull().sum()} null values")

Column Tag has 0 null values
Column Date has 0 null values
Column City has 0 null values
Column State has 0 null values
Column ZipCode has 2 null values
Column Country has 0 null values
Column Latitude has 0 null values
Column Longitude has 0 null values
Column First Name has 40 null values
Column Notes has 280 null values

In [71]:
# Find duplicate entries
print(f"Duplicate entries: {watch2018_df.duplicated().sum()}")

Duplicate entries: 0

In [72]:
# filtering by type of observation (Milkweed Sighting)
# watch2018_df = watch2018_df[watch2018_df['Longitude']>=-180]
# watch2018_df.head()

In [73]:
# filtering by type of observation (Milkweed Sighting)
# watch2018_df = watch2018_df[watch2018_df['Longitude']<=180]
# watch2018_df.head()

In [74]:
watch2018_df.drop(['First Name', 'Notes'], axis=1, inplace=True)

In [75]:
watch2018_df.shape

(1206, 8)

In [76]:
watch2018_df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

# Output geoJSON

In [77]:
str(watch2018_df.columns.tolist())

"['Tag', 'Date', 'City', 'State', 'ZipCode', 'Country', 'Latitude', 'Longitude']"

In [78]:
cols=['Tag', 'Date', 'City', 'State', 'ZipCode', 'Country', 'Latitude', 'Longitude']

In [79]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
watch2018_df['Latitude'] = watch2018_df['Latitude'].astype(float)
watch2018_df['Longitude'] = watch2018_df['Longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = watch2018_df['street_address'].str.title()

In [80]:
watch2018_df.tail()

,Tag,Date,City,State,ZipCode,Country,Latitude,Longitude
1201,MPU155,3/10/19,HILTON HEAD,SC,29910,USA,32.217752,-80.890837
1202,MPU190,3/13/19,CHARLESTON,SC,29412,USA,32.762500,-80.000280
1203,MPU155,3/13/19,PINCKNEY ISLAND NWR,SC,29926,USA,32.243768,-80.765305
1204,YTZ158,10/7/19,CYPRESS,IL,62923,USA,37.365007,-88.974743
1205,YXG327,11/7/19,FOLLY BEACH,SC,29438,USA,32.648580,-79.959130

In [83]:
geojson = df_to_geojson(watch2018_df, cols)

In [84]:
file = open("MWatch_Recoveries_2018.json", "w")
json.dump(geojson, file, indent = 1)
file.close()

# Geocoder Grab

In [245]:
geocode2018_df = watch2018_df.groupby(['ZipCode','Latitude','Longitude']).size().reset_index().rename(columns={0:'count'})
# geocoded_df = pd.DataFrame(geocoded_df)
geocode2018_df

    ZipCode   Latitude  Longitude  count
0     10002  40.706485 -74.011589      1
1     10004  40.701829 -74.010426      1
2     10010  40.739024 -73.983542      1
3     10024  40.798452 -73.974414      1
4     10026  40.802918 -73.953107      1
..      ...        ...        ...    ...
861  N9Y2V7  42.037590 -82.738720      1
862  P0A1H0  45.300000 -79.000000      1
863  P7E4H3  42.880380 -79.034680      1
864  R3P2N7  49.884400 -97.147040      1
865  R3R0B8  49.884400 -97.147040      2

[866 rows x 4 columns]

# Union Geo Grabs

In [246]:
frames = [geocode2017_df,geocode2018_df]
geocodes_df = (pd.concat(frames))

In [247]:
geocodes_df

    ZipCode   Latitude  Longitude  count
0     10004  40.704169 -74.012311      1
1     10458  40.859035 -73.890784      3
2     10519  41.345613 -73.660066      1
3      1106  42.052405 -72.567774      2
4     11201  40.695472 -73.992723      1
..      ...        ...        ...    ...
861  N9Y2V7  42.037590 -82.738720      1
862  P0A1H0  45.300000 -79.000000      1
863  P7E4H3  42.880380 -79.034680      1
864  R3P2N7  49.884400 -97.147040      1
865  R3R0B8  49.884400 -97.147040      2

[1397 rows x 4 columns]

# 2019 Monarch Watch Recovery Data

In [31]:
watch2019_df = pd.read_csv("Monarch Watch 2019 Season Tag Recoveries - Domestic - domestic-recoveries-2019.csv")
watch2019_df.head(25)

,Tag Code,Date,City/Location,State/Province,ZIP/PC,Country,First Name,Notes
0,AAAA183,8/21/19,Digby County,NS,B0W 2R0,CAN,Lisa,I have a Photo
1,AAAB212,9/1/19,Briar Island,NS,B0V1H0,CAN,Cindy,"Near the coast while hiking the Island, I have..."
2,AAAC112,9/22/19,Scarborough,ON,M1C 5G1,CAN,Laurie,NaN
3,AAAC908,10/5/19,Geneva,OH,44041,USA,Samantha,Coast of Lake Erie
4,AAAE016,8/23/19,Beaverton,ON,L0K1A0,CAN,Ryan,A camper killed the monarch as it was flying w...
5,AAAE078,9/8/19,Toronto,ON,M6P,CAN,Geraldine,"Large, healthy male, feeding with many others ..."
6,AAAE078,9/19/19,Toronto,ON,M8X 2K1,CAN,Mike,Behavior unusual compared to other Monarchs. P...
7,AAAG157,9/9/19,Burlington,ON,L0R2H9,CAN,Lindsay,Flying around the royal botanical garden -the ...
8,AAAH551,9/2/19,London,ON,N6G5A2,CAN,David,NaN
9,AAAH851,8/11/19,Innisfil,ON,L9S 4L3,CAN,Paul,NaN
10,AAAJ081,9/21/19,Milton,ON,L9T6V6,CAN,Laura,Monarch was enthusiastically feeding on butter...
11,AAAJ532,8/29/19,Mississauga,ON,L5J 3X5,CAN,Rachel,"In my garden on my front lawn, I did get a pic..."
12,AAAJ854,9/9/19,Fort Wayne,IN,46825,USA,Martin,I saw this one on one of our Sunflowers
13,AAAL248,9/21/19,Toronto,ON,M5J 2E9,CAN,Pascale,Was found on Toronto center Island
14,AAAL455,8/30/19,Cedar Springs,MI,49319,USA,Jason,Feeding on Clethra alnifolia
15,AAAL480,8/22/19,Scarborough,ON,M1N1J2,CAN,Rj,The Monarch was spotted in the Rosetta McClain...
16,AAAL626,9/2/19,St. Williams,ON,N0E 1P0,CAN,Audrey,Found while capturing Monarchs to tag them. Ph...
17,AAAL642,8/29/19,New Boston,MI,48164,USA,Kimberly,NaN
18,AAAL796,8/2/19,Toronto,ON,M6e 1z9,CAN,Mike,Dead monarch by public school
19,AAAL903,8/28/19,Toronto,ON,M1N3Y8,CAN,Walter,"Backyard garden, nectaring on Spotted Joe-Pye ..."
20,AAAM304,10/5/19,Louisville,KY,40206,USA,NaN,Monarch was dining on our tithonia. Right wing...
21,AAAM307,9/3/19,Toronto,ON,M4J3Z9,CAN,Chris,Butterfly was found on Sept. 3'19 at approx. 6...
22,AAAN641,9/14/19,Toronto,ON,M1N 1J2,CAN,Deb,alive and well on a butterfly bush
23,AAAN959,9/20/19,Toronto,ON,M6R 2Z3,CAN,Norbert,Appeared to be a healthy male taking nectar fr...
24,AAAN959,9/21/19,Toronto,ON,M6S,CAN,Kerstin,Seen in High Park Toronto

In [261]:
frames = [watch2019_df, geocodes_df]

In [262]:
watch2019_df.rename(columns={'ZIP/PC':'ZipCode'}, inplace=True)

In [263]:
watch2019_df

,Tag Code,Date,City/Location,State/Province,ZipCode,Country,First Name,Notes
0,AAAA183,8/21/19,Digby County,NS,B0W 2R0,CAN,Lisa,I have a Photo
1,AAAB212,9/1/19,Briar Island,NS,B0V1H0,CAN,Cindy,"Near the coast while hiking the Island, I have..."
2,AAAC112,9/22/19,Scarborough,ON,M1C 5G1,CAN,Laurie,NaN
3,AAAC908,10/5/19,Geneva,OH,44041,USA,Samantha,Coast of Lake Erie
4,AAAE016,8/23/19,Beaverton,ON,L0K1A0,CAN,Ryan,A camper killed the monarch as it was flying w...
...,...,...,...,...,...,...,...,...
885,ZCW750,9/14/19,Macomb,MI,48042,USA,Deanne,Released in our yard
886,ZCW756,9/14/19,Macomb,MI,48094,USA,Angela,This butterfly was released during a butterfly...
887,ZCW760,9/14/19,Macomb,MI,48042,USA,Deanne,We let it go
888,ZEW748,9/21/19,Oxford,OH,45056,USA,Lisa,"On a sun flower at a Farmers Market, in town"
889,ZGE657,8/10/19,Sailt Ste Marie,MI,49783,USA,Trish,NaN

# Attempt using geo grabbed lats & longs for 2019 --more to come on this

In [264]:
geocodes_combo_df = pd.merge(watch2019_df, geocodes_df,how='left', on ='ZipCode')

In [265]:
geocodes_combo_df

,Tag Code,Date,City/Location,State/Province,ZipCode,Country,First Name,Notes,Latitude,Longitude,count
0,AAAA183,8/21/19,Digby County,NS,B0W 2R0,CAN,Lisa,I have a Photo,NaN,NaN,NaN
1,AAAB212,9/1/19,Briar Island,NS,B0V1H0,CAN,Cindy,"Near the coast while hiking the Island, I have...",NaN,NaN,NaN
2,AAAC112,9/22/19,Scarborough,ON,M1C 5G1,CAN,Laurie,NaN,NaN,NaN,NaN
3,AAAC908,10/5/19,Geneva,OH,44041,USA,Samantha,Coast of Lake Erie,NaN,NaN,NaN
4,AAAE016,8/23/19,Beaverton,ON,L0K1A0,CAN,Ryan,A camper killed the monarch as it was flying w...,44.430833,-79.152778,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1120,ZCW750,9/14/19,Macomb,MI,48042,USA,Deanne,Released in our yard,NaN,NaN,NaN
1121,ZCW756,9/14/19,Macomb,MI,48094,USA,Angela,This butterfly was released during a butterfly...,42.734460,-82.998120,1.0
1122,ZCW760,9/14/19,Macomb,MI,48042,USA,Deanne,We let it go,NaN,NaN,NaN
1123,ZEW748,9/21/19,Oxford,OH,45056,USA,Lisa,"On a sun flower at a Farmers Market, in town",39.479227,-84.685750,1.0
1124,ZGE657,8/10/19,Sailt Ste Marie,MI,49783,USA,Trish,NaN,NaN,NaN,NaN

In [266]:
# Find null values
for column in geocodes_combo_df.columns:
   print(f"Column {column} has {geocodes_combo_df[column].isnull().sum()} null values")

Column Tag Code has 0 null values
Column Date has 0 null values
Column City/Location has 0 null values
Column State/Province has 0 null values
Column ZipCode has 1 null values
Column Country has 0 null values
Column First Name has 28 null values
Column Notes has 283 null values
Column Latitude has 526 null values
Column Longitude has 526 null values
Column count has 526 null values

In [ ]:
str(watch2019_df.columns.tolist())

In [1]:
cols = ['Tag Code', 'Date', 'City/Location', 'State/Province', 'ZIP/PC', 'Country', 'First Name', 'Notes']

In [ ]:
#  import geocoder

In [ ]:
#     var lat = '';
#     var lng = '';
#     var address = {zipcode} or {city and state};
#     geocoder.geocode( { 'address': address}, function(results, status) {
#       if (status == google.maps.GeocoderStatus.OK) {
#          lat = results[0].geometry.location.lat();
#          lng = results[0].geometry.location.lng();
#         });
#       } else {
#         alert("Geocode was not successful for the following reason: " + status);
#       }
#     });
#     alert('Latitude: ' + lat + ' Logitude: ' + lng);

In [ ]:
# def get_geocoder(postal_code_from_df):
#      # initialize your variable to None
#      lat_lng_coords = None
#      # loop until you get the coordinates
#      while(lat_lng_coords is None):
#        g = geocoder.google(postal_code_from_df)
#        lat_lng_coords = g.latlng
#      latitude = lat_lng_coords[0]
#      longitude = lat_lng_coords[1]
#      return latitude,longitude

In [ ]:
# for i in range(0,1):
#     watch2019_df['Latitude'][i],watch2019_df['Longitude'][i]=get_geocoder(watch2019_df.iloc[i]['ZIP/PC'])
#     watch2019_df.head()

In [ ]:
watch2019_df.info()

In [ ]:
# filtering with Eric (Toronto Recoveries)
watch2019_df[watch2019_df['City/Location']=='Toronto']

In [ ]:
watch2019_df.describe()

In [ ]:
watch2019_df.columns.tolist()

In [ ]:
print(watch2019_df.shape)

In [ ]:
# Determine the number of unique values in each column.
for col in watch2019_df:
  print(watch2019_df[col].unique())

In [ ]:
# Determine the number of unique values in each column.
for col in watch2019_df:
  print(watch2019_df[col].value_counts())

In [ ]:
# Find null values
for column in watch2019_df.columns:
   print(f"Column {column} has {watch2019_df[column].isnull().sum()} null values")

In [ ]:
# Find duplicate entries
print(f"Duplicate entries: {watch2019_df.duplicated().sum()}")

In [ ]:
# Get Lat & Long for PostCodes

# Output to geoJSON

In [ ]:
# # convert lat-long to floats and change address from ALL CAPS to regular capitalization
# watch2019_df['Latitude'] = watch2018_df['Latitude'].astype(float)
# watch2019_df['Longitude'] = watch2018_df['Longitude'].astype(float)
# # JNorth_Milkweed_Site_df['street_address'] = watch2018_df['street_address'].str.title()

In [ ]:
# geojson = df_to_geojson(watch2019_df, cols)

In [ ]:
# file = open("watch2019.json", "w")
# json.dump(geojson, file, indent =4)
# file.close()

In [ ]:
# watch2019_df.to_json(r'watch2019.json')

In [ ]:
# watch2019_json = watch2019_df.to_json()
# print(watch2019_json)

# 2020 Monarch Watch Recovery Data

In [248]:
watch2020_df = pd.read_csv("Monarch Watch 2019 Season Tag Recoveries - Domestic - domestic-recoveries-2019.csv")
watch2020_df.head()

,Tag Code,Date,City/Location,State/Province,ZIP/PC,Country,First Name,Notes
0,AAAA183,8/21/19,Digby County,NS,B0W 2R0,CAN,Lisa,I have a Photo
1,AAAB212,9/1/19,Briar Island,NS,B0V1H0,CAN,Cindy,"Near the coast while hiking the Island, I have..."
2,AAAC112,9/22/19,Scarborough,ON,M1C 5G1,CAN,Laurie,NaN
3,AAAC908,10/5/19,Geneva,OH,44041,USA,Samantha,Coast of Lake Erie
4,AAAE016,8/23/19,Beaverton,ON,L0K1A0,CAN,Ryan,A camper killed the monarch as it was flying w...

# Output geoJSON

In [249]:
watch2018_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206 entries, 0 to 1205
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tag         1206 non-null   object
 1   Date        1206 non-null   object
 2   City        1206 non-null   object
 3   State       1206 non-null   object
 4   ZipCode     1204 non-null   object
 5   Country     1206 non-null   object
 6   Latitude    1206 non-null   float64
 7   Longitude   1206 non-null   float64
 8   First Name  1166 non-null   object
 9   Notes       926 non-null    object
dtypes: float64(2), object(8)
memory usage: 94.3+ KB

In [250]:
watch2019_df.describe()

,Tag Code,Date,City/Location,State/Province,ZIP/PC,Country,First Name,Notes
count,890,890,890,890,889,890,865,669
unique,853,129,528,48,635,3,485,660
top,AAMY365,9/15/19,San Antonio,FL,32355,USA,Mary,"found in Spanish Needles on Cedar Point Trail,..."
freq,3,24,25,83,35,824,14,5

In [251]:
watch2019_df.columns.tolist()

['Tag Code',
 'Date',
 'City/Location',
 'State/Province',
 'ZIP/PC',
 'Country',
 'First Name',
 'Notes']

In [252]:
print(watch2019_df.shape)

(890, 8)

In [253]:
# Determine the number of unique values in each column.
for col in watch2019_df:
  print(watch2019_df[col].unique())

['AAAA183' 'AAAB212' 'AAAC112' 'AAAC908' 'AAAE016' 'AAAE078' 'AAAG157'
 'AAAH551' 'AAAH851' 'AAAJ081' 'AAAJ532' 'AAAJ854' 'AAAL248' 'AAAL455'
 'AAAL480' 'AAAL626' 'AAAL642' 'AAAL796' 'AAAL903' 'AAAM304' 'AAAM307'
 'AAAN641' 'AAAN959' 'AAAP569' 'AAAP729' 'AAAR868' 'AAAS135' 'AAAS334'
 'AAAS578' 'AAAS886' 'AAAT700' 'AAAX355' 'AAAX872' 'AAAZ134' 'AABA405'
 'AABA806' 'AABB435' 'AABC308' 'AABC545' 'AABC708' 'AABC770' 'AABC992'
 'AABE045' 'AABE228' 'AABE275' 'AABE360' 'AABE975' 'AABG735' 'AABG802'
 'AABG873' 'AABH007' 'AABH926' 'AABJ22I' 'AABL067' 'AABL126' 'AABL359'
 'AABL841' 'AABM114' 'AABM154' 'AABM184' 'AABM206' 'AABM260' 'AABM407'
 'AABM675' 'AABM694' 'AABM75J' 'AABM795' 'AABM803' 'AABM806' 'AABM851'
 'AABM852' 'AABN006' 'AABN081' 'AABP995' 'AABR052' 'AABR137' 'AABR364'
 'AABR376' 'AABR427' 'AABR436' 'AABR481' 'AABR871' 'AABS049' 'AABS737'
 'AABT433' 'AABU280' 'AABW054' 'AABW124' 'AABZ376' 'AACA946' 'AACB088'
 'AACB848' 'AACC178' 'AACC758' 'AACE306' 'AACE401' 'AACE407' 'AACE741'
 'AACG610' 'AACH533' 'AACH640' 'AACN362' 'AACN632' 'AACN675' 'AACN993'
 'AACP120' 'AACP810' 'AACR386' 'AACR416' 'AACS115' 'AACS785' 'AACT404'
 'AACT420' 'AACT633' 'AACU032' 'AACU038' 'AACU527' 'AACU529' 'AACU825'
 'AACW509' 'AAEA005' 'AAEB005' 'AAEB007' 'AAEC942' 'AAEE328' 'AAEE829'
 'AAEH091' 'AAEH128' 'AAEH302' 'AAEH351' 'AAEH485' 'AAEH549' 'AAEH737'
 'AAEJ550' 'AAEJ943' 'AAEL811' 'AAEL998' 'AAEM594' 'AAEN349' 'AAEN524'
 'AAES103' 'AAES551' 'AAET188' 'AAET535' 'AAET719' 'AAET942' 'AAET960'
 'AAEU258' 'AAEU454' 'AAEW743' 'AAEX272' 'AAEX671' 'AAEY416' 'AAEY537'
 'AAEY725' 'AAEZ621' 'AAEZ892' 'AAFG625' 'AAGL717' 'AAGS625' 'AAGW176'
 'AAGW900' 'AAGX030' 'AAGX067' 'AAGZ726' 'AAHA000' 'AAHA412' 'AAHB495'
 'AAHE357' 'AAHE382' 'AAHG290' 'AAHH495' 'AAHW030' 'AAHX246' 'AAHX545'
 'AAJB598' 'AAJE011' 'AAJE347' 'AAJH405' 'AAJJ388' 'AAJJ525' 'AAJJ529'
 'AAJL439' 'AAJL454' 'AAJL509' 'AAJL619' 'AAJM006' 'AAJP102' 'AAJP127'
 'AAJP134' 'AAJS361' 'AAJU936' 'AAJW103' 'AAJW283' 'AAJW378' 'AAJW580'
 'AAJY057' 'AAJY756' 'AAJZ225' 'AAJZ438' 'AAJZ956' 'AALB607' 'AALC314'
 'AALC532' 'AALC619' 'AALC712' 'AALC733' 'AALC737' 'AALC739' 'AALC740'
 'AALE341' 'AALG137' 'AALH308' 'AALL124' 'AALL406' 'AALL611' 'AALL612'
 'AALL817' 'AALN645' 'AALT501' 'AALW305' 'AALX219' 'AALY386' 'AAMC937'
 'AAME458' 'AAME459' 'AAMH746' 'AAML927' 'AAMR012' 'AAMR917' 'AAMR929'
 'AAMS651' 'AAMS812' 'AAMT329' 'AAMT336' 'AAMT803' 'AAMU434' 'AAMW944'
 'AAMY365' 'AANA459' 'AANE242' 'AANE883' 'AANJ001' 'AANJ202' 'AANJ387'
 'AANJ828' 'AANL584' 'AANM255' 'AANM476' 'AANM625' 'AANM693' 'AANP962'
 'AANP985' 'AANR845' 'AANT130' 'AANT386' 'AANT994' 'AANU114' 'AANW526'
 'AANW967' 'AAPA103' 'AAPA334' 'AAPA568' 'AAPA691' 'AAPB474' 'AAPG749'
 'AAPJ225' 'AAPJ715' 'AAPJ847' 'AAPL924' 'AAPM228' 'AAPN111' 'AAPN172'
 'AAPP338' 'AAPP426' 'AAPT681' 'AAPW452' 'AAPX489' 'AAPX904' 'AAPY082'
 'AARA542' 'AARB146' 'AARB851' 'AARC793' 'AARE082' 'AARG057' 'AARH746'
 'AARL180' 'AARL368' 'AARM680' 'AARS937' 'AARW052' 'AARW054' 'AARW454'
 'AARW484' 'AARZ366' 'AARZ370' 'AARZ812' 'AARZ892' 'AASB144' 'AASB393'
 'AASB575' 'AASB614' 'AASB700' 'AASB780' 'AASB869' 'AASB927' 'AASC033'
 'AASC254' 'AASC602' 'AASG207' 'AAST150' 'AAST550' 'AAST775' 'AASU255'
 'AASX929' 'AASY451' 'AASZ175' 'AASZ704' 'AASZ738' 'AATA754' 'AATB695'
 'AATH153' 'AATP324' 'AATR017' 'AATR189' 'AATR390' 'AATR926' 'AATS575'
 'AATT885' 'AATX666' 'AATZ838' 'AAUA001' 'AAUA007' 'AAUA111' 'AAUA127'
 'AAUA233' 'AAUA251' 'AAUA286' 'AAUA480' 'AAUB907' 'AAUE154' 'AAUE169'
 'AAUE327' 'AAUE789' 'AAUG086' 'AAUG726' 'AAUH104' 'AAUJ427' 'AAUL866'
 'AAUM539' 'AAUM566' 'AAUR324' 'AAUR581' 'AAUS044' 'AAUS939' 'AAUT062'
 'AAUT738' 'AAUU538' 'AAUU941' 'AAUW097' 'AAUX196' 'AAUX353' 'AAUX515'
 'AAUX670' 'AAUX841' 'AAUY194' 'AAVE571' 'AAWA454' 'AAWA481' 'AAWA802'
 'AAWB537' 'AAWG183' 'AAWG227' 'AAWG333' 'AAWG635' 'AAWJ045' 'AAWL663'
 'AAWM243' 'AAWM673' 'AAWN077' 'AAWP935' 'AAWR503' 'AAWR859' 'AAWS504'
 'AAWY161' 'AAWY714' 'AAWY979' 'AAWZ159' 'AAXA037' 'AAXA147' 'AAXA447'
 'AAXA650' 'AAXB128' 'AAXB182' 'AAXC251' 'AAXG781' 'AAXH342' 'AAXH564'
 'AAXL051' 'AAXL364' 'AAXL933' 'AAXM330' 'AAXN282' 'AAXN878' 'AAXN934'
 'AAXP875' 'AAXR316' 'AAXS079' 'AAXT264' 'AAXT521' 'AAXW345' 'AAXY940'
 'AAXZ206' 'AAXZ354' 'AAXZ432' 'AAYB391' 'AAYB586' 'AAYB823' 'AAYC160'
 'AAYC373' 'AAYC413' 'AAYC727' 'AAYE256' 'AAYE811' 'AAYG228' 'AAYG625'
 'AAYG635' 'AAYG636' 'AAYH579' 'AAYH696' 'AAYH791' 'AAYJ291' 'AAYJ424'
 'AAYL974' 'AAYM350' 'AAYN222' 'AAYN282' 'AAYP724' 'AAYR712' 'AAYR718'
 'AAYR728' 'AAYR737' 'AAYR740' 'AAYS302' 'AAYS841' 'AAYW633' 'AAYW735'
 'AAYY000' 'AAYZ400' 'AAZB356' 'AAZB478' 'AAZB489' 'AAZC372' 'AAZC396'
 'AAZC399' 'AAZC400' 'AAZC401' 'AAZC685' 'AAZE251' 'AAZG154' 'AAZG952'
 'AAZJ126' 'AAZL480' 'AAZM025' 'AAZM045' 'AAZM106' 'AAZM321' 'AAZM452'
 'AAZN252' 'AAZN336' 'AAZN448' 'AAZP471' 'AAZP610' 'AAZP613' 'AAZR027'
 'AAZR750' 'AAZR840' 'AAZT275' 'AAZT386' 'AAZT472' 'AAZU095' 'AAZU756'
 'AAZX456' 'AAZY065' 'AAZY556' 'AAZZ313' 'AAZZ375' 'ABAA048' 'ABAB589'
 'ABAC766' 'ABAE105' 'ABAG220' 'ABAG456' 'ABAH525' 'ABAJ045' 'ABAJ309'
 'ABAL049' 'ABAL531' 'ABAM531' 'ABAN744' 'ABAN804' 'ABAP167' 'ABAP862'
 'ABAR382' 'ABAS800' 'ABAS807' 'ABAS812' 'ABAS823' 'ABAT330' 'ABAT331'
 'ABAU175' 'ABAW259' 'ABAW657' 'ABAY810' 'ABBE333' 'ABBE403' 'ABBE745'
 'ABBE753' 'ABBE881' 'ABBE915' 'ABBE997' 'ABBG238' 'ABBG557' 'ABBG563'
 'ABBG564' 'ABBG571' 'ABBG636' 'ABBG641' 'ABBG702' 'ABBG910' 'ABBH144'
 'ABBH217' 'ABBH300' 'ABBH369' 'ABBH558' 'ABBH575' 'ABBH590' 'ABBH687'
 'ABBH718' 'ABBJ491' 'ABBJ496' 'ABBJ497' 'ABBJ576' 'ABBJ599' 'ABBJ654'
 'ABBJ657' 'ABBJ734' 'ABBM055' 'ABBM736' 'ABBN057' 'ABBN284' 'ABBN514'
 'ABBN525' 'ABBN947' 'ABBP128' 'ABBP697' 'ABBR848' 'ABBR957' 'ABBU008'
 'ABBU628' 'ABBU641' 'ABBU649' 'ABBW501' 'ABBX493' 'ABBY978' 'ABCA234'
 'ABCA483' 'ABCA504' 'ABCB820' 'ABCC375' 'ABCC419' 'ABCE809' 'ABCF361'
 'ABCG601' 'ABCH783' 'ABCH870' 'ABCJ467' 'ABCL029' 'ABCL050' 'ABCM104'
 'ABCM124' 'ABCM126' 'ABCM162' 'ABCN182' 'ABCP650' 'ABCR068' 'ABCS380'
 'ABCT414' 'ABCU027' 'ABCW026' 'ABCW032' 'ABCW316' 'ABCW515' 'ABCW997'
 'ABCX392' 'ABCX424' 'ABCX919' 'ABCY068' 'ABCY825' 'ABCZ014' 'ABCZ141'
 'ABCZ265' 'ABEA282' 'ABEE004' 'ABEJ951' 'ABEN163' 'ABEN182' 'ABEN208'
 'ABEN310' 'ABEN445' 'ABEN512' 'ABEN546' 'ABEP129' 'ABER593' 'ABET070'
 'ABEX552' 'ABEY076' 'ABEZ226' 'ABEZ261' 'ABEZ267' 'ABEZ271' 'ABEZ282'
 'ABEZ315' 'ABEZ682' 'ABEZ750' 'ABEZ764' 'ABEZ850' 'ABEZ989' 'ABG696'
 'ABGA039' 'ABGA057' 'ABGA497' 'ABGA522' 'ABGA570' 'ABGA575' 'ABGA660'
 'ABGA672' 'ABGA683' 'ABGA752' 'ABGA755' 'ABGA939' 'ABGA952' 'ABGJ187'
 'ABGK006' 'ABGM876' 'ABGP455' 'ABGU180' 'ABGW123' 'ABGW319' 'ABGX143'
 'ABGX248' 'ABGY223' 'ABGY231' 'ABGY535' 'ABHP052' 'ABHP054' 'ABHP144'
 'ABHP266' 'ABHP326' 'ABHP336' 'ABHR511' 'ABHU056' 'ABHU774' 'ABHW297'
 'ABHW963' 'ABHY759' 'ABHZ171' 'ABJA004' 'ABJA012' 'ABJA025' 'ABJA058'
 'ABJA067' 'ABJA082' 'ABJA102' 'ABJA152' 'ABJA188' 'ABJA200' 'ABJA303'
 'ABJA304' 'ABJA351' 'ABJA413' 'ABJA438' 'ABJA451' 'ABJA630' 'ABJA658'
 'ABJA665' 'ABJA690' 'ABJA697' 'ABJA702' 'ABJA703' 'ABJA709' 'ABJA764'
 'ABJA905' 'ABJA912' 'ABJA919' 'ABJA934' 'ABJA945' 'ABJA976' 'ABJA999'
 'ABJB050' 'ABJB144' 'ABJB150' 'ABJB196' 'ABJB218' 'ABJB226' 'ABJB245'
 'ABJB276' 'ABJB315' 'ABJB321' 'ABJB327' 'ABJB357' 'ABJB437' 'ABJB443'
 'ABJB444' 'ABJC524' 'ABJE214' 'ABJJ322' 'ABJJ324' 'ABJJ934' 'ABJL443'
 'ABJR269' 'ABJT954' 'ABJU202' 'ABJU776' 'ABJU849' 'ABJU918' 'ABJX275'
 'ABJX284' 'ABJX289' 'ABJX295' 'ABJX387' 'ABJY930' 'ABJY948' 'ABJY961'
 'ABLB056' 'ABLB201' 'ABLB282' 'ABLB679' 'ABLE786' 'ABLG654' 'ABLH327'
 'ABLJ162' 'ABLL565' 'ABLL566' 'ABLL567' 'ABLM461' 'ABLM979' 'ABLN387'
 'ABLN798' 'ABLR228' 'ABLR495' 'ABLR610' 'ABLS411' 'ABLT948' 'ABLW146'
 'ABLY709' 'ABLY842' 'ABMA385' 'ABMA386' 'ABMA512' 'ABMA531' 'ABMA544'
 'ABMA556' 'ABMA571' 'ABMA782' 'ABMA862' 'ABMA864' 'ABMA896' 'ABMB274'
 'ABMB504' 'ABME208' 'ABME929' 'ABMH176' 'ABMH220' 'ABMH481' 'ABMH497'
 'ABMJ312' 'ABML075' 'ABML201' 'ABML418' 'ABMM147' 'ABMM842' 'ABMP204'
 'ABMR475' 'ABMR634' 'ABMR995' 'ABMT755' 'ABMW368' 'ABMW487' 'ABMX230'
 'ABMX271' 'ABMX355' 'ABMX437' 'ABMX479' 'ABNA026' 'ABNA605' 'ABNB207'
 'ABNB225' 'ABNB757' 'ABNE390' 'ABNJ095' 'ABNJ117' 'ABNL000' 'ABNM682'
 'ABNT101' 'ABNU212' 'ABNU601' 'ABNU602' 'ABNU608' 'ABNW045' 'ABNW662'
 'ABNW687' 'ABNY008' 'ABOA207' 'AGBA752' 'AMBX438' 'ANNA102' 'ASZS762'
 'LBAJ699' 'MPU588' 'SJS544' 'SRH551' 'UJA806' 'XTA576' 'XUC169' 'XUC198'
 'XUC261' 'YBY747' 'YCG250' 'YCG337' 'YCG592' 'YEZ356' 'YGA565' 'YJZ812'
 'YSX687' 'YZT283' 'ZAA243' 'ZAH493' 'ZAS797' 'ZAS804' 'ZAS833' 'ZAS846'
 'ZAS971' 'ZAT023' 'ZAU920' 'ZAZ124' 'ZCW269' 'ZCW750' 'ZCW756' 'ZCW760'
 'ZEW748' 'ZGE657']
['8/21/19' '9/1/19' '9/22/19' '10/5/19' '8/23/19' '9/8/19' '9/19/19'
 '9/9/19' '9/2/19' '8/11/19' '9/21/19' '8/29/19' '8/30/19' '8/22/19'
 '8/2/19' '8/28/19' '9/3/19' '9/14/19' '9/20/19' '8/12/19' '10/16/19'
 '10/11/19' '8/24/19' '8/25/19' '8/18/19' '10/15/19' '9/12/19' '9/25/19'
 '10/17/19' '10/1/19' '9/23/19' '10/22/19' '9/18/19' '9/24/19' '9/7/19'
 '9/30/19' '8/16/19' '8/17/19' '8/10/19' '8/15/19' '9/5/19' '10/3/19'
 '10/10/19' '8/31/19' '9/16/19' '9/13/19' '9/15/19' '9/29/19' '9/10/19'
 '9/28/19' '10/2/19' '8/19/19' '10/19/19' '8/20/19' '8/8/19' '8/9/19'
 '8/13/19' '9/4/19' '8/6/19' '10/24/19' '8/27/19' '9/26/19' '9/27/19'
 '9/17/19' '10/20/19' '10/13/19' '8/26/19' '8/14/19' '10/4/19' '9/11/19'
 '10/8/19' '10/18/19' '10/14/19' '12/13/19' '10/6/19' '10/25/19' '9/6/19'
 '10/23/19' '10/27/19' '11/4/19' '10/29/19' '10/9/19' '10/12/19' '10/7/19'
 '11/11/19' '10/31/19' '10/21/19' '12/20/19' '12/21/19' '10/30/19'
 '11/7/19' '11/27/19' '11/15/19' '11/13/19' '11/1/19' '11/23/19' '11/9/19'
 '1/24/20' '11/19/19' '11/24/19' '11/17/19' '11/28/19' '1/6/20' '10/26/19'
 '11/3/19' '11/10/19' '12/4/19' '10/28/19' '11/2/19' '11/8/19' '1/2/20'
 '11/26/19' '11/21/19' '1/13/20' '11/5/19' '11/6/19' '12/27/19' '1/9/20'
 '12/24/19' '1/18/20' '1/22/20' '12/26/19' '11/30/19' '11/12/19' '1/12/20'
 '2/8/20' '1/11/20' '1/3/19' '8/7/19']
['Digby County' 'Briar Island' 'Scarborough' 'Geneva' 'Beaverton'
 'Toronto' 'Burlington' 'London' 'Innisfil' 'Milton' 'Mississauga'
 'Fort Wayne' 'Cedar Springs' 'St. Williams' 'New Boston' 'Louisville'
 'Etobicoke' 'Madison' 'Harrison' 'Port Elgin' 'Livonia' 'Southampton'
 'Naperville' 'Port Stanley' 'Leamington' 'Winnipeg' 'Stratford'
 'St Clair Shores' 'Universal City' 'Springfield' 'Newman' 'Boerne'
 'Schomberg' 'Oakville' 'Lee' 'Middletown' 'Carver' 'Charlestown'
 'Somerville' 'Newport' 'Greenfield' 'Kittery' 'Portsmouth' 'Westbrook'
 'Meredith' 'Southwest Harbor' 'Bass Harbor' 'Bar Harbor' 'Exeter'
 'Simsbury' 'Southwest Harbo' 'Harvey Cedars' 'Northeast Harbor' 'Camden'
 'Ogunquit' 'Joppa' 'Centerbrook' 'New Haven' 'Northford' 'North Haven'
 'East Hampton' 'Guilford' 'Smithtown' 'Denver' 'Norfolk' 'Oakland'
 'Howell' 'Highland Park' 'New York' 'Rye' 'Bellerose' 'Rocky Point'
 'Kingston' 'Wappingers Falls' 'Beacon Ny' 'Southold' 'Allen' 'Thomasboro'
 'Castile' 'Roseville' 'Saint Paul' 'Minneapolis' 'Eagan' 'St Paul'
 'Anoka' 'Farmington' 'Mayer' 'Edina' 'St. Anthony' 'St. Francis'
 'Crystal' 'Bloomington' 'Hermantown' 'Spring Valley' 'New Ulm'
 'Bloomfield' 'Sioux Falls' 'Harrisburg' 'Grosse Pointe Farms'
 'Clinton Township' 'Clinton Twp' 'Warren' 'Taylor' 'Gurley' 'Dearborn'
 'Kingsville' 'Troy' 'Manitowoc' 'Hoffman Estates' 'Saint Johns'
 'Morton Grove' 'Greene' 'Iowa Falls' 'Barkriver' 'Elgin' 'St. Louis'
 'Union Pier' 'Sheboygan' 'Three Lakes' 'Watertown' 'Findlay' 'Whitewater'
 'Belleville' 'Rolling Meadows' 'Janesville' 'Dallas' 'Cuba City'
 'Beavercreek' 'Burnsville' 'New York City' 'East Montpelier'
 'Platteville' 'Fox Lake' 'Gibraltar' 'Lawrence' 'Knoxville' 'Northfield'
 'Stevens Point' 'Oklahoma City' 'Beaver Falls' 'West View' 'Erie' 'Nancy'
 'State College' 'Winston-Salem' 'Lancaster' 'Havre De Grace'
 'Cape May City' 'Bethlehem Township' 'Easton' 'Wyomissing' 'Narberth'
 'Virginia Beach' 'Newark' 'West Chester' 'Smyrna' 'Columbus'
 'Port Clinton' 'Toledo' 'Bainbridge' 'Parma' 'Cleveland' 'Sharon Center'
 'Canton' 'North Austin/Cedar Park' 'Madeira' 'Morrow' 'Cincinnati'
 'Near Manson- South Twin Lakes' 'Mount Pleasant' 'Dickens' 'Oskaloosa'
 'Donnellson' 'Hornbeak' 'Sioux City' 'Moundridge' 'Maquoketa' 'Guasave'
 'Davenport' 'Caledon' 'Woodstock' 'Seaside Park' 'Tupper Lake'
 'Farmers Branch' 'York' 'Jerseyville' 'Bay Village' 'Upper Arlington'
 'Ann Arbor' 'Oregon' 'Fairgrove' 'Lansing' 'West Des Moines'
 'Prairie City' 'Swea City' 'Cedar Falls' 'Lake Geneva' 'Appleton'
 'Neenah' 'Shoreview' 'Quispamsis' 'Waterloo' 'Huntsville' 'Swansea'
 'Green Bay' 'Allison Park' 'Media' 'Reading' 'Napoleon' 'Kalamazoo'
 'Kenosha' 'Richmond' 'Mechanicsville' 'Lanham' 'Oakton' 'Boyds'
 'Montgomery Village' 'Mount Airy' 'Timonium' 'Perry Hall' 'Sykesville'
 'Arlington' 'Annendale' 'Fairfax' 'Cape May' 'Kiptopeke' 'Craddockville'
 'Jacksonville' 'Cape Charles' 'Newport News' 'Beaufort' 'East Liverpool'
 'Evansville' 'Lafayette' 'Oswego' 'Memphis' 'Elmhurst' 'Wheaton'
 'Burbank' 'Oak Park' 'Oak Lawn' 'Chicago' 'Smithton' 'Chagrin Falls'
 'Pointe Pelee' 'Santa Rosa Beach' 'Long Point' 'Syracuse' 'Martinsburg'
 'Macomb' 'Franklin' 'Wyandotte' 'South Bend' 'Point Pelee National Park'
 'Westland' 'Hales Corners' 'South Milwaukee' 'Racine' 'Shorewood'
 'East Peoria' 'Washington' 'Niagara Falls' 'Front Royal' 'Cambridge'
 'Lugoff' 'Derry' 'Northport' 'Westport' 'Lindenhurst' 'Asheville'
 'Piscataway' 'Fair Harbor, Fire Island' 'Mount Sinai' 'Mt. Sinai'
 'Clifton Park' 'Billingsley' 'Pennsville' 'Tonawanda' 'Town Of Tonawanda'
 'Rochester' 'Canonsburg' 'Dover' 'Bernhiem Arboretum Clermont'
 'Assateague National Seashore' 'Trinity' 'Loveland' 'Greenville'
 'Sterling Heights' 'Bradley' 'Midland' 'Allegan' 'Columbia' 'Mequon'
 'Overland Park' 'Wauwatosa' 'Kronenwetter' 'Black River Falls'
 'Missouri Valley' 'Lincoln' 'Santa Catarina' 'Charleston' 'Marblehead'
 'Remsen' 'Corry' 'Baltimore' 'Baldwin' 'Alliance' 'Bunker Hill'
 'St. Johns' 'Bethany' 'Albemarle' 'Newfield' 'Hilton Head' 'Westerville'
 'Put-In-Bay' 'Indianapolis' 'Point Pelee' 'Lincoln Park' 'Spencer'
 'Blue Mounds' 'Prairie Du Chien' 'Minneapoils' 'Bernheim Forest'
 'Shepherdsville' 'Frankfort' 'Tulsa' 'Bellevue' 'Cades Cove' 'Ballwin'
 'Saint Louis' 'Kansas City' 'Jefferson City' 'Joplin' 'Bastrop' 'Topeka'
 'Archer County Near Wichita Falls' 'Wichita' 'Delphos' 'Fort Collins'
 'Galloway Township' 'Cape May Point' 'Chincoteague' 'Mt Pleasant'
 'Woodbine' 'Ocean City' 'Berlin' 'West Cape May' 'Wc' 'Bridgeton'
 'Boothbay' 'Reston' 'Miramar Beach' 'Grosse Pointe Park' 'Missouri City'
 'Alton' 'Kingsbury' 'Kansas Wetlands Edu. Center' 'Salisbury' 'Nags Head'
 'Kure Beach' 'Morrisville' 'Charlotte' 'Topsail Beach' 'Columbiaq'
 'West Columbia' 'Clemson' 'Telford' 'Nashville' 'Edmond' 'Enid' 'Dewey'
 'Bartlesville' 'Stillwater' 'Mannford' 'Owasso' 'Ingleside' 'Rockwood'
 'Deer Park' 'Wakefield' 'New Castle' 'Newfields' 'Ashland' 'Doylestown'
 'Mt. Holly' 'Brunswick' 'Browns Summit' 'Lititz' 'Allentown'
 'Hilton Head Island' 'Gray Summit' 'Robbinsdale' 'River Forest' 'Sabinas'
 'Danville' 'Kitchener' 'Hamilton' 'Jersey City' 'Akron' 'Menasha'
 'Brooklyn Park' 'Athens' 'Richton' 'Belleview' 'Lady Lake' 'Tallahassee'
 'Gulf Breeze' 'Navarre' 'Panama City Beach' 'Hudson' 'Winter Park'
 'Orlando' 'Melbourne' 'Merritt Island' 'Rotonda West' 'Covington'
 'Nacogdoches' 'Grapevine' 'Denton' 'Flower Mound' 'Jonestown' 'Austin'
 'Jamaica Beach' 'League City' 'San Antonio' 'Ipswich' 'Rockwall'
 'Mitchel Lake Audubon, San Antonio' 'Westtown' 'Falcon Heights'
 'Murrells Outlet' 'Grand Haven' 'Nacehah' 'West Chicago' 'St. Cloud'
 'Tahlequah' 'Sherman' 'Keene' 'Wilkinsburg' 'Chestee' 'St. Marks'
 'Crawfordville' 'Saint Mark' 'St Marks' "St. Mark'S Wildlife Refuge"
 'St Marks National Wildlife Refuge' 'St. Marks Wildlife Refuge'
 'Fort Pierce' "St. Mark'S Nwr" 'Saint Marks' "St. Mark'S Wlr" 'Dunedin'
 'St. Mark�S' 'St. Marks Nwr' 'St. Marksnwr' 'Frazeysburg' 'Galion'
 'Evanston' 'St Charles' 'Frenchtown' 'Galesburg' 'College Station'
 'Peterborough' 'Carrolton' 'Mills River' 'Fletcher' 'Springfield Mo'
 'Waterford' 'Falmouth' 'Lutherville' 'Upperville' 'Norristown' 'Bat Cave'
 'Hampton' 'Wilmington' 'Lake City' 'Wauwatosaa' 'St. Paul' 'Saint Cloud'
 'Kingwood' 'Dunwoody' 'Pflugerville' 'Fredericksburg' 'Fredricksburg'
 'Citra' 'Folly Beach' 'Fripp Island' 'Gulf Hammock' 'Brooklyn'
 'Willowick' 'White Bear Lake' 'Mystic Island' 'Galveston' 'Whitehouse'
 'Ankeny' 'West Burlington' 'Charleston/James Island' 'Xenia' 'Billings'
 'Baton Rouge' 'Mission' 'Fairhope' 'Metairie' 'Silver Spring' 'Houston'
 'Seneca' 'Ormond Beach' 'Stone Harbot' 'Westfield'
 'Jaumave, Ejido Magdaleno Aguilar' 'Ej. Avila Y Urbina, Mpio. Jaumave'
 'West Allis' 'Westminster' 'Grand Rapids' 'Johns Island' 'Stoney Point'
 'Acambaro' "Presqu'Ile Provincial Park" 'Bluffton' 'Merrick' 'Buckhead'
 'Macksville' 'St Marks Wildlife Refuge' 'St. Marks, Fl' 'Boca Raton'
 'Cammack Village' 'Ypsilanti' 'Oxford' 'Sailt Ste Marie']
['NS' 'ON' 'OH' 'IN' 'MI' 'KY' 'WI' 'IL' 'MB' 'CT' 'TX' 'MA' 'NY' 'RI'
 'NH' 'ME' 'NJ' 'MD' 'PA' 'VA' 'MN' 'NE' 'SD' 'AL' 'IA' 'MO' 'VT' 'KS'
 'OK' 'NC' 'DE' 'TN' 'Sinaloa' 'NB' 'SC' 'FL' 'WV' 'DC' 'Nuevo Leon' 'CO'
 'Coahuila' 'GA' 'MS' 'LA' 'MT' 'Tamaulipas' 'Guanajuato' 'AR']
['B0W 2R0' 'B0V1H0' 'M1C 5G1' '44041' 'L0K1A0' 'M6P' 'M8X 2K1' 'L0R2H9'
 'N6G5A2' 'L9S 4L3' 'L9T6V6' 'L5J 3X5' '46825' 'M5J 2E9' '49319' 'M1N1J2'
 'N0E 1P0' '48164' 'M6e 1z9' 'M1N3Y8' '40206' 'M4J3Z9' 'M1N 1J2' 'M6R 2Z3'
 'M6S' 'M6R2Z3' 'M8Z 4K5' '53711' '45030' 'N0H2C0' '48154' 'N0H2L0'
 '60565' 'N6C 5E6' nan 'N8H3v4' 'R2G 2C4' '06614' 'M4E 2N9' '48081'
 '78148' '45502' 'R3R 2N2' '61942' '78006' 'M4J2X5' 'L0G1T0' 'L6M2W7'
 '01238' '10940' '02330' '02813' '02145' '02840' '03047' '03904' '03801'
 '04092' '03253' '04679' '04660' '04653' '04609' '03833' '06070' '08008'
 '04662' '04843' '03907' '21085' '06409' '06443' '06511' '06472' '06473'
 '11937' '06437' '11787' '17517' '23518' '07436' '07731' '08904' '10025'
 '10580' '11426' '11778' '12401' '12590' '12508' '11971' '75013' '61878'
 '14427' '55113' '55108' '55410' '55121' '55106' '55303' '55024' '55360'
 '55424' '55421' '55419' '53207' '55428' '55438' '55811' '55975' '56073'
 '68718' '57106' '57032' '48236' '48035' '48088' '48091' '48180' '35748'
 '48124' '44048' '48098' '54220' '60192' '48879' '60053' '50636' '50126'
 '49807' '60123' '63125' '49129' '53081' '54562' '53098' '45840' '53190'
 '53508' '60008' '53546' '75214' '53563' '53705' '53706' '40165' '53714'
 '53807' '45432' '55337' '10029' '10019' '05651' '53818' '53933' '54212'
 '66045' '50138' '55057' '54482' '73127' '15010' '15229' '16504' '42544'
 '16508' '16803' '27106' '17102' '17101' '17110' '17603' '21078' '08204'
 '18045' '19610' '19072' '23452' '19711' '19382' '19977' '43130' '43214'
 '43221' '43452' '43617' '44023' '44057' '44134' '47111' '44102' '44274'
 '44718' '78613' '45243' '45152' '45220' '45244' '45201' '50551' '52641'
 '51333' '52577' '52625' '38232' '51106' '67107' '52060' '81189' '52722'
 '52802' 'L5L1C6' 'L5H1V5' 'L7K0C2' 'R3M 3N8' '16801' '05091' '08752'
 '12986' '75244' '17408' '44108' '62052' '44140' '44641' '48066' '48109'
 '43616' '48733' '48912' '50266' '50228' '50590' '50613' '53406' '53147'
 '54911' '54956' '55126' 'E2G 1M1' 'N2l 2h8' 'N8H3V4' 'P1H 2G5' '02777'
 '54313' '15101' '19063' '19607' '45612' '43545' '49009' '53143' '53575'
 '23228' '23116' '20706' '22124' '20841' '20886' '21771' '21093' '21128'
 '21784' '22204' '22003' '22032' '23310' '23320' '28547' '23456' '23504'
 '23505' '23454' '23462' '23435' '23503' '23451' '23601' '29902' '43920'
 '47715' '47905' '60543' '66080' '38104' '60126' '60189' '60459' '60304'
 '60453' '60618' '62285' '44022' 'M4L 3N1' 'N8H 3V4' 'N8h 3c5' '32459'
 'N0E 1M0' '13219' '25403' '48042' '37069' '48092' '48192' '46613' '48103'
 'N8h3v4' 'N8H' '48185' '57108' '53130' '53172' '53402' '55331' '55430'
 '61611' '61571' 'L7T 1Y2' 'L2E 6T2' '22630' '45202' 'N1S4T3' '29078'

In [254]:
# Determine the number of unique values in each column.
for col in watch2019_df:
  print(watch2019_df[col].value_counts())

AAMY365    3
ABHP326    3
ABHZ171    3
AATR390    2
AAEH128    2
          ..
AARS937    1
AARW052    1
AARW054    1
AARW454    1
ZGE657     1
Name: Tag Code, Length: 853, dtype: int64
9/15/19     24
9/14/19     23
9/20/19     22
9/22/19     21
9/10/19     20
            ..
10/31/19     1
12/20/19     1
12/21/19     1
1/24/20      1
8/7/19       1
Name: Date, Length: 129, dtype: int64
San Antonio        25
St. Marks          19
Tulsa              18
Toronto            14
Crawfordville      12
                   ..
Huntsville          1
Waterloo            1
Quispamsis          1
Shoreview           1
Sailt Ste Marie     1
Name: City/Location, Length: 528, dtype: int64
FL            83
TX            73
OH            58
ON            54
MI            53
WI            48
MN            47
PA            39
VA            38
OK            38
NJ            37
SC            34
NY            33
IL            30
KS            22
IA            21
MO            20
NC            20
ME            19
MD            15
KY            14
CT            13
IN             9
NH             8
TN             8
MA             7
LA             5
GA             5
SD             4
AL             4
DE             3
NE             3
RI             3
MB             3
Tamaulipas     2
CO             2
NS             2
WV             2
VT             2
DC             1
Nuevo Leon     1
Coahuila       1
NB             1
MS             1
Sinaloa        1
MT             1
Guanajuato     1
AR             1
Name: State/Province, dtype: int64
32355    35
32327    23
74114    12
78209    11
08204    10
         ..
50266     1
50228     1
50590     1
50613     1
49783     1
Name: ZIP/PC, Length: 635, dtype: int64
USA    824
CAN     60
MEX      6
Name: Country, dtype: int64
Mary        14
Tom          9
Michael      9
Erin         8
Jennifer     8
            ..
Dean         1
Bryan        1
Roger        1
Ken          1
Trish        1
Name: First Name, Length: 485, dtype: int64
found in Spanish Needles on Cedar Point Trail, end of Lighthouse Rd. St. Mark's NWR along with many others tagged and non-tagged.     5
Feeding on purple flowers in Grapevine Botanical Park                                                                                 3
lighthouse                                                                                                                            2
This butterfly was very dull and tattered. I believe it to be a parent generation and not one that actually migrates.                 2
Blue sticker. Saint Marks National Wildlife Refuge                                                                                    2
                                                                                                                                     ..
Feeding on Sedum with two other monarchs in my front yard                                                                             1
Monarch frequents my Zinnias. Located a half block from Lake Como.                                                                    1
City Park Appleton Wi                                                                                                                 1
The butterfly appeared very healthy it was drinking nectar from our purple coneflowers.                                               1
On a sun flower at a Farmers Market, in town                                                                                          1
Name: Notes, Length: 660, dtype: int64

In [255]:
# Find null values
for column in watch2019_df.columns:
   print(f"Column {column} has {watch2019_df[column].isnull().sum()} null values")

Column Tag Code has 0 null values
Column Date has 0 null values
Column City/Location has 0 null values
Column State/Province has 0 null values
Column ZIP/PC has 1 null values
Column Country has 0 null values
Column First Name has 25 null values
Column Notes has 221 null values

In [256]:
# Find duplicate entries
print(f"Duplicate entries: {watch2019_df.duplicated().sum()}")

Duplicate entries: 0

# El Rosario 30.0595° N, 115.7258° W

In [ ]:
watch2020_df.info()

In [ ]:
watch2020_df.describe()

In [ ]:
watch2020_df.columns.tolist()

In [ ]:
print(watch2020_df.shape)

In [ ]:
# Determine the number of unique values in each column.
for col in watch2020_df:
  print(watch2020_df[col].unique())

In [ ]:
# Determine the number of unique values in each column.
for col in watch2020_df:
  print(watch2020_df[col].value_counts())

In [ ]:
# Find null values
for column in watch2020_df.columns:
   print(f"Column {column} has {watch2020_df[column].isnull().sum()} null values")

In [ ]:
# Find duplicate entries
print(f"Duplicate entries: {watch2020_df.duplicated().sum()}")

In [ ]:
# watch2020_df.to_json(r'watch2020.json')

In [ ]:
# watch2020_json = watch2020_df.to_json()
# print(watch2020_json)

# 2020 Monarch Watch Mexico Recovery Data

In [24]:
watch2020_Mexico_df = pd.read_csv("Monarch Watch Tag Recoveries - Central Mexico - mexico-recoveries.csv")
watch2020_Mexico_df.head()

  Tag Code  Report Season     Location
0    775IZ           2020   El Rosario
1  AAAB310           2020   El Rosario
2  AAAE280           2020  Cerro Pelon
3  AAAE401           2020   El Rosario
4  AAAE620           2020   El Rosario

In [25]:
watch2020_Mexico_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20083 entries, 0 to 20082
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tag Code       20083 non-null  object
 1   Report Season  20083 non-null  int64
 2   Location       20083 non-null  object
dtypes: int64(1), object(2)
memory usage: 470.8+ KB

In [26]:
watch2020_Mexico_df.describe()

       Report Season
count   20083.000000
mean     2007.919036
std         6.496107
min      1993.000000
25%      2003.000000
50%      2006.000000
75%      2015.000000
max      2020.000000

In [27]:
watch2020_Mexico_df.columns.tolist()

['Tag Code', 'Report Season', 'Location']

In [28]:
print(watch2020_Mexico_df.shape)

(20083, 3)

In [29]:
# Determine the number of unique values in each column.
for col in watch2020_Mexico_df:
  print(watch2020_Mexico_df[col].unique())

['775IZ' 'AAAB310' 'AAAE280' ... '986LG' '160AF' '169AJ']
[2020 2019 2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008 2007
 2006 2005 2004 2003 2002 2001 2000 1999 1998 1997 1996 1995 1994 1993]
['El Rosario' 'Cerro Pelon' 'Sierra Chincua' 'Piedra Herrada' 'Atlautla'
 'Valle de Bravo' 'Angangueo' 'San Andres' 'Valle De Bravo' 'Ocampo'
 'Chivati-Huacal' 'San Francisco Oxtotilpan' 'Las Palomas'
 'Canada Del Salto' 'Mil Cumbres' 'Cerro Altamirano']

In [ ]:
# Determine the number of unique values in each column.
for col in watch2020_Mexico_df:
  print(watch2020_Mexico_df[col].value_counts())

In [ ]:
# Find null values
for column in watch2020_Mexico_df.columns:
   print(f"Column {column} has {watch2020_Mexico_df[column].isnull().sum()} null values")

In [ ]:
# Find duplicate entries
print(f"Duplicate entries: {watch2020_Mexico_df.duplicated().sum()}")

# El Rosario 30.0595° N, 115.7258° W

In [ ]:
El_Rosario_latitude = 30.0595
El_Rosario_longitude = 115.7258

In [ ]:
# filtering by Mexico location El Rosario
MWatch_El_Rosario_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='El Rosario']
MWatch_El_Rosario_Recoveries_df['latitude'] = El_Rosario_latitude
MWatch_El_Rosario_Recoveries_df['longitude'] = El_Rosario_longitude
MWatch_El_Rosario_Recoveries_df

# Angangueo 19.6196° N, 100.2835° W

In [ ]:
Angangueo_latitude = 19.6196
Angangueo_longitude = 100.2835

In [ ]:
# filtering by Mexico location Angangueo
MWatch_Angangueo_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Angangueo']
MWatch_Angangueo_Recoveries_df['latitude'] = Angangueo_latitude
MWatch_Angangueo_Recoveries_df['longitude'] = Angangueo_longitude
MWatch_Angangueo_Recoveries_df

# Atlautla 19.0295° N, 98.7784° W

In [ ]:
Atlautla_latitude = 19.0295
Atlautla_longitude = 98.7784

In [ ]:
# filtering by Mexico location Atlautla
MWatch_Atlautla_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Atlautla']
MWatch_Atlautla_Recoveries_df['latitude'] = Atlautla_latitude
MWatch_Atlautla_Recoveries_df['longitude'] = Atlautla_longitude
MWatch_Atlautla_Recoveries_df

# Canada Del Salto 	19.8054100° N, -103.2141900° W

In [ ]:
Canada_Del_Salto_latitude = 19.8054100
Canada_Del_Salto_longitude = -103.2141900

In [ ]:
# filtering by Mexico location Canada Del Salto
MWatch_Canada_Del_Salto_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Canada Del Salto']
MWatch_Canada_Del_Salto_Recoveries_df['latitude'] = Canada_Del_Salto_latitude
MWatch_Canada_Del_Salto_Recoveries_df['longitude'] = Canada_Del_Salto_longitude
MWatch_Canada_Del_Salto_Recoveries_df

# Cerro Altamirano 19.9667° N, 100.1333° W

In [ ]:
Cerro_Altamirano_latitude = 19.9667
Cerro_Altamirano_longitude = 100.1333

In [ ]:
# filtering by Mexico location Cerro Altamirano
MWatch_Cerro_Altamirano_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Cerro Altamirano']
MWatch_Cerro_Altamirano_Recoveries_df['latitude'] = Cerro_Altamirano_latitude
MWatch_Cerro_Altamirano_Recoveries_df['longitude'] = Cerro_Altamirano_longitude
MWatch_Cerro_Altamirano_Recoveries_df

# Cerro Pelon 19.3918° N, 100.2611° W

In [ ]:
Cerro_Pelon_latitude = 19.3918
Cerro_Pelon_longitude = 100.2611

In [ ]:
# filtering by Mexico location Cerro Pelon
MWatch_Cerro_Pelon_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Cerro Pelon']
MWatch_Cerro_Pelon_Recoveries_df['latitude'] = Cerro_Pelon_latitude
MWatch_Cerro_Pelon_Recoveries_df['longitude'] = Cerro_Pelon_longitude
MWatch_Cerro_Pelon_Recoveries_df

# Chivati-Huacal 19°36'23.040"N, 100°14'30.120"W

In [ ]:
Chivati_Huacal_latitude = 19.3623
Chivati_Huacal_longitude = 100.1430

In [ ]:
# filtering by Mexico location Chivati-Huacal
MWatch_Chivati_Huacal_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Chivati-Huacal']
MWatch_Chivati_Huacal_Recoveries_df['latitude'] = Chivati_Huacal_latitude
MWatch_Chivati_Huacal_Recoveries_df['longitude'] = Chivati_Huacal_longitude
MWatch_Chivati_Huacal_Recoveries_df

# Las Palomas 20.5479° N, 100.4385° W

In [ ]:
Las_Palomas_latitude = 20.5479
Las_Palomas_longitude = 100.4385

In [ ]:
# filtering by Mexico location Las Palomas
MWatch_Las_Palomas_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Las Palomas']
MWatch_Las_Palomas_Recoveries_df['latitude'] = Las_Palomas_latitude
MWatch_Las_Palomas_Recoveries_df['longitude'] = Las_Palomas_longitude
MWatch_Las_Palomas_Recoveries_df

# Mil Cumbres 19.6968° N, 101.1446° W

In [ ]:
Mil_Cumbres_latitude = 19.6968
Mil_Cumbres_longitude = 101.1446

In [ ]:
# filtering by Mexico location Mil Cumbres
MWatch_Mil_Cumbres_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Mil Cumbres']
MWatch_Mil_Cumbres_Recoveries_df['latitude'] = Mil_Cumbres_latitude
MWatch_Mil_Cumbres_Recoveries_df['longitude'] = Mil_Cumbres_longitude
MWatch_Mil_Cumbres_Recoveries_df

# Ocampo 27.3156° N, 102.3965° W

In [ ]:
Ocampo_latitude = 27.3156
Ocampo_longitude = 102.3965

In [ ]:
# filtering by Mexico location Ocampo
MWatch_Ocampo_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Ocampo']
MWatch_Ocampo_Recoveries_df['latitude'] = Ocampo_latitude
MWatch_Ocampo_Recoveries_df['longitude'] = Ocampo_longitude
MWatch_Ocampo_Recoveries_df

# Piedra Herrada 20.7300° N, 102.6188° W

In [ ]:
Piedra_Herrada_latitude = 20.7300
Piedra_Herrada_longitude = 102.6188

In [ ]:
# filtering by Mexico location Piedra Herrada
MWatch_Piedra_Herrada_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Piedra Herrada']
MWatch_Piedra_Herrada_Recoveries_df['latitude'] = Piedra_Herrada_latitude
MWatch_Piedra_Herrada_Recoveries_df['longitude'] = Piedra_Herrada_longitude
MWatch_Piedra_Herrada_Recoveries_df

# San Andres 18.4505° N, 95.2218° W

In [ ]:
San_Andres_latitude = 18.4505
San_Andres_longitude = 95.2218

In [ ]:
# filtering by Mexico location San Andres
MWatch_San_Andres_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='San Andres']
MWatch_San_Andres_Recoveries_df['latitude'] = San_Andres_latitude
MWatch_San_Andres_Recoveries_df['longitude'] = San_Andres_longitude
MWatch_San_Andres_Recoveries_df

# San Francisco Oxtotilpan 19.1689° N, 99.9019° W

In [ ]:
San_Francisco_Oxtotilpan_latitude = 19.1689
San_Francisco_Oxtotilpan_longitude = 99.9019

In [ ]:
# filtering by Mexico location San Andres
MWatch_San_Francisco_Oxtotilpan_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='San Francisco Oxtotilpan']
MWatch_San_Francisco_Oxtotilpan_Recoveries_df['latitude'] = San_Francisco_Oxtotilpan_latitude
MWatch_San_Francisco_Oxtotilpan_Recoveries_df['longitude'] = San_Francisco_Oxtotilpan_longitude
MWatch_San_Francisco_Oxtotilpan_Recoveries_df

# Sierra Chincua 19.6706° N, 100.2782° W

In [ ]:
Sierra_Chincua_latitude = 19.6706
Sierra_Chincua_longitude = 100.2782

In [ ]:
# filtering by Mexico location Sierra Chincua
MWatch_Sierra_Chincua_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Sierra Chincua']
MWatch_Sierra_Chincua_Recoveries_df['latitude'] = Sierra_Chincua_latitude
MWatch_Sierra_Chincua_Recoveries_df['longitude'] = Sierra_Chincua_longitude
MWatch_Sierra_Chincua_Recoveries_df

# Valle de Bravo 19°11'42.04" N -100°07'52.75"

In [ ]:
Valle_De_Bravo_latitude = 19.1142
Valle_De_Bravo_longitude = -100.0752

In [ ]:
# filtering by Mexico location Valle de Bravo
MWatch_Valle_De_Bravo_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Valle De Bravo']
MWatch_Valle_de_Bravo_Recoveries_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Valle de Bravo']
MWatch_Valle_De_Bravo_Recoveries_df['latitude'] = Valle_De_Bravo_latitude
MWatch_Valle_De_Bravo_Recoveries_df['longitude'] = Valle_De_Bravo_longitude
MWatch_Valle_de_Bravo_Recoveries_df['latitude'] = Valle_De_Bravo_latitude
MWatch_Valle_de_Bravo_Recoveries_df['longitude'] = Valle_De_Bravo_longitude

In [ ]:
MWatch_Valle_De_Bravo_Recoveries_df

In [ ]:
MWatch_Valle_de_Bravo_Recoveries_df

In [ ]:
# watch2020_Mexico_df.to_json(r'watch2020_Mexico.json')

In [ ]:
frames = [MWatch_El_Rosario_Recoveries_df
          , MWatch_Cerro_Pelon_Recoveries_df
          , MWatch_Sierra_Chincua_Recoveries_df
          , MWatch_Piedra_Herrada_Recoveries_df
          , MWatch_Atlautla_Recoveries_df
          , MWatch_Valle_de_Bravo_Recoveries_df
          , MWatch_Angangueo_Recoveries_df
          , MWatch_San_Andres_Recoveries_df
          , MWatch_Valle_De_Bravo_Recoveries_df
          , MWatch_Ocampo_Recoveries_df
          , MWatch_Chivati_Huacal_Recoveries_df
          , MWatch_San_Francisco_Oxtotilpan_Recoveries_df
          , MWatch_Las_Palomas_Recoveries_df
          , MWatch_Canada_Del_Salto_Recoveries_df
          , MWatch_Mil_Cumbres_Recoveries_df
          , MWatch_Cerro_Altamirano_Recoveries_df]
watch2020_Mexico_df=(pd.concat(frames))
watch2020_Mexico_df

In [ ]:
watch2020_Mexico_df['Location'] = watch2020_Mexico_df['Location'].replace([ 'Valle de Bravo' ], 'Valle De Bravo' )

In [ ]:
# Determine the number of unique values in each column.
for col in watch2020_Mexico_df:
  print(watch2020_Mexico_df[col].unique())

In [ ]:
new_df = watch2020_Mexico_df[watch2020_Mexico_df['Location']=='Valle De Bravo']
new_df

In [ ]:
watch2020_Mexico_df

In [ ]:
# watch2020_Mexico_df.reset_index(drop=True, inplace=True)

In [ ]:
watch2020_Mexico_df.to_csv('MWatch_Tag Recoveries_Mexico.csv', header=True, mode='w', index = False)

In [ ]:
# watch2020_Mexico_json = watch2020_Mexico_df.to_json()
# print(watch2020_Mexico_json)

# Monarch Watch Data all taggings GBIF

In [33]:
MWatch_Tagged_df = pd.read_csv("MWatch_occurrences_1996_2000.csv")
MWatch_Tagged_df.head()

,id,modified,language,license,institutionID,collectionID,institutionCode,collectionCode,datasetName,basisOfRecord,...,decimalLatitude,decimalLongitude,geodeticDatum,georeferenceRemarks,taxonID,nameAccordingToID,scientificName,kingdom,vernacularName,taxonRemarks
0,MW0000001,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,38.61429,-76.512176,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
1,MW0000002,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,38.61429,-76.512176,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
2,MW0000003,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,38.61429,-76.512176,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
3,MW0000004,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,38.61429,-76.512176,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
4,MW0000005,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,38.61429,-76.512176,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus

In [34]:
MWatch_Tagged_df.columns.tolist()

['id',
 'modified',
 'language',
 'license',
 'institutionID',
 'collectionID',
 'institutionCode',
 'collectionCode',
 'datasetName',
 'basisOfRecord',
 'occurrenceID',
 'catalogNumber',
 'recordedBy',
 'occurrenceStatus',
 'associatedReferences',
 'eventDate',
 'year',
 'country',
 'stateProvince',
 'verbatimLocality',
 'decimalLatitude',
 'decimalLongitude',
 'geodeticDatum',
 'georeferenceRemarks',
 'taxonID',
 'nameAccordingToID',
 'scientificName',
 'kingdom',
 'vernacularName',
 'taxonRemarks']

In [97]:
def df_to_geojson(df, properties, lat='decimalLatitude', lon='decimalLongitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

In [99]:
cols = ['id',
 'modified',
 'language',
 'license',
 'institutionID',
 'collectionID',
 'institutionCode',
 'collectionCode',
 'datasetName',
 'basisOfRecord',
 'occurrenceID',
 'catalogNumber',
 'recordedBy',
 'occurrenceStatus',
 'associatedReferences',
 'eventDate',
 'year',
 'country',
 'stateProvince',
 'verbatimLocality',
 'decimalLatitude',
 'decimalLongitude',
 'geodeticDatum',
 'georeferenceRemarks',
 'taxonID',
 'nameAccordingToID',
 'scientificName',
 'kingdom',
 'vernacularName',
 'taxonRemarks']

In [ ]:
MWatch_Tagged_df.info()

In [ ]:
MWatch_Tagged_df.describe()

In [ ]:
print(MWatch_Tagged_df.shape)

In [ ]:
# Determine the number of unique values in each column.
for col in MWatch_Tagged_df:
  print(MWatch_Tagged_df[col].unique())

In [ ]:
# Determine the number of unique values in each column.
for col in MWatch_Tagged_df:
  print(MWatch_Tagged_df[col].value_counts())

In [ ]:
# Find null values
for column in MWatch_Tagged_df.columns:
   print(f"Column {column} has {MWatch_Tagged_df[column].isnull().sum()} null values")

In [ ]:
# Find duplicate entries
print(f"Duplicate entries: {MWatch_Tagged_df.duplicated().sum()}")

# Output geoJSON

In [ ]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_df['decimalLatitude'] = MWatch_Tagged_df['decimalLatitude'].astype(float)
MWatch_Tagged_df['decimalLongitude'] = MWatch_Tagged_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [ ]:
geojson = df_to_geojson(MWatch_Tagged_df, cols)

In [ ]:
file = open("MWatch_Tagged.json", "w")
json.dump(geojson, file, indent =4)
file.close()

# Filter Tagging Data By Year - 1996

In [42]:
# filtering by year
MWatch_Tagged_1996_df = MWatch_Tagged_df[MWatch_Tagged_df['eventDate']==1996]
MWatch_Tagged_1996_df.head()

,id,modified,language,license,institutionID,collectionID,institutionCode,collectionCode,datasetName,basisOfRecord,...,decimalLatitude,decimalLongitude,geodeticDatum,georeferenceRemarks,taxonID,nameAccordingToID,scientificName,kingdom,vernacularName,taxonRemarks
29791,MW0029792,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,39.20194,-96.304997,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
29792,MW0029793,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,39.20194,-96.304997,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
29793,MW0029794,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,39.20194,-96.304997,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
29794,MW0029795,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,39.20194,-96.304997,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
29795,MW0029796,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,39.20194,-96.304997,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus

In [86]:
MWatch_Tagged_1996_df['eventDate']

29791     7/14/1996
29792     7/14/1996
29793     7/14/1996
29794     7/14/1996
29795     7/19/1996
            ...
76610    12/24/1996
76611    12/25/1996
76612    12/25/1996
76613    12/25/1996
76614    12/26/1996
Name: eventDate, Length: 46824, dtype: object

In [36]:
print(MWatch_Tagged_1996_df.shape)

(46824, 30)

# Output CSV

In [ ]:
MWatch_Tagged_1996_df.to_csv('MWatch_Tagged_1996.csv', header=True, mode='w' )

# Output geoJSON

In [44]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_1996_df['decimalLatitude'] = MWatch_Tagged_1996_df['decimalLatitude'].astype(float)
MWatch_Tagged_1996_df['decimalLongitude'] = MWatch_Tagged_1996_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [45]:
geojson = df_to_geojson(MWatch_Tagged_1996_df, cols)

In [46]:
file = open("MWatch_Tagged_1996.json", "w")
json.dump(geojson, file, indent =4)
file.close()

# Filter Tagging Data By Year - 1997

In [47]:
# filtering by year
MWatch_Tagged_1997_df = MWatch_Tagged_df[MWatch_Tagged_df['year']==1997]
MWatch_Tagged_1997_df.head()

,id,modified,language,license,institutionID,collectionID,institutionCode,collectionCode,datasetName,basisOfRecord,...,decimalLatitude,decimalLongitude,geodeticDatum,georeferenceRemarks,taxonID,nameAccordingToID,scientificName,kingdom,vernacularName,taxonRemarks
76615,MW0076616,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,32.82346,-97.170568,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
76616,MW0076617,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,32.82346,-97.170568,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
76617,MW0076618,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,32.82346,-97.170568,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
76618,MW0076619,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,29.84055,-98.410500,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
76619,MW0076620,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,29.84055,-98.410500,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus

In [48]:
print(MWatch_Tagged_1997_df.shape)

(70232, 30)

In [49]:
MWatch_Tagged_1997_df.to_csv('MWatch_Tagged_1997.csv', header=True, mode='w' )

# Output geoJSON

In [ ]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_1997_df['decimalLatitude'] = MWatch_Tagged_1997_df['decimalLatitude'].astype(float)
MWatch_Tagged_1997_df['decimalLongitude'] = MWatch_Tagged_1997_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [ ]:
geojson = df_to_geojson(MWatch_Tagged_1997_df, cols)

In [57]:
file = open("MWatch_Tagged_1997.json", "w")
json.dump(geojson, file, indent =4)
file.close()

# Filter Tagging Data By Year - 1998

In [50]:
# filtering by year
MWatch_Tagged_1998_df = MWatch_Tagged_df[MWatch_Tagged_df['year']==1998]
MWatch_Tagged_1998_df.head()

,id,modified,language,license,institutionID,collectionID,institutionCode,collectionCode,datasetName,basisOfRecord,...,decimalLatitude,decimalLongitude,geodeticDatum,georeferenceRemarks,taxonID,nameAccordingToID,scientificName,kingdom,vernacularName,taxonRemarks
146847,MW0146848,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.53834,-81.379237,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
146848,MW0146849,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.53834,-81.379237,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
146849,MW0146850,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,32.35126,-95.301062,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
146850,MW0146851,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.53834,-81.379237,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
146851,MW0146852,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,32.35126,-95.301062,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus

In [51]:
print(MWatch_Tagged_1998_df.shape)

(60781, 30)

In [52]:
MWatch_Tagged_1998_df.to_csv('MWatch_Tagged_1998.csv', header=True, mode='w' )

# output geoJSON

In [58]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_1998_df['decimalLatitude'] = MWatch_Tagged_1998_df['decimalLatitude'].astype(float)
MWatch_Tagged_1998_df['decimalLongitude'] = MWatch_Tagged_1998_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [59]:
geojson = df_to_geojson(MWatch_Tagged_1998_df, cols)

In [60]:
file = open("MWatch_Tagged_1998.json", "w")
json.dump(geojson, file, indent =4)
file.close()

# Filter Tagging Data By Year - 1999

In [111]:
# filtering by year
MWatch_Tagged_1999_df = MWatch_Tagged_df[MWatch_Tagged_df['year']==1999]
MWatch_Tagged_1999_df.head()

,id,modified,language,license,institutionID,collectionID,institutionCode,collectionCode,datasetName,basisOfRecord,...,decimalLatitude,decimalLongitude,geodeticDatum,georeferenceRemarks,taxonID,nameAccordingToID,scientificName,kingdom,vernacularName,taxonRemarks
207628,MW0207629,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.07807,-82.763713,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
207629,MW0207630,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.07807,-82.763713,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
207630,MW0207631,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.07807,-82.763713,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
207631,MW0207632,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.07807,-82.763713,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
207632,MW0207633,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.07807,-82.763713,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus

# Output CSV 1999

In [55]:
MWatch_Tagged_1999_df.to_csv('MWatch_Tagged_1999.csv', header=True, mode='w' )

In [112]:
MWatch_Tagged_1999_df['quarter'] = pd.DatetimeIndex(MWatch_Tagged_1999_df['eventDate']).quarter

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [113]:
# Determine the number of unique values in each column.
for col in MWatch_Tagged_1999_df:
  print(MWatch_Tagged_1999_df[col].unique())

['MW0207629' 'MW0207630' 'MW0207631' ... 'MW0289251' 'MW0289252'
 'MW0289253']
['7/30/2019']
['English']
['https://creativecommons.org/publicdomain/zero/1.0/legalcode']
['https://bison.usgs.gov/']
['https://bison.usgs.gov/ipt/resource?r=monarchwatch']
['BISON']
['Monarch Watch']
['Monarch Watch']
['humanobservation']
['MW0207629' 'MW0207630' 'MW0207631' ... 'MW0289251' 'MW0289252'
 'MW0289253']
['MW0207629' 'MW0207630' 'MW0207631' ... 'MW0289251' 'MW0289252'
 'MW0289253']
['Monarch Watch']
['present']
['Monarch Watch Tagging Data, https://monarchwatch.org/tagdata']
['1/2/1999' '1/4/1999' '1/6/1999' '1/7/1999' '1/8/1999' '1/9/1999'
 '1/11/1999' '1/12/1999' '1/13/1999' '1/20/1999' '1/23/1999' '1/25/1999'
 '1/26/1999' '1/27/1999' '2/10/1999' '2/15/1999' '2/18/1999' '4/6/1999'
 '4/7/1999' '4/8/1999' '4/10/1999' '4/11/1999' '4/12/1999' '4/13/1999'
 '4/14/1999' '4/15/1999' '4/16/1999' '4/17/1999' '4/18/1999' '4/19/1999'
 '4/20/1999' '4/21/1999' '4/22/1999' '4/23/1999' '4/24/1999' '4/25/1999'
 '4/26/1999' '4/27/1999' '4/28/1999' '4/29/1999' '4/30/1999' '5/2/1999'
 '5/3/1999' '5/4/1999' '5/5/1999' '5/6/1999' '5/7/1999' '5/8/1999'
 '5/9/1999' '5/11/1999' '5/14/1999' '5/15/1999' '5/16/1999' '5/17/1999'
 '5/23/1999' '5/24/1999' '5/27/1999' '6/2/1999' '6/3/1999' '6/4/1999'
 '6/5/1999' '6/6/1999' '6/7/1999' '6/9/1999' '6/10/1999' '6/12/1999'
 '6/13/1999' '6/14/1999' '6/15/1999' '6/17/1999' '6/21/1999' '6/22/1999'
 '6/23/1999' '6/26/1999' '6/29/1999' '6/30/1999' '7/1/1999' '7/2/1999'
 '7/3/1999' '7/6/1999' '7/14/1999' '7/20/1999' '7/23/1999' '7/27/1999'
 '7/29/1999' '7/31/1999' '8/1/1999' '8/2/1999' '8/3/1999' '8/4/1999'
 '8/5/1999' '8/6/1999' '8/7/1999' '8/8/1999' '8/9/1999' '8/10/1999'
 '8/11/1999' '8/12/1999' '8/13/1999' '8/14/1999' '8/15/1999' '8/16/1999'
 '8/17/1999' '8/18/1999' '8/19/1999' '8/20/1999' '8/21/1999' '8/22/1999'
 '8/23/1999' '8/24/1999' '8/25/1999' '8/26/1999' '8/27/1999' '8/28/1999'
 '8/29/1999' '8/30/1999' '8/31/1999' '9/1/1999' '9/2/1999' '9/3/1999'
 '9/4/1999' '9/5/1999' '9/6/1999' '9/7/1999' '9/8/1999' '9/9/1999'
 '9/10/1999' '9/11/1999' '9/12/1999' '9/13/1999' '9/14/1999' '9/15/1999'
 '9/16/1999' '9/17/1999' '9/18/1999' '9/19/1999' '9/20/1999' '9/21/1999'
 '9/22/1999' '9/23/1999' '9/24/1999' '9/25/1999' '9/26/1999' '9/27/1999'
 '9/28/1999' '9/29/1999' '9/30/1999' '10/1/1999' '10/2/1999' '10/3/1999'
 '10/4/1999' '10/5/1999' '10/6/1999' '10/7/1999' '10/8/1999' '10/9/1999'
 '10/10/1999' '10/11/1999' '10/12/1999' '10/13/1999' '10/14/1999'
 '10/15/1999' '10/16/1999' '10/17/1999' '10/18/1999' '10/19/1999'
 '10/20/1999' '10/21/1999' '10/22/1999' '10/23/1999' '10/24/1999'
 '10/25/1999' '10/26/1999' '10/27/1999' '10/28/1999' '10/29/1999'
 '10/30/1999' '10/31/1999' '11/1/1999' '11/2/1999' '11/3/1999' '11/4/1999'
 '11/5/1999' '11/6/1999' '11/7/1999' '11/8/1999' '11/9/1999' '11/10/1999'
 '11/11/1999' '11/12/1999' '11/13/1999' '11/14/1999' '11/15/1999'
 '11/16/1999' '11/17/1999' '11/18/1999' '11/19/1999' '11/20/1999'
 '11/21/1999' '11/22/1999' '11/23/1999' '11/24/1999' '11/25/1999'
 '11/26/1999' '11/27/1999' '11/28/1999' '11/29/1999' '11/30/1999'
 '12/1/1999' '12/2/1999' '12/3/1999' '12/4/1999' '12/5/1999' '12/6/1999'
 '12/7/1999' '12/8/1999' '12/9/1999' '12/10/1999' '12/11/1999'
 '12/12/1999' '12/13/1999' '12/14/1999' '12/15/1999' '12/16/1999'
 '12/17/1999' '12/18/1999' '12/19/1999' '12/20/1999' '12/21/1999'
 '12/22/1999' '12/23/1999' '12/24/1999' '12/25/1999' '12/26/1999'
 '12/27/1999' '12/28/1999' '12/29/1999' '12/30/1999' '12/31/1999']
[1999]
['US' 'CA']
['FL' 'TX' 'LA' 'OK' 'KS' 'CT' 'MN' 'PA' 'IL' 'MI' 'ME' 'IN' 'NJ' 'SD'
 'IA' 'KY' 'OH' 'VA' 'NY' 'WI' 'MA' 'NC' 'MD' 'CO' 'ND' 'VT' 'ON' 'MO'
 'WV' 'AR' 'GA' 'NH' 'QC' 'NE' 'SC' 'TN' 'DC' 'DE' 'UT' 'RI' 'MS']
['City:PALM HARBOR' 'City:CORPUS CHRISTI' 'City:ST. PETERSBURG' ...
 'City:VERO BEACH' 'City:PAOLA' 'City:PFLUGERVILLE']
[28.07807 27.80058 27.77079 ... 27.63864 38.57224 30.45485]
[-82.7637127 -97.396381  -82.632806  ... -80.3972736 -94.8791294
 -97.6222665]
['WGS84']
['centroid (type and size unkown)']
[117273]
['Integrated Taxonomic Information System (ITIS). https://www.itis.gov']
['Danaus plexippus']
['Animalia']
['Monarch butterfly']
['Danaus plexippus']
[1 2 3 4]

In [114]:
MWatch_Tagged_1999_q1_df = MWatch_Tagged_1999_df[MWatch_Tagged_1999_df['quarter']==1]

In [116]:
print(MWatch_Tagged_1999_q1_df.shape)

(32, 31)

In [117]:
MWatch_Tagged_1999_q2_df = MWatch_Tagged_1999_df[MWatch_Tagged_1999_df['quarter']==2]

In [118]:
print(MWatch_Tagged_1999_q2_df.shape)

(392, 31)

In [169]:
MWatch_Tagged_1999_q3_df = MWatch_Tagged_1999_df[MWatch_Tagged_1999_df['quarter']==3]

In [170]:
MWatch_Tagged_1999_q3_month_df = MWatch_Tagged_1999_q3_df
MWatch_Tagged_1999_q3_month_df['month'] = pd.DatetimeIndex(MWatch_Tagged_1999_q3_df['eventDate']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [171]:
MWatch_Tagged_1999_q3_7_df = MWatch_Tagged_1999_q3_month_df[MWatch_Tagged_1999_q3_month_df['month']==7]

In [172]:
print(MWatch_Tagged_1999_q3_7_df.shape)

(18, 32)

In [173]:
MWatch_Tagged_1999_q3_8_df = MWatch_Tagged_1999_q3_month_df[MWatch_Tagged_1999_q3_month_df['month']==8]

In [174]:
print(MWatch_Tagged_1999_q3_8_df.shape)

(10715, 32)

In [175]:
MWatch_Tagged_1999_q3_9_df = MWatch_Tagged_1999_q3_month_df[MWatch_Tagged_1999_q3_month_df['month']==9]

In [176]:
print(MWatch_Tagged_1999_q3_9_df.shape)

(50153, 32)

In [121]:
MWatch_Tagged_1999_q4_df = MWatch_Tagged_1999_df[MWatch_Tagged_1999_df['quarter']==4]

In [122]:
print(MWatch_Tagged_1999_q4_df.shape)

(20315, 31)

# output geoJSON

In [123]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_1999_q1_df['decimalLatitude'] = MWatch_Tagged_1999_q1_df['decimalLatitude'].astype(float)
MWatch_Tagged_1999_q1_df['decimalLongitude'] = MWatch_Tagged_1999_q1_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [124]:
geojson = df_to_geojson(MWatch_Tagged_1999_q1_df, cols)

In [125]:
file = open("MWatch_Tagged_1999_q1.json", "w")
json.dump(geojson, file, indent =4)
file.close()

In [126]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_1999_q2_df['decimalLatitude'] = MWatch_Tagged_1999_q2_df['decimalLatitude'].astype(float)
MWatch_Tagged_1999_q2_df['decimalLongitude'] = MWatch_Tagged_1999_q2_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [127]:
geojson = df_to_geojson(MWatch_Tagged_1999_q2_df, cols)

In [128]:
file = open("MWatch_Tagged_1999_q2.json", "w")
json.dump(geojson, file, indent =4)
file.close()

In [177]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_1999_q3_7_df['decimalLatitude'] = MWatch_Tagged_1999_q3_7_df['decimalLatitude'].astype(float)
MWatch_Tagged_1999_q3_7_df['decimalLongitude'] = MWatch_Tagged_1999_q3_7_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [178]:
geojson = df_to_geojson(MWatch_Tagged_1999_q3_7_df, cols)

In [179]:
file = open("MWatch_Tagged_1999_q3_7.json", "w")
json.dump(geojson, file, indent =4)
file.close()

In [180]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_1999_q3_8_df['decimalLatitude'] = MWatch_Tagged_1999_q3_8_df['decimalLatitude'].astype(float)
MWatch_Tagged_1999_q3_8_df['decimalLongitude'] = MWatch_Tagged_1999_q3_8_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [181]:
geojson = df_to_geojson(MWatch_Tagged_1999_q3_8_df, cols)

In [182]:
file = open("MWatch_Tagged_1999_q3_8.json", "w")
json.dump(geojson, file, indent =4)
file.close()

In [183]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_1999_q3_9_df['decimalLatitude'] = MWatch_Tagged_1999_q3_9_df['decimalLatitude'].astype(float)
MWatch_Tagged_1999_q3_9_df['decimalLongitude'] = MWatch_Tagged_1999_q3_9_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [184]:
geojson = df_to_geojson(MWatch_Tagged_1999_q3_9_df, cols)

In [185]:
file = open("MWatch_Tagged_1999_q3_9.json", "w")
json.dump(geojson, file, indent =4)
file.close()

In [132]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_1999_q4_df['decimalLatitude'] = MWatch_Tagged_1999_q4_df['decimalLatitude'].astype(float)
MWatch_Tagged_1999_q4_df['decimalLongitude'] = MWatch_Tagged_1999_q4_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
geojson = df_to_geojson(MWatch_Tagged_1999_q4_df, cols)

In [134]:
file = open("MWatch_Tagged_1999_q4.json", "w")
json.dump(geojson, file, indent =4)
file.close()

# Filter Tagging Data By Year - 2000

In [56]:
# filtering by year
MWatch_Tagged_2000_df = MWatch_Tagged_df[MWatch_Tagged_df['year']==2000]
MWatch_Tagged_2000_df.head()

,id,modified,language,license,institutionID,collectionID,institutionCode,collectionCode,datasetName,basisOfRecord,...,decimalLatitude,decimalLongitude,geodeticDatum,georeferenceRemarks,taxonID,nameAccordingToID,scientificName,kingdom,vernacularName,taxonRemarks
289253,MW0289254,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.53834,-81.379237,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
289254,MW0289255,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.01863,-82.112864,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
289255,MW0289256,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,32.65518,-79.940367,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
289256,MW0289257,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.67000,-81.208120,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus
289257,MW0289258,7/30/2019,English,https://creativecommons.org/publicdomain/zero/...,https://bison.usgs.gov/,https://bison.usgs.gov/ipt/resource?r=monarchw...,BISON,Monarch Watch,Monarch Watch,humanobservation,...,28.67000,-81.208120,WGS84,centroid (type and size unkown),117273,Integrated Taxonomic Information System (ITIS)...,Danaus plexippus,Animalia,Monarch butterfly,Danaus plexippus

In [ ]:
print(MWatch_Tagged_2000_df.shape)

In [ ]:
MWatch_Tagged_2000_df.to_csv('MWatch_Tagged_2000.csv', header=True, mode='w' )

In [186]:
MWatch_Tagged_2000_quarter_df = MWatch_Tagged_2000_df
MWatch_Tagged_2000_quarter_df['quarter'] = pd.DatetimeIndex(MWatch_Tagged_2000_df['eventDate']).quarter

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [195]:
MWatch_Tagged_2000_q1_df = MWatch_Tagged_2000_quarter_df[MWatch_Tagged_2000_quarter_df['quarter']==1]

In [196]:
print(MWatch_Tagged_2000_q1_df.shape)

(769, 31)

In [197]:
MWatch_Tagged_2000_q2_df = MWatch_Tagged_2000_quarter_df[MWatch_Tagged_2000_quarter_df['quarter']==2]

In [198]:
print(MWatch_Tagged_2000_q2_df.shape)

(397, 31)

In [199]:
MWatch_Tagged_2000_q3_df = MWatch_Tagged_2000_quarter_df[MWatch_Tagged_2000_quarter_df['quarter']==3]

In [200]:
print(MWatch_Tagged_2000_q3_df.shape)

(56100, 31)

In [216]:
MWatch_Tagged_2000_q3_month_df = MWatch_Tagged_2000_q3_df
MWatch_Tagged_2000_q3_month_df['month'] = pd.DatetimeIndex(MWatch_Tagged_2000_q3_df['eventDate']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [217]:
print(MWatch_Tagged_2000_q3_month_df.shape)

(56100, 32)

In [219]:
MWatch_Tagged_2000_q3_7_df = MWatch_Tagged_2000_q3_month_df[MWatch_Tagged_2000_q3_month_df['month']==7]

In [220]:
print(MWatch_Tagged_2000_q3_month_df.shape)

(56100, 32)

In [221]:
MWatch_Tagged_2000_q3_8_df = MWatch_Tagged_2000_q3_month_df[MWatch_Tagged_2000_q3_month_df['month']==8]

In [222]:
print(MWatch_Tagged_2000_q3_8_df.shape)

(7823, 32)

In [228]:
MWatch_Tagged_2000_q3_9_df = MWatch_Tagged_2000_q3_month_df[MWatch_Tagged_2000_q3_month_df['month']==9]

In [229]:
print(MWatch_Tagged_2000_q3_9_df.shape)

(48236, 32)

In [230]:
MWatch_Tagged_2000_q4_df = MWatch_Tagged_2000_quarter_df[MWatch_Tagged_2000_quarter_df['quarter']==4]

In [231]:
print(MWatch_Tagged_2000_q4_df.shape)

(17063, 31)

# output geoJSON

In [203]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_2000_q1_df['decimalLatitude'] = MWatch_Tagged_2000_q1_df['decimalLatitude'].astype(float)
MWatch_Tagged_2000_q1_df['decimalLongitude'] = MWatch_Tagged_2000_q1_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [204]:
geojson = df_to_geojson(MWatch_Tagged_2000_q1_df, cols)

In [205]:
file = open("MWatch_Tagged_2000_q1.json", "w")
json.dump(geojson, file, indent =4)
file.close()

In [206]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_2000_q2_df['decimalLatitude'] = MWatch_Tagged_2000_q2_df['decimalLatitude'].astype(float)
MWatch_Tagged_2000_q2_df['decimalLongitude'] = MWatch_Tagged_2000_q2_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [207]:
geojson = df_to_geojson(MWatch_Tagged_2000_q2_df, cols)

In [208]:
file = open("MWatch_Tagged_2000_q2.json", "w")
json.dump(geojson, file, indent =4)
file.close()

In [232]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_2000_q3_7_df['decimalLatitude'] = MWatch_Tagged_2000_q3_7_df['decimalLatitude'].astype(float)
MWatch_Tagged_2000_q3_7_df['decimalLongitude'] = MWatch_Tagged_2000_q3_7_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [233]:
geojson = df_to_geojson(MWatch_Tagged_2000_q3_7_df, cols)

In [234]:
file = open("MWatch_Tagged_2000_q3_7.json", "w")
json.dump(geojson, file, indent =4)
file.close()

In [235]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_2000_q3_8_df['decimalLatitude'] = MWatch_Tagged_2000_q3_8_df['decimalLatitude'].astype(float)
MWatch_Tagged_2000_q3_8_df['decimalLongitude'] = MWatch_Tagged_2000_q3_8_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [236]:
geojson = df_to_geojson(MWatch_Tagged_2000_q3_8_df, cols)

In [237]:
file = open("MWatch_Tagged_2000_q3_8.json", "w")
json.dump(geojson, file, indent =4)
file.close()

In [238]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_2000_q3_9_df['decimalLatitude'] = MWatch_Tagged_2000_q3_9_df['decimalLatitude'].astype(float)
MWatch_Tagged_2000_q3_9_df['decimalLongitude'] = MWatch_Tagged_2000_q3_9_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [239]:
geojson = df_to_geojson(MWatch_Tagged_2000_q3_9_df, cols)

In [240]:
file = open("MWatch_Tagged_2000_q3_9.json", "w")
json.dump(geojson, file, indent =4)
file.close()

In [212]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
MWatch_Tagged_2000_q4_df['decimalLatitude'] = MWatch_Tagged_2000_q4_df['decimalLatitude'].astype(float)
MWatch_Tagged_2000_q4_df['decimalLongitude'] = MWatch_Tagged_2000_q4_df['decimalLongitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [213]:
geojson = df_to_geojson(MWatch_Tagged_2000_q4_df, cols)

In [214]:
file = open("MWatch_Tagged_2000_q4.json", "w")
json.dump(geojson, file, indent =4)
file.close()

# Journey North Data (large dataset)

In [213]:
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in df.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

In [228]:
JNorth1996_2020_df = pd.read_csv("UWMadisonArb_JNorth_Project_MonarchsAndMilkweed_1996-2020.csv")
JNorth1996_2020_df.head()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
0,850841703,1996-12-16,Monarch Adult Sighted,1,27.594,-81.362,0,On the ballfield a solitary monarch butterfly ...,Walker memorial junior academy,10.0,-999999.999,135,-999999.999,1,Monarch Butterfly,1
1,851824801,1996-12-06,Monarch Adult Sighted,1,30.420,-87.224,0,Our 5th grade Discovery students who went alon...,Hambrick elementary school,5.0,-999999.999,150,-999999.999,1,Monarch Butterfly,1
2,854409931,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,We saw several hundred monarchs in our school ...,-999999.999,5.0,-999999.999,9701054,-999999.999,1,Monarch Butterfly,1
3,854557206,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,Over a hundered monarchs in our school butterf...,Fredstrom elementary school,6.0,-999999.999,175,-999999.999,1,Monarch Butterfly,1
4,855061862,1997-01-01,Monarch Adult Sighted,1,34.244,-77.946,0,"I Thought I Saw It, But I Was Suprised To See ...",Gregory,3.0,-999999.999,181,-999999.999,1,Monarch Butterfly,1

In [100]:
JNorth1996_2020_df.columns.tolist()

['id',
 'sighting_date',
 'species',
 'number',
 'latitude',
 'longitude',
 'flag_location',
 'comments',
 'school',
 'grade',
 'image_url',
 'customerid',
 'number_old',
 'flag_number',
 'species_old',
 'flag_species']

In [101]:
cols = ['id', 'sighting_date', 'species', 'number', 'latitude', 'longitude']

In [102]:
JNorth1996_2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227433 entries, 0 to 227432
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             227433 non-null  int64
 1   sighting_date  227433 non-null  object
 2   species        227433 non-null  object
 3   number         227433 non-null  int64
 4   latitude       227433 non-null  float64
 5   longitude      227433 non-null  float64
 6   flag_location  227433 non-null  int64
 7   comments       227433 non-null  object
 8   school         227433 non-null  object
 9   grade          227433 non-null  float64
 10  image_url      227433 non-null  object
 11  customerid     227433 non-null  int64
 12  number_old     227433 non-null  float64
 13  flag_number    227433 non-null  int64
 14  species_old    227433 non-null  object
 15  flag_species   227433 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 27.8+ MB

In [103]:
str(JNorth1996_2020_df.columns.tolist())

"['id', 'sighting_date', 'species', 'number', 'latitude', 'longitude', 'flag_location', 'comments', 'school', 'grade', 'image_url', 'customerid', 'number_old', 'flag_number', 'species_old', 'flag_species']"

In [104]:
JNorth1996_2020_df.describe()

,id,number,latitude,longitude,flag_location,grade,customerid,number_old,flag_number,flag_species
count,2.274330e+05,2.274330e+05,227433.000000,227433.000000,227433.000000,227433.000000,2.274330e+05,2.274330e+05,227433.000000,227433.000000
mean,1.420650e+09,1.186529e+02,38.400690,-87.569965,0.598018,-907386.217597,9.451737e+06,-2.844270e+05,0.294816,0.130324
std,1.456887e+08,2.209080e+04,5.268651,10.880362,0.490299,289894.342744,2.193961e+06,4.518136e+05,0.467089,0.336660
min,8.508417e+08,-1.700000e+01,-12.100000,-165.107000,0.000000,-999999.999000,0.000000e+00,-1.000000e+06,0.000000,0.000000
25%,1.377751e+09,1.000000e+00,34.723000,-95.268000,0.000000,-999999.999000,9.941050e+06,-1.000000e+06,0.000000,0.000000
50%,1.477448e+09,1.000000e+00,39.503000,-86.787000,1.000000,-999999.999000,9.977663e+06,1.000000e+00,0.000000,0.000000
75%,1.526383e+09,3.000000e+00,42.409000,-79.255000,1.000000,-999999.999000,1.000029e+07,3.000000e+00,1.000000,0.000000
max,1.526525e+09,1.000000e+07,65.136000,-52.883000,1.000000,1112.000000,1.004256e+07,1.000000e+07,2.000000,1.000000

In [105]:
JNorth1996_2020_df.columns.tolist()

['id',
 'sighting_date',
 'species',
 'number',
 'latitude',
 'longitude',
 'flag_location',
 'comments',
 'school',
 'grade',
 'image_url',
 'customerid',
 'number_old',
 'flag_number',
 'species_old',
 'flag_species']

In [106]:
print(JNorth1996_2020_df.shape)

(227433, 16)

In [107]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].unique())

[ 850841703  851824801  854409931 ... 1526524404 1526524405 1526525021]
['1996-12-16' '1996-12-06' '1996-09-21' ... '2020-12-29' '2020-12-30'
 '2020-12-31']
['Monarch Adult Sighted' 'Monarch Adult (FIRST sighted)'
 'Monarch Egg (FIRST sighted)' 'Monarch (OTHER Observations)'
 'Monarch Larva (FIRST sighted)' 'Monarch PEAK Migration'
 'Milkweed (FIRST sighted)' 'Monarch Fall Roost' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch, Captive-Reared' 'Milkweed Sighted']
[       1      150       20       89       30     2000       50     7500
       23      200        5      300        4      100       71      120
      325       21       28     5000    20000       36       25        6
       54     1000      160       24       60       37        2     3000
  1000000       10  2000000       40       85       65       15        8
      500       14      112       75       80    15000       18    10000
      912   100000      400      800       12       35      600       16
    25000     1500     1117       70        3      463       45       72
      250      182       56       26    30000     2500     8000      750
      700       46      556       34      275       53       22      650
      210      224     1100      240   200000      900     1200        7
       13      115       11       19      810       66       43      510
        9       62       27      290      104       44      440      202
       55      180       17      140      269       61      142      175
       41      123       32       76       31      195      125       29
      164      109      119      105     4000       69      360       88
       58      239       48      310      117       52      261       90
      135      296      211       39       51      102     7001      127
       49       47       33     1300       42      101     5075     1520
      170       81      190       38      110      558      381      228
      248       86       74      172      230      420     2806       94
       92      118      425     5400     6300       68       79    50000
     2300     7000       84      128       57      350       83      124
      114      450      147      501       87       77      197      840
    13460     3500       64       73      178      265      151      133
      121      477       59       97      850      130      165       95
      383       98      729      222      116      225       63     6000
      475    34000    13420    21329    12073    16244    30293    11082
       78      214      113      108      280      212      138      285
      229      216      720      206      606      287      107      134
      157      540 10000000      220      103      270       82      139
      318       93       67      181      122      158      156      232
      106      155     2400      667     1286      179      349      207
      505      132      154     1400    32914    29804    18128    15890
     7750     8531     7333     7783      173      213      126      378
      417      481      780     4800      625      208      205      145
      260      193      144      227      305      831      289      246
      404      152       96      373      855     1800      519      215
      441      337    23800      218      340      231     2100      550
     4500      320     9000    12000      324      461      184      570
      444      620    11000      870      478      252      447      247
      281      980    28073    13492    12864    11472    10200      301
      111      259      171      141      256      186      174      198
      479      187      223      474      203      278      153      257
      520      185     3200      375      258      136    70000    60200
    48000    17800      264    19755    17100    12189    13375      233
      204      192      131       -1      129      149      -17      460
      382      137      143      445       91     1700      330      254
      429      813     2200      316     2600      696      291      255
      286      543      183      251      362      226      453     1080
      860      315      332      244     1351    35000     1503     1125
      725     1482      593     2079    12284    19741    12360    10099
      587    19000   500000      189      671      713     1016      176
      345      219      234      249      409      418    16000     3900
      169     7200      272      284      653      428      348      777
      253       99      201     1516      335      359      356      875
      560      177      525      686     1380      276   999999    12620
     6500     5850      188     2960      480      385      827      323
      148     1012      465      196      162      238      446      313
     2385      307      263      357      163      495     1001      541
      733      167     3600      457     5700     1650     1120     3553
      995     1600     1390      614     7600     8250      314     1580
      221     1620      470      759      267      960     1301      566
      342      880      782      241      514     2250     2470      925
      403      166     6769      146     2469      209      279      868
      585      311      683      354      308      760      387      563
      801      536      161      397      322      613      191     1750
      199      516      321     1850      277      297     4750      370
      489     1149      268     2816      789      430      978      770
      493      716      159]
[27.594 30.42  40.817 ... 30.139 35.008 54.968]
[ -81.362  -87.224  -96.71  ... -118.107 -119.132 -108.727]
[0 1]
['On the ballfield a solitary monarch butterfly flew across the field in a south-west direction at approximately 1:30 pm.'
 'Our 5th grade Discovery students who went along on an overnight field trip to Ft. Pickens, Florida, noticed that there were monarch butterflies all over the grounds of the fort the day they were there (Dec. 6,1996).'
 'We saw several hundred monarchs in our school butterfly garden,  sipping nectar from the New England asters and zinnias.'
 ...
 "There have been at least three Monarchs in my yard this year. I know it's at least three, because I often see all of them at once. But there may be more. I have lived here for 35 years, and an additional 23 years just a mile-and-a-half down the road. This is the first time in decades that I've had Monarchs in my yard, and I've been very excited that they're coming back. I'm hoping to see more in the future. "
 'One larva seen.'
 'Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac. ']
['Walker memorial junior academy' 'Hambrick elementary school'
 '-999999.999' ... 'Homosassa springs wildlife state park'
 'Director, virginia master naturalist program' -999999.999]
[ 1.00000000e+01  5.00000000e+00  6.00000000e+00  3.00000000e+00
  9.00000000e+00 -9.99999999e+05  7.00000000e+00  2.00000000e+00
  8.00000000e+00  9.90000000e+01  4.00000000e+00  1.00000000e+00
  1.20000000e+01  1.10000000e+01  0.00000000e+00  3.40000000e+01
  2.50000000e+01  4.60000000e+01  6.80000000e+01  1.50000000e+01
  9.50000000e+01  3.60000000e+01  1.80000000e+01  2.30000000e+01
  1.40000000e+01  4.50000000e+01  9.12000000e+02  2.40000000e+01
  6.90000000e+01  5.60000000e+01  7.12000000e+02  6.78000000e+02
  1.12000000e+02  4.90000000e+01  7.80000000e+01  6.70000000e+01
  1.30000000e+01  4.56000000e+02  1.90000000e+01  6.12000000e+02
  1.11200000e+03  1.60000000e+01  1.01200000e+03  3.80000000e+01
  6.30000000e+01  2.70000000e+01  1.00000000e+02  9.10000000e+02
  6.20000000e+01  3.11000000e+02  5.80000000e+01  1.70000000e+01
  2.10000000e+01  2.80000000e+01  7.10000000e+01  3.45000000e+02
  1.19000000e+02  3.50000000e+01  4.20000000e+01  6.50000000e+01
  5.00000000e+01  4.12000000e+02  7.90000000e+01  2.00000000e+01
  7.11000000e+02  5.30000000e+01  1.35000000e+02]
['-999999.999'
 'https://journeynorth.org/jnorth/images/userfiles2013/1193346010.jpg'
 'https://www.learner.org/jnorth/images/userfiles/1317067653.jpg' ...
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513089.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/05/1526513090.jpg'
 '//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg']
[     135      150  9701054 ... 10042506 10042509 10042557]
[-9.99999999e+05  0.00000000e+00  1.50000000e+02  2.00000000e+01
  8.90000000e+01  3.00000000e+01  2.00000000e+03  5.00000000e+01
  7.50000000e+03  2.30000000e+01  2.00000000e+02  5.00000000e+00
  3.00000000e+02  4.00000000e+00  1.00000000e+02  7.10000000e+01
  1.20000000e+02  3.25000000e+02  2.10000000e+01  2.80000000e+01
  5.00000000e+03  2.00000000e+04  3.60000000e+01  2.50000000e+01
  6.00000000e+00  5.40000000e+01  1.00000000e+03  1.60000000e+02
  2.40000000e+01  6.00000000e+01  3.70000000e+01  2.00000000e+00
  3.00000000e+03  1.00000000e+06  1.00000000e+01  1.00000000e+00
  2.00000000e+06  4.00000000e+01  8.50000000e+01  6.50000000e+01
  1.50000000e+01  8.00000000e+00  5.00000000e+02  1.40000000e+01
  1.12000000e+02  7.50000000e+01  8.00000000e+01  1.50000000e+04
  1.80000000e+01  1.00000000e+04  9.12000000e+02  1.00000000e+05
  4.00000000e+02  8.00000000e+02  1.20000000e+01  3.50000000e+01
  6.00000000e+02  1.60000000e+01  2.50000000e+04  1.50000000e+03
  1.11700000e+03  7.00000000e+01  3.00000000e+00  4.63000000e+02
  4.50000000e+01  7.20000000e+01  2.50000000e+02  1.82000000e+02
  5.60000000e+01  2.60000000e+01  3.00000000e+04  2.50000000e+03
  8.00000000e+03  7.50000000e+02  7.00000000e+02  4.60000000e+01
  5.56000000e+02  3.40000000e+01  2.75000000e+02  5.30000000e+01
  2.20000000e+01  6.50000000e+02  2.10000000e+02  2.24000000e+02
  1.10000000e+03  2.40000000e+02  2.00000000e+05  9.00000000e+02
  1.20000000e+03  7.00000000e+00  1.30000000e+01  1.15000000e+02
  1.10000000e+01  1.90000000e+01  8.10000000e+02  6.60000000e+01
  4.30000000e+01  5.10000000e+02  9.00000000e+00  6.20000000e+01
  2.70000000e+01  2.90000000e+02  1.04000000e+02  4.40000000e+01
  4.40000000e+02  2.02000000e+02  5.50000000e+01  1.80000000e+02
  1.70000000e+01  1.40000000e+02  2.69000000e+02  6.10000000e+01
  1.42000000e+02  1.75000000e+02  4.10000000e+01  1.23000000e+02
  3.20000000e+01  7.60000000e+01  3.10000000e+01  1.95000000e+02
  1.25000000e+02  2.90000000e+01  1.64000000e+02  1.09000000e+02
  1.19000000e+02  1.05000000e+02  4.00000000e+03  6.90000000e+01
  3.60000000e+02  8.80000000e+01  5.80000000e+01  2.39000000e+02
  4.80000000e+01  3.10000000e+02  1.17000000e+02  5.20000000e+01
  2.61000000e+02  9.00000000e+01  1.35000000e+02  2.96000000e+02
  2.11000000e+02  3.90000000e+01  5.10000000e+01  1.02000000e+02
  7.00100000e+03  1.27000000e+02  4.90000000e+01  4.70000000e+01
  3.30000000e+01  1.30000000e+03  4.20000000e+01  1.01000000e+02
  5.07500000e+03  1.52000000e+03  1.70000000e+02  8.10000000e+01
  1.90000000e+02  3.80000000e+01  1.10000000e+02  5.58000000e+02
  3.81000000e+02  2.28000000e+02  2.48000000e+02  8.60000000e+01
  7.40000000e+01  1.72000000e+02  2.30000000e+02  4.20000000e+02
  2.80600000e+03  9.40000000e+01  9.20000000e+01  1.18000000e+02
  4.25000000e+02  5.40000000e+03  6.30000000e+03  6.80000000e+01
  7.90000000e+01  5.00000000e+04  2.30000000e+03  7.00000000e+03
  8.40000000e+01  1.28000000e+02  5.70000000e+01  3.50000000e+02
  8.30000000e+01  1.24000000e+02  1.14000000e+02  4.50000000e+02
  1.47000000e+02  5.01000000e+02  8.70000000e+01  7.70000000e+01
  1.97000000e+02  8.40000000e+02  1.34600000e+04  3.50000000e+03
  6.40000000e+01  7.30000000e+01  1.78000000e+02  2.65000000e+02
  1.51000000e+02  1.33000000e+02  1.21000000e+02  4.77000000e+02
  5.90000000e+01  9.70000000e+01  8.50000000e+02  1.30000000e+02
  1.65000000e+02  9.50000000e+01  3.83000000e+02  9.80000000e+01
  7.29000000e+02  2.22000000e+02  1.16000000e+02  2.25000000e+02
  6.30000000e+01  6.00000000e+03  4.75000000e+02  3.40000000e+04
  1.34200000e+04  2.13290000e+04  1.20730000e+04  1.62440000e+04
  3.02930000e+04  1.10820000e+04  7.80000000e+01  2.14000000e+02
  1.13000000e+02  1.08000000e+02  2.80000000e+02  2.12000000e+02
  1.38000000e+02  2.85000000e+02  2.29000000e+02  2.16000000e+02
  7.20000000e+02  2.06000000e+02  6.06000000e+02  2.87000000e+02
  1.07000000e+02  1.34000000e+02  1.57000000e+02  5.40000000e+02
  1.00000000e+07  2.20000000e+02  1.03000000e+02  2.70000000e+02
  8.20000000e+01  1.39000000e+02  3.18000000e+02  9.30000000e+01
  6.70000000e+01  1.81000000e+02  1.22000000e+02  1.58000000e+02
  1.56000000e+02  2.32000000e+02  1.06000000e+02  1.55000000e+02
  2.40000000e+03  6.67000000e+02  1.28600000e+03  1.79000000e+02
  3.49000000e+02  2.07000000e+02  5.05000000e+02  1.32000000e+02
  1.54000000e+02  1.40000000e+03  3.29140000e+04  2.98040000e+04
  1.81280000e+04  1.58900000e+04  7.75000000e+03  8.53100000e+03
  7.33300000e+03  7.78300000e+03  1.73000000e+02  2.13000000e+02
  1.26000000e+02  3.78000000e+02  4.17000000e+02  4.81000000e+02
  7.80000000e+02  4.80000000e+03  6.25000000e+02  2.08000000e+02
  2.05000000e+02  1.45000000e+02  2.60000000e+02  1.93000000e+02
  1.44000000e+02  2.27000000e+02  3.05000000e+02  8.31000000e+02
  2.89000000e+02  2.46000000e+02  4.04000000e+02  1.52000000e+02
  9.60000000e+01  3.73000000e+02  8.55000000e+02  1.80000000e+03
  5.19000000e+02  2.15000000e+02  4.41000000e+02  3.37000000e+02
  2.38000000e+04  2.18000000e+02  3.40000000e+02  2.31000000e+02
  2.10000000e+03  5.50000000e+02  4.50000000e+03  3.20000000e+02
  9.00000000e+03  1.20000000e+04  3.24000000e+02  4.61000000e+02
  1.84000000e+02  5.70000000e+02  4.44000000e+02  6.20000000e+02
  1.10000000e+04  8.70000000e+02  4.78000000e+02  2.52000000e+02
  4.47000000e+02  2.47000000e+02  2.81000000e+02  9.80000000e+02
  2.80730000e+04  1.34920000e+04  1.28640000e+04  1.14720000e+04
  1.02000000e+04  3.01000000e+02  1.11000000e+02  2.59000000e+02
  1.71000000e+02  1.41000000e+02  2.56000000e+02  1.86000000e+02
  1.74000000e+02  1.98000000e+02  4.79000000e+02  1.87000000e+02
  2.23000000e+02  4.74000000e+02  2.03000000e+02  2.78000000e+02
  1.53000000e+02  2.57000000e+02  5.20000000e+02  1.85000000e+02
  3.20000000e+03  3.75000000e+02  2.58000000e+02  1.36000000e+02
  7.00000000e+04  6.02000000e+04  4.80000000e+04  1.78000000e+04
  2.64000000e+02  1.97550000e+04  1.71000000e+04  1.21890000e+04
  1.33750000e+04  2.33000000e+02  2.04000000e+02  1.92000000e+02
  1.31000000e+02 -1.00000000e+00  1.29000000e+02  1.49000000e+02
 -1.70000000e+01  4.60000000e+02  3.82000000e+02  1.37000000e+02
  1.43000000e+02  4.45000000e+02  9.10000000e+01  1.70000000e+03
  3.30000000e+02  2.54000000e+02  4.29000000e+02  8.13000000e+02
  2.20000000e+03  3.16000000e+02  2.60000000e+03  6.96000000e+02
  2.91000000e+02  2.55000000e+02  2.86000000e+02  5.43000000e+02
  1.83000000e+02  2.51000000e+02  3.62000000e+02  2.26000000e+02
  4.53000000e+02  1.08000000e+03  8.60000000e+02  3.15000000e+02
  3.32000000e+02  2.44000000e+02  1.35100000e+03  3.50000000e+04
  1.50300000e+03  1.12500000e+03  7.25000000e+02  1.48200000e+03
  5.93000000e+02  2.07900000e+03  1.22840000e+04  1.97410000e+04
  1.23600000e+04  1.00990000e+04  5.87000000e+02  1.90000000e+04
  5.00000000e+05  1.89000000e+02  6.71000000e+02  7.13000000e+02
  1.01600000e+03  1.76000000e+02  3.45000000e+02  2.19000000e+02
  2.34000000e+02  2.49000000e+02  4.09000000e+02  4.18000000e+02
  1.60000000e+04  3.90000000e+03  1.69000000e+02  7.20000000e+03
  2.72000000e+02  2.84000000e+02  6.53000000e+02  4.28000000e+02
  3.48000000e+02  7.77000000e+02  2.53000000e+02  9.90000000e+01
  2.01000000e+02  1.51600000e+03  3.35000000e+02  3.59000000e+02
  3.56000000e+02  8.75000000e+02  5.60000000e+02  1.77000000e+02
  5.25000000e+02  6.86000000e+02  1.38000000e+03  2.76000000e+02
  9.99999000e+05  1.26200000e+04  6.50000000e+03  5.85000000e+03
  1.88000000e+02  2.96000000e+03  4.80000000e+02  3.85000000e+02
  8.27000000e+02  3.23000000e+02  1.48000000e+02  1.01200000e+03
  4.65000000e+02  1.96000000e+02  1.62000000e+02  2.38000000e+02
  4.46000000e+02  3.13000000e+02  2.38500000e+03  3.07000000e+02
  2.63000000e+02  3.57000000e+02  1.63000000e+02  4.95000000e+02
  1.00100000e+03  5.41000000e+02  7.33000000e+02  1.67000000e+02
  3.60000000e+03  4.57000000e+02  5.70000000e+03  1.65000000e+03
  1.12000000e+03  3.55300000e+03  9.95000000e+02  1.60000000e+03
  1.39000000e+03  6.14000000e+02  7.60000000e+03  8.25000000e+03
  3.14000000e+02  1.58000000e+03  2.21000000e+02  1.62000000e+03
  4.70000000e+02  7.59000000e+02  2.67000000e+02  9.60000000e+02
  1.30100000e+03  5.66000000e+02  3.42000000e+02  8.80000000e+02
  7.82000000e+02  2.41000000e+02  5.14000000e+02  2.25000000e+03
  2.47000000e+03  9.25000000e+02  4.03000000e+02  1.66000000e+02
  6.76900000e+03  1.46000000e+02  2.46900000e+03  2.09000000e+02
  2.79000000e+02  8.68000000e+02  5.85000000e+02  3.11000000e+02
  6.83000000e+02  3.54000000e+02  3.08000000e+02  7.60000000e+02
  3.87000000e+02  5.63000000e+02  8.01000000e+02  5.36000000e+02
  1.61000000e+02  3.97000000e+02  3.22000000e+02  6.13000000e+02
  1.91000000e+02  1.75000000e+03  1.99000000e+02  5.16000000e+02
  3.21000000e+02  1.85000000e+03  2.77000000e+02  2.97000000e+02
  4.75000000e+03  3.70000000e+02  4.89000000e+02  1.14900000e+03
  2.68000000e+02  2.81600000e+03  7.89000000e+02  4.30000000e+02
  9.78000000e+02  7.70000000e+02  4.93000000e+02  7.16000000e+02
  1.59000000e+02]
[1 2 0]
['Monarch Butterfly' 'Monarch Migration' 'FIRST Monarch Butterfly'
 'FIRST Monarch Egg' 'First Monarch' 'FIRST Monarch' 'LAST Fall Monarch'
 'Monarch (OTHER observations)' 'Monarch (FIRST sighting)'
 'Monarch (FIRST seen)' 'Monarch (Other Sightings)'
 'Monarch (OTHER observation)' 'Monarch (OTHER Observation)'
 'Monarch Migration Sighting' 'Monarch (OTHER Observations)'
 'Monarch Migration Study' 'LAST Fall Monarch Sighted'
 ' LAST Fall Monarch Sighted' 'LAST Fall Monarch Migration'
 'Monarch (OTHER oservations)' 'Monarch (LAST sighting)'
 'Monarch Larva (FIRST sighted)' 'Monarch Egg (FIRST sighted)'
 'Monarch Adult (FIRST sighted)' 'Monarch Adult (FIRST Sighted)'
 'Monarch PEAK Migration' 'LAST Fall Monarch Sighting'
 'Monarchs OTHER (Observation)' '(Monarch) Milkweed emerges'
 'Monarch FIRST Migration Sighting' 'Monarch peak Migration'
 'Monarch (OTHER) Observations' 'Milkweed (FIRST Leaves)'
 'Monarch Over-wintering' 'Monarch Adult  (FIRST sighted)'
 'Monarchs (OTHER observations)' 'Monarch (IOTHER observations)'
 'Monarch Fall Roost' 'Monarch ADULT' 'Monarch Larva (FIRST Sighted)'
 'Monarch (OTHER Observations' 'Monarch Peak Migration'
 'Monarch over-wintering' 'Monarch  Adult (FIRST sighted)'
 'Monarch (Other Observations)' 'Monarch FIRST Adult'
 'Monarch Adult (First sighted)' 'Monarch (Other observations)'
 'Monarch Migration Sighting OW' 'Monarch (FIRST sighted)'
 'Monarch (NONE sighted)' 'Monarch Fall Roost (None yet)'
 'Monarch Adult Sighted' 'Monarch Sighting' 'Monarch (Other Observations'
 'Monarch Winter Sighting' 'Monarch Sighted' 'Monarch Egg Sighted'
 'Monarch Larva Sighted' 'Monarch OTHER Observations'
 'monarch (OTHER Observations)' 'Monarch Egg (FIRST Sighted)'
 'Monarch OW Mexico' 'Monarch Adult  Sighted'
 'Monarch (OTHER Observations) READY' 'Monarch Adult (FIRST sighted))'
 'Monarch, Captive-Reared' 'Monarch Fall Roost (waiting for permission)'
 'Milkweed Sighted' 'Milkweed (FIRST sighted)' 'Milkweed (FIRST Sighted)'
 'Milkweed sighted' 'Monarch, Captive Reared'
 'Monarch Egg (FIRST sighted)ghted)'
 'Monarch Adult (FIRST sighted)T sighted)'
 'Monarch Adult (FIRST sighted)sighted)' 'Monarch (Captive Reared)ed)'
 'Monarch (Captive Reared)' 'Monarch (OTHER Observations)ations)'
 'Monarch Larva Sighted ' 'Monarch Fall Roost ' 'Monarch Egg Sighted '
 'Monarch, captive-Reared' 'MOnarch Larva Sighted'
 'Monarch Adult Sighted ' 'Monarch adult Sighted' 'Monarch Adult SIghted'
 'Monarch Adult (FIRST sighted) ' 'Monarchch Adult Sighted'

In [108]:
# Determine the number of unique values in each column.
for col in JNorth1996_2020_df:
  print(JNorth1996_2020_df[col].value_counts())

850841703     1
1526350827    1
1526350816    1
1526350817    1
1526350818    1
             ..
1432512422    1
1432519704    1
1432562236    1
1432562641    1
1526525021    1
Name: id, Length: 227433, dtype: int64
2018-08-22    392
2018-10-03    377
2018-09-06    353
2019-09-19    337
2018-09-12    335
             ...
2015-12-31      1
2015-11-24      1
2015-11-22      1
2006-07-30      1
1996-12-16      1
Name: sighting_date, Length: 7491, dtype: int64
Monarch Adult Sighted            102306
Monarch Adult (FIRST sighted)     36409
Monarch Larva Sighted             17378
Monarch, Captive-Reared           14339
Monarch (OTHER Observations)      13581
Monarch Egg Sighted                8736
Milkweed (FIRST sighted)           8465
Monarch PEAK Migration             7689
Monarch Egg (FIRST sighted)        6876
Monarch Fall Roost                 5035
Monarch Larva (FIRST sighted)      4898
Milkweed Sighted                   1721
Name: species, dtype: int64
1       139319
2        24169
3        13055
4         7795
5         6118
         ...
860          1
315          1
244          1
1351         1
159          1
Name: number, Length: 555, dtype: int64
29.757    811
30.230    765
45.033    702
37.944    700
42.409    659
         ...
30.770      1
38.355      1
33.305      1
29.930      1
27.594      1
Name: latitude, Length: 18851, dtype: int64
-95.365     807
-97.714     752
-87.405     695
-93.224     620
-82.220     605
           ...
-77.529       1
-69.400       1
-101.051      1
-69.254       1
-122.557      1
Name: longitude, Length: 30123, dtype: int64
1    136009
0     91424
Name: flag_location, dtype: int64
-999999.999                                                                                                                                                               1427
Female                                                                                                                                                                     170
Flying                                                                                                                                                                     144
Male                                                                                                                                                                       118
Recorded as an incidental sighting while conducting surveys on the Fort Hood military base.                                                                                104
                                                                                                                                                                          ...
first female sighting around 3 pm in richmond-laid egg on common milkweed.  Warm sw wind -monarch looked fresh                                                               1
Spotted our first milkweed shoots in our butterfly garden at Lake Anne Elementary this afternoon after the first weekend with warmer temperatures.                           1
Spotted 1 adult near Love Valley Wildlife Reserve near the Red River.                                                                                                        1
Established Asclepias syriaca L. plants in open area have emerged approximately 1 inch in height one day after 0.7" rainfall.                                                1
Date of last adult sighted.Total sightings were 98 adults from June 3 to Sept. 4.Peak sightings were July 8 to Aug 7.Approx. acreage with milkweed is equal to 4.5Ac.        1
Name: comments, Length: 212736, dtype: int64
-999999.999                            139036
-999999.999                             63593
None                                      457
Homeschool                                331
Virginia living museum                    263
                                        ...
William e. norris elementary school         1
Coventry elementary school                  1
Adams is close                              1
Salem elementary school                     1
Walker memorial junior academy              1
Name: school, Length: 6914, dtype: int64
-999999.999    206370
 99.000          3136
 4.000           2947
 3.000           2543
 2.000           2541
                ...
 1012.000           1
 678.000            1
 69.000             1
 95.000             1
 135.000            1
Name: grade, Length: 67, dtype: int64
-999999.999                                                                   183911
//sightings.journeynorth.org/jnorth/images/userfiles2018/09/1526362818.jpg         8
https://journeynorth.org/jnorth/images/userfiles/1366245309.jpg                    3
https://journeynorth.org/jnorth/images/userfiles/1331931236.jpg                    3
//journeynorth.org/jnorth/images/userfiles2020/04/1526445894.jpg                   2
                                                                               ...
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327046.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327055.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327056.jpg             1
https://journeynorth.org/jnorth/images/userfiles2017/06/1496327063.jpg             1
//journeynorth.org/jnorth/images/userfiles2021/06/1526524404.jpg                   1
Name: image_url, Length: 43474, dtype: int64
9710973     7256
9979617     2054
9976074     1055
9975275      900
10010858     757
            ...
9979243        1
9979242        1
9979240        1
9979216        1
10042557       1
Name: customerid, Length: 42518, dtype: int64
 1.000         73436
-999999.999    64715
 2.000         24169
 3.000         13055
 4.000          7795
               ...
 445.000           1
 1700.000          1
 254.000           1
 429.000           1
 159.000           1
Name: number_old, Length: 557, dtype: int64
0    161550
1     64715
2      1168
Name: flag_number, dtype: int64
Monarch Adult Sighted                          91662
Monarch Adult (FIRST sighted)                  25311
Monarch Larva Sighted                          17373
Monarch, Captive-Reared                        14329
Monarch (OTHER Observations)                   10626
                                               ...
monarch (OTHER Observations)                       1
Monarch (OTHER Observations) READY                 1
Monarch Fall Roost (waiting for permission)        1
Monarch, Captive Reared                            1
Monarch, Captive-reared                            1
Name: species_old, Length: 96, dtype: int64
0    197793
1     29640
Name: flag_species, dtype: int64

In [109]:
# Find null values
for column in JNorth1996_2020_df.columns:
   print(f"Column {column} has {JNorth1996_2020_df[column].isnull().sum()} null values")

Column id has 0 null values
Column sighting_date has 0 null values
Column species has 0 null values
Column number has 0 null values
Column latitude has 0 null values
Column longitude has 0 null values
Column flag_location has 0 null values
Column comments has 0 null values
Column school has 0 null values
Column grade has 0 null values
Column image_url has 0 null values
Column customerid has 0 null values
Column number_old has 0 null values
Column flag_number has 0 null values
Column species_old has 0 null values
Column flag_species has 0 null values

In [110]:
# Find duplicate entries
print(f"Duplicate entries: {JNorth1996_2020_df.duplicated().sum()}")

Duplicate entries: 0

# Output geoJSON

In [111]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth1996_2020_df['latitude'] = JNorth1996_2020_df['latitude'].astype(float)
JNorth1996_2020_df['longitude'] = JNorth1996_2020_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [112]:
geojson = df_to_geojson(JNorth1996_2020_df, cols)

In [113]:
file = open("JNorth1996_2020.json", "w")
json.dump(geojson, file, indent =1)
file.close()

# Monarch Adult Sighted Sites

In [229]:
# filtering by type of observation (Monarch Adult Sighted)
JNorth_Adult_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Adult Sighted']
JNorth_Adult_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
0,850841703,1996-12-16,Monarch Adult Sighted,1,27.594,-81.362,0,On the ballfield a solitary monarch butterfly ...,Walker memorial junior academy,10.0,-999999.999,135,-999999.999,1,Monarch Butterfly,1
1,851824801,1996-12-06,Monarch Adult Sighted,1,30.420,-87.224,0,Our 5th grade Discovery students who went alon...,Hambrick elementary school,5.0,-999999.999,150,-999999.999,1,Monarch Butterfly,1
2,854409931,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,We saw several hundred monarchs in our school ...,-999999.999,5.0,-999999.999,9701054,-999999.999,1,Monarch Butterfly,1
3,854557206,1996-09-21,Monarch Adult Sighted,1,40.817,-96.710,0,Over a hundered monarchs in our school butterf...,Fredstrom elementary school,6.0,-999999.999,175,-999999.999,1,Monarch Butterfly,1
4,855061862,1997-01-01,Monarch Adult Sighted,1,34.244,-77.946,0,"I Thought I Saw It, But I Was Suprised To See ...",Gregory,3.0,-999999.999,181,-999999.999,1,Monarch Butterfly,1

# Output CSV

In [115]:
JNorth_Adult_Site_df.to_csv('JNorth_Adult_Site.csv', header=True, mode='w' )

In [230]:
JNorth_Adult_Site_df.shape

(102306, 16)

In [231]:
JNorth_Adult_Site_df.drop(['id','flag_location', 'comments','school','grade','image_url','customerid','number_old','flag_number','species_old','flag_species'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [232]:
cols = ['sighting_date', 'species', 'number', 'latitude', 'longitude']

In [233]:
JNorth_Adult_Site_df.head()

  sighting_date                species  number  latitude  longitude
0    1996-12-16  Monarch Adult Sighted       1    27.594    -81.362
1    1996-12-06  Monarch Adult Sighted       1    30.420    -87.224
2    1996-09-21  Monarch Adult Sighted       1    40.817    -96.710
3    1996-09-21  Monarch Adult Sighted       1    40.817    -96.710
4    1997-01-01  Monarch Adult Sighted       1    34.244    -77.946

In [234]:
# JNorth_Adult_Site_df[JNorth_Adult_Site_df.groupby(['sighting_date', 'species', 'latitude', 'longitude']).sum())

In [240]:
JNorth_Adult_Site_df =JNorth_Adult_Site_df.groupby(['sighting_date', 'species', 'latitude', 'longitude']).sum().reset_index()

In [241]:
JNorth_Adult_Site_df.shape

(98258, 5)

In [242]:
JNorth_Adult_Site_df.columns.tolist()

['sighting_date', 'species', 'latitude', 'longitude', 'number']

In [243]:
JNorth_Adult_Site_df.head()

  sighting_date                species  latitude  longitude  number
0    1996-03-26  Monarch Adult Sighted    35.170    -79.396       1
1    1996-06-16  Monarch Adult Sighted    44.957    -93.540       1
2    1996-09-21  Monarch Adult Sighted    40.817    -96.710       2
3    1996-12-06  Monarch Adult Sighted    30.420    -87.224       1
4    1996-12-16  Monarch Adult Sighted    27.594    -81.362       1

In [244]:
JNorth_Adult_Site_df.shape

(98258, 5)

In [252]:
JNorth_Adult_Site_year_df= JNorth_Adult_Site_df
JNorth_Adult_Site_year_df['year'] = pd.DatetimeIndex(JNorth_Adult_Site_df['sighting_date']).year

In [253]:
JNorth_Adult_Site_year_df.head()

  sighting_date                species  latitude  longitude  number  year
0    1996-03-26  Monarch Adult Sighted    35.170    -79.396       1  1996
1    1996-06-16  Monarch Adult Sighted    44.957    -93.540       1  1996
2    1996-09-21  Monarch Adult Sighted    40.817    -96.710       2  1996
3    1996-12-06  Monarch Adult Sighted    30.420    -87.224       1  1996
4    1996-12-16  Monarch Adult Sighted    27.594    -81.362       1  1996

In [254]:
JNorth_Adult_Site_1996_df = JNorth_Adult_Site_year_df[JNorth_Adult_Site_year_df['year']==1996]
JNorth_Adult_Site_1996_df.head()

  sighting_date                species  latitude  longitude  number  year
0    1996-03-26  Monarch Adult Sighted    35.170    -79.396       1  1996
1    1996-06-16  Monarch Adult Sighted    44.957    -93.540       1  1996
2    1996-09-21  Monarch Adult Sighted    40.817    -96.710       2  1996
3    1996-12-06  Monarch Adult Sighted    30.420    -87.224       1  1996
4    1996-12-16  Monarch Adult Sighted    27.594    -81.362       1  1996

In [255]:
JNorth_Adult_Site_1996_df.shape

(5, 6)

In [263]:
JNorth_Adult_Site_1997_df = JNorth_Adult_Site_year_df[JNorth_Adult_Site_year_df['year']==1997]
JNorth_Adult_Site_1997_df.tail()

    sighting_date                species  latitude  longitude  number  year
697    1997-11-23  Monarch Adult Sighted    34.244    -77.946       1  1997
698    1997-11-25  Monarch Adult Sighted    29.757    -95.365       1  1997
699    1997-12-09  Monarch Adult Sighted    30.047    -95.214       1  1997
700    1997-12-12  Monarch Adult Sighted    37.571   -121.985       1  1997
701    1997-12-30  Monarch Adult Sighted    29.757    -95.365       1  1997

In [264]:
JNorth_Adult_Site_1997_df.shape

(697, 6)

In [265]:
JNorth_Adult_Site_1998_df = JNorth_Adult_Site_year_df[JNorth_Adult_Site_year_df['year']==1998]
JNorth_Adult_Site_1998_df.tail()

     sighting_date                species  latitude  longitude  number  year
1183    1998-12-03  Monarch Adult Sighted    40.618    -73.720       1  1998
1184    1998-12-11  Monarch Adult Sighted    29.957    -90.078       1  1998
1185    1998-12-16  Monarch Adult Sighted    29.757    -95.365       1  1998
1186    1998-12-19  Monarch Adult Sighted    28.529    -96.679       1  1998
1187    1998-12-23  Monarch Adult Sighted    28.807    -96.979       1  1998

In [266]:
JNorth_Adult_Site_1998_df.shape

(486, 6)

In [267]:
JNorth_Adult_Site_1999_df = JNorth_Adult_Site_year_df[JNorth_Adult_Site_year_df['year']==1999]
JNorth_Adult_Site_1999_df.tail()

     sighting_date                species  latitude  longitude  number  year
1242    1999-11-10  Monarch Adult Sighted    39.643    -74.185       1  1999
1243    1999-11-12  Monarch Adult Sighted    29.757    -95.365       1  1999
1244    1999-11-14  Monarch Adult Sighted    34.459    -93.657       1  1999
1245    1999-11-19  Monarch Adult Sighted    37.058    -76.464       1  1999
1246    1999-11-24  Monarch Adult Sighted    38.936    -78.170       1  1999

In [268]:
JNorth_Adult_Site_1999_df.shape

(59, 6)

In [269]:
JNorth_Adult_Site_2000_df = JNorth_Adult_Site_year_df[JNorth_Adult_Site_year_df['year']==2000]
JNorth_Adult_Site_2000_df.tail()

     sighting_date                species  latitude  longitude  number  year
1269    2000-11-01  Monarch Adult Sighted    42.844    -75.976       1  2000
1270    2000-11-03  Monarch Adult Sighted    42.840    -75.970       1  2000
1271    2000-11-12  Monarch Adult Sighted    34.272    -88.705       1  2000
1272    2000-11-17  Monarch Adult Sighted    28.590    -82.358       1  2000
1273    2000-12-04  Monarch Adult Sighted    28.529    -96.679       1  2000

In [270]:
JNorth_Adult_Site_1999_df.shape

(59, 6)

In [271]:
JNorth_Adult_Site_2020_df = JNorth_Adult_Site_year_df[JNorth_Adult_Site_year_df['year']==2020]
JNorth_Adult_Site_2020_df.tail()

      sighting_date                species  latitude  longitude  number  year
98253    2020-12-30  Monarch Adult Sighted    29.458    -98.454       2  2020
98254    2020-12-30  Monarch Adult Sighted    30.192    -85.832       1  2020
98255    2020-12-31  Monarch Adult Sighted    26.074    -80.313       8  2020
98256    2020-12-31  Monarch Adult Sighted    28.198    -82.330       1  2020
98257    2020-12-31  Monarch Adult Sighted    29.744    -84.865       1  2020

In [273]:
JNorth_Adult_Site_2020_df.shape

(12592, 6)

In [278]:
JNorth_Adult_Site_2020_df.drop(['year'], axis=1, inplace=True)

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [279]:
JNorth_Adult_Site_2020_df.tail

<bound method NDFrame.tail of       sighting_date                species  latitude  longitude  number
85666    2020-01-01  Monarch Adult Sighted    36.954   -122.028       1
85667    2020-01-04  Monarch Adult Sighted    29.458    -98.458       2
85668    2020-01-04  Monarch Adult Sighted    29.482    -98.481       1
85669    2020-01-04  Monarch Adult Sighted    32.258   -110.931       1
85670    2020-01-05  Monarch Adult Sighted    27.801    -97.396       1
...             ...                    ...       ...        ...     ...
98253    2020-12-30  Monarch Adult Sighted    29.458    -98.454       2
98254    2020-12-30  Monarch Adult Sighted    30.192    -85.832       1
98255    2020-12-31  Monarch Adult Sighted    26.074    -80.313       8
98256    2020-12-31  Monarch Adult Sighted    28.198    -82.330       1
98257    2020-12-31  Monarch Adult Sighted    29.744    -84.865       1

[12592 rows x 5 columns]>

In [291]:
JNorth_Adult_Site_2020_df['month'] = pd.DatetimeIndex(JNorth_Adult_Site_2020_df['sighting_date']).month

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [292]:
JNorth_Adult_Site_2020_month_df =pd.DataFrame(JNorth_Adult_Site_2020_df)

In [295]:
JNorth_Adult_Site_2020_1_df = JNorth_Adult_Site_2020_month_df[JNorth_Adult_Site_2020_month_df['month']==1]
JNorth_Adult_Site_2020_1_df.tail()

      sighting_date                species  latitude  longitude  number  month
85718    2020-01-28  Monarch Adult Sighted    28.453    -96.408       1      1
85719    2020-01-28  Monarch Adult Sighted    30.316    -89.248       1      1
85720    2020-01-31  Monarch Adult Sighted    28.365    -82.196       1      1
85721    2020-01-31  Monarch Adult Sighted    28.454    -96.409       2      1
85722    2020-01-31  Monarch Adult Sighted    30.391    -98.983       2      1

In [297]:
JNorth_Adult_Site_2020_1_df.shape

(57, 6)

# Output geoJSON

In [280]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_1_df['latitude'] = JNorth_Adult_Site_2020_1_df['latitude'].astype(float)
JNorth_Adult_Site_2020_1_df['longitude'] = JNorth_Adult_Site_2020_1_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [298]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_1_df, cols)

In [300]:
file = open("JNorth_Adult_Site_2020_1.json", "w")
json.dump(geojson, file, indent =1)
file.close()

In [282]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_Site_2020_df['latitude'] = JNorth_Adult_Site_2020_df['latitude'].astype(float)
JNorth_Adult_Site_2020_df['longitude'] = JNorth_Adult_Site_2020_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [285]:
geojson = df_to_geojson(JNorth_Adult_Site_2020_df, cols)

In [286]:
file = open("JNorth_Adult_Site_2020.json", "w")
json.dump(geojson, file, indent =1)
file.close()

# Monarch Adult First Sighted Sites

In [124]:
# filtering by type of observation (Monarch Adult First Sighted)
JNorth_Adult_First_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Adult (FIRST sighted)']
JNorth_Adult_First_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
688,886471649,1998-02-01,Monarch Adult (FIRST sighted),1,29.957,-90.078,0,We saw 2 butterflies hatch this weekend. We b...,-999999.999,-999999.999,-999999.999,9704694,-999999.999,1,FIRST Monarch Butterfly,1
689,887033189,1998-02-08,Monarch Adult (FIRST sighted),1,30.894,-102.086,0,-999999.999,Iraan elementary,5.000,-999999.999,719,-999999.999,1,FIRST Monarch Butterfly,1
691,887158601,1998-01-17,Monarch Adult (FIRST sighted),1,28.529,-96.679,0,Netted and tagged Monarch female laying eggs o...,Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,FIRST Monarch Butterfly,1
692,887283990,1998-02-12,Monarch Adult (FIRST sighted),1,28.529,-96.679,0,Have had a few Monarchs overwintering in this ...,Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,FIRST Monarch Butterfly,1
694,887294257,1997-12-20,Monarch Adult (FIRST sighted),1,29.757,-95.365,0,Monarch’s have been sighted in backyards with ...,Kinkaid school,8.000,-999999.999,728,-999999.999,1,FIRST Monarch Butterfly,1

# Output CSV

In [125]:
JNorth_Adult_First_Site_df.to_csv('JNorth_Adult_First_Site.csv', header=True, mode='w' )

In [126]:
JNorth_Adult_First_Site_df.shape

(36409, 16)

# Output geoJSON

In [127]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Adult_First_Site_df['latitude'] = JNorth_Adult_First_Site_df['latitude'].astype(float)
JNorth_Adult_First_Site_df['longitude'] = JNorth_Adult_First_Site_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [128]:
geojson = df_to_geojson(JNorth_Adult_First_Site_df, cols)

In [129]:
file = open("JNorth_Adult_First_Site.json", "w")
json.dump(geojson, file, indent =1)
file.close()

# Monarch Egg First Sighted Sites

In [130]:
# filtering by type of observation (Monarch Egg Sighted)
JNorth_Egg_First_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Egg (FIRST sighted)']
JNorth_Egg_First_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
690,887156075,1998-02-10,Monarch Egg (FIRST sighted),1,28.529,-96.679,0,We gathered 21 Monarch eggs during week of Dec...,Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,FIRST Monarch Egg,1
693,887284032,1998-02-12,Monarch Egg (FIRST sighted),1,28.529,-96.679,0,Have had a few Monarchs overwintering in this ...,Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,FIRST Monarch Egg,1
697,887408443,1998-02-13,Monarch Egg (FIRST sighted),1,28.807,-96.979,0,"Three new Monarch eggs today. On ""backup"" Asc...",Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,FIRST Monarch Egg,1
698,887552426,1998-01-01,Monarch Egg (FIRST sighted),1,27.980,-82.781,0,"We have milkweed, lantana and other butterfly ...",Pinellas county jewish day school,-999999.999,-999999.999,733,-999999.999,1,FIRST Monarch Egg,1
708,888551397,1998-02-26,Monarch Egg (FIRST sighted),1,28.807,-96.979,0,Mid-Coast of TX: More Monarchs (local over-win...,Victoria christian school k-9,7.000,-999999.999,9704928,-999999.999,1,FIRST Monarch Egg,1

# Output CSV

In [131]:
JNorth_Egg_First_Site_df.to_csv('JNorth_Egg_First_Site.csv', header=True, mode='w' )

# Output geoJSON

In [132]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_First_Site_df['latitude'] = JNorth_Egg_First_Site_df['latitude'].astype(float)
JNorth_Egg_First_Site_df['longitude'] = JNorth_Egg_First_Site_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [133]:
geojson = df_to_geojson(JNorth_Egg_First_Site_df, cols)

In [134]:
file = open("JNorth_Egg_First_Site.json", "w")
json.dump(geojson, file, indent =1)
file.close()

# Monarch Other Observations

In [135]:
# filtering by type of observation (Monarch Other Observations)
JNorth_Other_Observ_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch (OTHER Observations)']
JNorth_Other_Observ_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
1603,916109073,1999-01-11,Monarch (OTHER Observations),1,28.807,-96.979,0,"We released 23 ""homegrown"" Monarch butterflies...",Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,Monarch (OTHER observations),1
1606,917137615,1999-01-23,Monarch (OTHER Observations),1,28.807,-96.979,0,"Mid-coast of Texas, 23 Jan 99: Monarchs conti...",Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,Monarch (OTHER observations),1
1607,917385333,1998-10-27,Monarch (OTHER Observations),1,36.164,-86.774,0,I am reporting the last Monarch which I saw in...,David lipscomb elementary school,-999999.999,-999999.999,1186,-999999.999,1,Monarch (OTHER observations),1
1608,917674135,1999-01-30,Monarch (OTHER Observations),1,28.807,-96.979,0,Mid-coast of Tx: 1-30-99: We continue to have...,Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,Monarch (OTHER observations),1
1614,918605036,1999-02-09,Monarch (OTHER Observations),1,29.770,-95.515,0,"Dear Journey North,In Houston, Texas, we have ...",Kinkaid school,8.000,-999999.999,1216,0.000,2,Monarch (OTHER observations),1

# Output CSV

In [136]:
JNorth_Other_Observ_df.to_csv('JNorth_Other_Observ.csv', header=True, mode='w' )

In [137]:
JNorth_Other_Observ_df.shape

(13581, 16)

# Output geoJSON

In [ ]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Other_Observ_df['latitude'] = JNorth_Other_Observ_df['latitude'].astype(float)
JNorth_Other_Observ_df['longitude'] = JNorth_Other_Observ_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

In [ ]:
geojson = df_to_geojson(JNorth_Other_Observ_df, cols)

In [138]:
file = open("JNorth_Other_Observ.json", "w")
json.dump(geojson, file, indent =1)
file.close()

# Monarch Larva First Sighted Sites

In [139]:
# filtering by type of observation (Monarch Larva First Sited)
JNorth_Larva_First_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Larva (FIRST sighted)']
JNorth_Larva_First_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
2932,946933590,2000-01-02,Monarch Larva (FIRST sighted),1,27.705,-97.348,0,"At Corpus Christi's Hans and Pat Suter Refuge,...",Tamu-cc,-999999.999,-999999.999,9711251,-999999.999,1,Monarch Larva (FIRST sighted),0
2961,951423660,1999-12-01,Monarch Larva (FIRST sighted),1,29.757,-95.365,0,"In Harris County, southwest Houston, I have ha...",-999999.999,-999999.999,-999999.999,9706354,-999999.999,1,Monarch Larva (FIRST sighted),0
2965,951595960,1999-12-15,Monarch Larva (FIRST sighted),1,29.757,-95.365,0,"We have had such a mild winter here, that the ...",-999999.999,-999999.999,-999999.999,9705512,-999999.999,1,Monarch Larva (FIRST sighted),0
2975,952046388,2000-02-01,Monarch Larva (FIRST sighted),1,26.218,-98.238,0,Milam Elementary School (about 10 miles from t...,Ben milam elementary,4.000,-999999.999,1900,-999999.999,1,Monarch Larva (FIRST sighted),0
2977,952110693,2000-03-03,Monarch Larva (FIRST sighted),1,28.807,-96.979,0,We have had a few monarchs all winter in Victo...,Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,Monarch Larva (FIRST sighted),0

# Output CSV

In [140]:
JNorth_Larva_First_Site_df.to_csv('JNorth_Larva_First_Site.csv', header=True, mode='w' )

# Output geoJSON

In [141]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_First_Site_df['latitude'] = JNorth_Larva_First_Site_df['latitude'].astype(float)
JNorth_Larva_First_Site_df['longitude'] = JNorth_Larva_First_Site_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [142]:
geojson = df_to_geojson(JNorth_Larva_First_Site_df, cols)

In [143]:
file = open("JNorth_Larva_First_Site.json", "w")
json.dump(geojson, file, indent =1)
file.close()

# Monarch Peak Migration

In [144]:
# filtering by type of observation (Monarch Peak Migration)
JNorth_Peak_Migration_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch PEAK Migration']
JNorth_Peak_Migration_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
3541,966119477,2000-08-08,Monarch PEAK Migration,1,47.066,-94.504,0,The first signs of the migration in Minnesota ...,-999999.999,0.000,-999999.999,9710973,0.000,2,Monarch PEAK Migration,0
3544,966258999,2000-08-15,Monarch PEAK Migration,1,44.957,-93.540,0,I observed the first big pulse of fall migrati...,-999999.999,-999999.999,-999999.999,9937188,-999999.999,1,Monarch PEAK Migration,0
3547,966374597,2000-08-15,Monarch PEAK Migration,1,45.009,-93.340,0,Lots of Monarch activity today! We counted 58...,Breck school,4.000,-999999.999,9704118,0.000,2,Monarch PEAK Migration,0
3551,966612408,2000-08-17,Monarch PEAK Migration,1,45.050,-93.210,0,The day was an exciting one. We had about 75 b...,-999999.999,0.000,-999999.999,2266,0.000,2,Monarch PEAK Migration,0
3572,966879879,2000-08-20,Monarch PEAK Migration,1,46.926,-96.850,0,It was totally awesome. It was about 4:30pm on...,-999999.999,-999999.999,-999999.999,9900260,-999999.999,1,Monarch PEAK Migration,0

# Output CSV

In [145]:
JNorth_Peak_Migration_df.to_csv('JNorth_Peak_Migration.csv', header=True, mode='w' )

In [146]:
JNorth_Peak_Migration_df.shape

(7689, 16)

# Output geoJSON

In [147]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Peak_Migration_df['latitude'] = JNorth_Peak_Migration_df['latitude'].astype(float)
JNorth_Peak_Migration_df['longitude'] = JNorth_Peak_Migration_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [148]:
geojson = df_to_geojson(JNorth_Peak_Migration_df, cols)

In [149]:
file = open("JNorth_Peak_Migration.json", "w")
json.dump(geojson, file, indent =1)
file.close()

# Milkweed First Sighted Sites

In [150]:
# filtering by type of observation (Milkweed First Sighted)
JNorth_Milkweed_First_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Milkweed (FIRST sighted)']
JNorth_Milkweed_First_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
4355,978202507,2000-12-30,Milkweed (FIRST sighted),1,28.529,-96.679,0,"A ""last milkweed of the year"" report: As of D...",Victoria christian school,7.000,-999999.999,9704928,-999999.999,1,(Monarch) Milkweed emerges,1
4366,981670521,2001-02-07,Milkweed (FIRST sighted),1,29.805,-98.413,0,I was clearing some old milkweed stalks in the...,-999999.999,-999999.999,-999999.999,9901002,-999999.999,1,(Monarch) Milkweed emerges,1
4367,981927477,2001-02-09,Milkweed (FIRST sighted),1,29.047,-82.046,0,As I went out to my butterfly garden to survey...,Lake weir middle,6.000,-999999.999,9705812,-999999.999,1,(Monarch) Milkweed emerges,1
4371,982259763,2001-02-15,Milkweed (FIRST sighted),1,30.420,-87.224,0,poking up through the mulch of one of our butt...,-999999.999,-999999.999,-999999.999,2331,-999999.999,1,(Monarch) Milkweed emerges,1
4380,982949107,2001-02-10,Milkweed (FIRST sighted),1,30.178,-95.504,0,We have milkweed leaves that have been out for...,Holy oak catholic homeschool,-999999.999,-999999.999,9922693,-999999.999,1,(Monarch) Milkweed emerges,1

# Output CSV

In [151]:
JNorth_Milkweed_First_Site_df.to_csv('JNorth_Milkweed_First_Site.csv', header=True, mode='w' )

In [152]:
JNorth_Milkweed_First_Site_df.shape

(8465, 16)

# Output geoJSON

In [153]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_First_Site_df['latitude'] = JNorth_Milkweed_First_Site_df['latitude'].astype(float)
JNorth_Milkweed_First_Site_df['longitude'] = JNorth_Milkweed_First_Site_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [154]:
JNorth_Milkweed_First_Site_geojson = df_to_geojson(JNorth_Milkweed_First_Site_df, cols)

In [155]:
file = open("JNorth_Milkweed_First_Site.json", "w")
json.dump(JNorth_Milkweed_First_Site_geojson, file, indent =1)
file.close()

# Monarch Fall Roost

In [156]:
# filtering by type of observation (Monarch Fall Roost)
JNorth_Fall_Roost_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Fall Roost']
JNorth_Fall_Roost_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
7887,1030474075,2002-08-28,Monarch Fall Roost,1,45.068,-92.838,0,-999999.999,St. croix valley area learning center,9.000,-999999.999,9907033,-999999.999,1,Monarch Fall Roost,0
7891,1030540328,2002-08-27,Monarch Fall Roost,1,46.121,-96.441,0,This year I have had a total of 88 Monarchs ro...,-999999.999,-999999.999,-999999.999,9902930,-999999.999,1,Monarch Fall Roost,0
7947,1030833955,2002-08-31,Monarch Fall Roost,1,44.966,-93.084,0,"For the second year in a row, we found monarch...",Museum magnet elem. school,4.000,-999999.999,9905440,-999999.999,1,Monarch Fall Roost,0
7974,1031068371,2002-09-02,Monarch Fall Roost,1,43.086,-91.423,0,We have found the migration to be late also. ...,-999999.999,-999999.999,-999999.999,1627,-999999.999,1,Monarch Fall Roost,0
7979,1031074256,2002-09-02,Monarch Fall Roost,1,44.855,-93.775,0,Yesterday about 6 p.m. while walking 1 mile al...,-999999.999,-999999.999,-999999.999,9701177,-999999.999,1,Monarch Fall Roost,0

# Output CSV

In [157]:
JNorth_Fall_Roost_df.to_csv('JNorth_Fall_Roost.csv', header=True, mode='w' )

In [158]:
JNorth_Fall_Roost_df.shape

(5035, 16)

# Output geoJSON

In [159]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Fall_Roost_df['latitude'] = JNorth_Fall_Roost_df['latitude'].astype(float)
JNorth_Fall_Roost_df['longitude'] = JNorth_Fall_Roost_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [160]:
JNorth_Fall_Roost_geojson = df_to_geojson(JNorth_Fall_Roost_df, cols)

In [161]:
file = open("JNorth_Fall_Roost.json", "w")
json.dump(JNorth_Fall_Roost_geojson, file, indent =1)
file.close()

# Monarch Egg Sighting Sites

In [162]:
# filtering by type of observation (Monarch Egg Sighting)
JNorth_Egg_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Egg Sighted']
JNorth_Egg_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
48263,1343918156,2012-08-02,Monarch Egg Sighted,4,39.091,-76.624,0,Eggs on common mw in open field.,Arlington echo outdoor education center,-999999.999,-999999.999,9954266,4.000,0,Monarch Egg Sighted,0
48269,1344034477,2012-08-02,Monarch Egg Sighted,1,42.647,-74.575,0,"Collected 2 eggs today, feel as if I&#39;m off...",-999999.999,-999999.999,-999999.999,9940596,-999999.999,1,Monarch Egg Sighted,0
48286,1344379065,2012-08-07,Monarch Egg Sighted,2,42.647,-74.575,0,2 eggs collected.,-999999.999,-999999.999,-999999.999,9940596,2.000,0,Monarch Egg Sighted,0
48294,1344447589,2012-08-05,Monarch Egg Sighted,1,32.774,-91.709,0,female has started laying eggs :) found about...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9949176,-999999.999,1,Monarch Egg Sighted,0
48298,1344457901,2012-08-08,Monarch Egg Sighted,1,42.647,-74.575,0,2 eggs collected.,-999999.999,-999999.999,-999999.999,9940596,-999999.999,1,Monarch Egg Sighted,0

# Output CSV

In [163]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_df['latitude'] = JNorth_Egg_Site_df['latitude'].astype(float)
JNorth_Egg_Site_df['longitude'] = JNorth_Egg_Site_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [164]:
JNorth_Egg_Site_df.to_csv('JNorth_Egg_Site.csv', header=True, mode='w' )

In [165]:
JNorth_Egg_Site_df.shape

(8736, 16)

# Output geoJSON

In [167]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Egg_Site_df['latitude'] = JNorth_Egg_Site_df['latitude'].astype(float)
JNorth_Egg_Site_df['longitude'] = JNorth_Egg_Site_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [168]:
JNorth_Egg_Site_df.tail()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
227350,1526499345,2020-12-27,Monarch Egg Sighted,2,26.438,-81.798,1,2 eggs on leaf!,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,10035986,2.0,0,Monarch Egg Sighted,0
227351,1526499346,2020-12-27,Monarch Egg Sighted,1,26.438,-81.798,1,egg sighted,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,10035986,1.0,0,Monarch Egg Sighted,0
227352,1526499347,2020-12-27,Monarch Egg Sighted,1,26.438,-81.798,1,1 egg sighted,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,10035986,1.0,0,Monarch Egg Sighted,0
227353,1526499350,2020-12-31,Monarch Egg Sighted,3,28.384,-80.699,1,Three eggs sighted on Milkweed.,-999999.999,-999999.999,-999999.999,10036283,3.0,0,Monarch Egg Sighted,0
227420,1526507326,2020-04-06,Monarch Egg Sighted,10,35.276,-97.489,1,10 eggs on Asclepias viridis (green antelopeho...,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,10037978,10.0,0,Monarch Egg Sighted,0

In [169]:
JNorth_Egg_Site_geojson = df_to_geojson(JNorth_Egg_Site_df, cols)

In [170]:
file = open("JNorth_Egg_Site.json", "w")
json.dump(JNorth_Egg_Site_geojson, file, indent =1)
file.close()

# Monarch Larva Sighting Sites

In [171]:
# filtering by type of observation (Monarch Larva Sighting)
JNorth_Larva_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch Larva Sighted']
JNorth_Larva_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
48278,1344359409,2012-08-06,Monarch Larva Sighted,1,34.594,-112.700,0,Fiona Reid of Skull Valley reports her first m...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9938243,-999999.999,1,Monarch Larva Sighted,0
48299,1344458076,2012-08-08,Monarch Larva Sighted,1,42.647,-74.575,0,4th instar cat on milkweed ( incarnata).,-999999.999,-999999.999,-999999.999,9940596,-999999.999,1,Monarch Larva Sighted,0
48305,1344532312,2012-08-09,Monarch Larva Sighted,11,39.081,-76.558,0,"Caterpillars spotted on common, poke, butterfl...",Arlington echo outdoor education center,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9954266,11.000,0,Monarch Larva Sighted,0
48306,1344532445,2012-08-09,Monarch Larva Sighted,6,39.185,-76.630,0,Caterpillars spotted on swamp and butterfly mi...,Arlington echo outdoor education center,-999999.999,-999999.999,9954266,6.000,0,Monarch Larva Sighted,0
48307,1344532566,2012-08-09,Monarch Larva Sighted,6,39.185,-76.630,0,Caterpillars spotted on swamp and butterfly mi...,Arlington echo outdoor education center,-999999.999,-999999.999,9954266,6.000,0,Monarch Larva Sighted,0

# Output CSV

In [172]:
JNorth_Larva_Site_df.to_csv('JNorth_Larva_Site.csv', header=True, mode='w' )

In [173]:
JNorth_Larva_Site_df.shape

(17378, 16)

# Output geoJSON

In [174]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Larva_Site_df['latitude'] = JNorth_Larva_Site_df['latitude'].astype(float)
JNorth_Larva_Site_df['longitude'] = JNorth_Larva_Site_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [175]:
JNorth_Larva_Site_df.tail()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
227401,1526501648,2020-11-03,Monarch Larva Sighted,6,30.371,-95.816,1,I am continuing to find monarch larvae on the ...,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,9922775,6.0,0,Monarch Larva Sighted,0
227402,1526501649,2020-11-06,Monarch Larva Sighted,5,30.371,-95.816,1,I saw 5 monarch larvae from sizes 3rd instar t...,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,9922775,5.0,0,Monarch Larva Sighted,0
227403,1526501650,2020-11-08,Monarch Larva Sighted,4,30.371,-95.816,1,"I found 4 monarch larvae, from sizes 3rd insta...",-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,9922775,4.0,0,Monarch Larva Sighted,0
227404,1526501651,2020-11-09,Monarch Larva Sighted,3,30.371,-95.816,1,"Found 3 monarch larvae, 3rd to 5th instars. Th...",-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,9922775,3.0,0,Monarch Larva Sighted,0
227430,1526524404,2020-08-30,Monarch Larva Sighted,1,42.838,-108.727,1,One larva seen.,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,10042509,1.0,0,Monarch Larva Sighted,0

In [ ]:
geojson = df_to_geojson(JNorth_Larva_Site_df, cols)

In [176]:
file = open("JNorth_Larva_Site.json", "w")
json.dump(geojson, file, indent =1)
file.close()

# Monarch Captive Reared

In [177]:
# filtering by type of observation (Monarch Captive Reared)
JNorth_Captive_Reared_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']=='Monarch, Captive-Reared']
JNorth_Captive_Reared_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
77626,1437487881,2015-07-20,"Monarch, Captive-Reared",1,43.700,-79.417,0,Released first monarch of the season in Etobic...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9983723,1.000,0,"Monarch, Captive-Reared",0
77761,1437684876,2015-07-23,"Monarch, Captive-Reared",2,37.954,-87.391,0,I just released this female and male monarch. ...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9976074,2.000,0,"Monarch, Captive-Reared",0
77800,1437757073,2015-07-24,"Monarch, Captive-Reared",1,40.106,-74.354,0,This is my first raised female that I named Fl...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9992117,1.000,0,"Monarch, Captive-Reared",0
77873,1437920818,2015-07-26,"Monarch, Captive-Reared",1,40.106,-74.354,0,My first released Monarch that was such fun to...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9992117,-999999.999,1,"Monarch, Captive-Reared",0
77930,1437960064,2015-07-26,"Monarch, Captive-Reared",3,38.510,-90.748,0,This beautiful male came out of his chrysalis ...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9954412,3.000,0,"Monarch, Captive-Reared",0

#  Output CSV

In [178]:
JNorth_Captive_Reared_Site_df.to_csv('JNorth_Captive_Reared_Site.csv', header=True, mode='w' )

In [179]:
JNorth_Captive_Reared_Site_df.shape

(14339, 16)

# Output geoJSON

In [180]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Captive_Reared_Site_df['latitude'] = JNorth_Captive_Reared_Site_df['latitude'].astype(float)
JNorth_Captive_Reared_Site_df['longitude'] = JNorth_Captive_Reared_Site_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [181]:
JNorth_Captive_Reared_Site_df.tail()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
227275,1526499203,2020-12-28,"Monarch, Captive-Reared",99,30.179,-85.772,1,I released 58 today after cold spell. Dec 21 ...,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2020...,10035906,99.0,0,"Monarch, Captive-Reared",0
227293,1526499234,2020-12-23,"Monarch, Captive-Reared",23,29.742,-95.373,1,I was surprised to find caterpillars on the re...,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2020...,10036247,23.0,0,"Monarch, Captive-Reared",0
227390,1526500334,2020-12-15,"Monarch, Captive-Reared",5,26.139,-81.796,1,Since December 15th I have helped 17 Monarch c...,-999999.999,-999999.999,-999999.999,10009475,5.0,0,"Monarch, Captive-Reared",0
227422,1526513089,2020-05-01,"Monarch, Captive-Reared",1,30.536,-87.216,1,Just emerged!,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,10040223,1.0,0,"Monarch, Captive-Reared",0
227423,1526513090,2020-05-01,"Monarch, Captive-Reared",1,30.536,-87.216,1,Just emerged!,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2021...,10040223,1.0,0,"Monarch, Captive-Reared",0

In [182]:
JNorth_Captive_Reared_Site_geojson = df_to_geojson(JNorth_Captive_Reared_Site_df, cols)

In [183]:
file = open("JNorth_Captive_Reared_Site.json", "w")
json.dump(JNorth_Captive_Reared_Site_geojson, file, indent =1)
file.close()

# Milkweed Sighting

In [184]:
# filtering by type of observation (Milkweed Sighting)
JNorth_Milkweed_Site_df = JNorth1996_2020_df[JNorth1996_2020_df['species']== 'Milkweed Sighted']
JNorth_Milkweed_Site_df.head()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
91379,1452975620,2016-01-16,Milkweed Sighted,1,29.914,-90.053,1,Found a baby Milkweed plant. in my backyard,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9989749,-999999.999,1,Milkweed Sighted,0
91404,1453317491,2016-01-20,Milkweed Sighted,1,33.974,-118.249,1,Milkweed Plants The milkweed plants are about ...,-999999.999,-999999.999,https://journeynorth.org/jnorth/images/userfil...,9989994,-999999.999,1,Milkweed Sighted,0
91435,1454529632,2016-02-02,Milkweed Sighted,1,30.340,-81.831,1,new growth on old stems,-999999.999,-999999.999,-999999.999,9981454,-999999.999,1,Milkweed Sighted,0
91439,1454531417,2016-02-03,Milkweed Sighted,1,30.177,-85.806,1,"Milkweed growing all winter long, caterpillar...",-999999.999,-999999.999,-999999.999,9974622,-999999.999,1,Milkweed Sighted,0
91450,1454544827,2016-02-03,Milkweed Sighted,1,30.230,-97.714,1,Reporting that my milkweed never froze! Still ...,-999999.999,-999999.999,-999999.999,9962757,-999999.999,1,Milkweed Sighted,0

# Output CSV

In [185]:
JNorth_Milkweed_Site_df.to_csv('JNorth_Milkweed_Site.csv', header=True, mode='w' )

In [186]:
JNorth_Milkweed_Site_df.shape

(1721, 16)

# Output geoJSON

In [187]:
# convert lat-long to floats and change address from ALL CAPS to regular capitalization
JNorth_Milkweed_Site_df['latitude'] = JNorth_Milkweed_Site_df['latitude'].astype(float)
JNorth_Milkweed_Site_df['longitude'] = JNorth_Milkweed_Site_df['longitude'].astype(float)
# JNorth_Milkweed_Site_df['street_address'] = JNorth_Milkweed_Site_df['street_address'].str.title()

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\motte\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [188]:
# we don't need all those columns - only keep useful ones
# cols = ['issue_description', 'issue_type', 'latitude', 'longitude', 'street_address', 'ticket_status']
# df_subset = df[cols]

In [189]:
 # drop any rows that lack lat/long data
# JNorth_Milkweed_Site_df = df_subset.dropna(subset=['latitude', 'longitude'], axis=0, inplace=False)

# print('We have {} geotagged rows'.format(len(df_geo)))
JNorth_Milkweed_Site_df.tail()

,id,sighting_date,species,number,latitude,longitude,flag_location,comments,school,grade,image_url,customerid,number_old,flag_number,species_old,flag_species
210935,1526467159,2020-07-29,Milkweed Sighted,1,39.397,-76.470,1,With two swallowtails. Looks like male and fem...,-999999.999,-999999.999,//journeynorth.org/jnorth/images/userfiles2020...,10020584,-999999.999,1,Milkweed Sighted,0
211035,1526467281,2020-07-30,Milkweed Sighted,1,43.538,-89.581,1,"Swamp milkweed in bloom, Common milkweed also ...",-999999.999,-999999.999,-999999.999,10001240,-999999.999,1,Milkweed Sighted,0
213303,1526470436,2020-06-08,Milkweed Sighted,1,40.920,-77.760,1,"No butterflies thus far (as of 6/8/2020), but ...",-999999.999,-999999.999,-999999.999,9984469,-999999.999,1,Milkweed Sighted,0
227424,1526516099,2020-03-01,Milkweed Sighted,1,29.577,-81.241,1,We have 6 milkweed plants in our yard.,-999999.999,-999999.999,-999999.999,10040163,-999999.999,1,Milkweed Sighted,0
227425,1526520787,2020-05-04,Milkweed Sighted,1,40.817,-89.615,1,Finding milkweed in the usual locations.,-999999.999,-999999.999,-999999.999,9976504,-999999.999,1,Milkweed Sighted,0

In [190]:
JNorth_Milkweed_Site_df['species'].value_counts()

Milkweed Sighted    1721
Name: species, dtype: int64

In [191]:
geojson = df_to_geojson(JNorth_Milkweed_Site_df, cols)

In [192]:
file = open("JNorth_Milkweed_Site.json", "w")
json.dump(geojson, file, indent =4)
file.close()